<div *ngIf="errorMessage">
  <fd-alert type="error">{{ errorMessage }}</fd-alert>
</div>
<div class="sf-section">
  <div *ngIf="environment.getLabel()">
    <div class="sf-toolbar">
      <h1 class="sf-toolbar__header">
        <span>{{ environment.getLabel() }}</span>
      </h1>
      <div class="sf-toolbar__right">
        <button class="tn-button tn-button--text tn-button--small sf-toolbar__item" (click)="openUploadResourceModal()"
          *ngIf="!showSelectFileButton">
          + Deploy new resource to the namespace
        </button>
      </div>
    </div>
    <fd-panel-grid [col]="2">
      <fd-panel>
        <fd-panel-body>
          <div fd-form-set>
            <div fd-form-item>
              <fd-form-label>Name</fd-form-label>
              <input fd-form-control [type]="'text'" value="{{ environment.getLabel() }}" readonly />
            </div>
          </div>
          <div fd-form-set>
            <div fd-form-item>
              <fd-form-label>Namespace-ID</fd-form-label>
              <input fd-form-control [type]="'text'" value="{{ environment.getUid() }}" readonly />
            </div>
          </div>
        </fd-panel-body>
      </fd-panel>
      <fd-panel>
        <fd-panel-body>
          <div class="row">
            <div class="col">
              <div class="sf-sku sf-sku--center">
                <span class="sf-sku__value">
                  {{ services ? services.length : 0 }}
                </span>
                <a class="sf-sku__label" (click)="navigateToServices()">
                  {{ services && services.length === 1 ? 'Service' : 'Services' }}
                </a>
              </div>
            </div>
            <div class="col">
              <div class="sf-sku sf-sku--center">
                <span class="sf-sku__value">
                  {{ boundRemoteEnvironmentsCount | async }}
                </span>
                <span>
                  {{ (boundRemoteEnvironmentsCount | async) === 1
                  ? 'Bound Application'
                  : 'Bound Applications' }}
                </span>
                <a class="sf-sku__label" (click)="navigateToRemoteEnvs()">Show All Applications</a>
              </div>
            </div>
          </div>
        </fd-panel-body>
      </fd-panel>
    </fd-panel-grid>
  </div>
</div>
<div class="sf-section" *ngIf="remoteEnvironments && remoteEnvironments.length > 0">
  <fd-panel>
    <fd-panel-header>
      <fd-panel-head>
        <fd-panel-title>Connected Applications</fd-panel-title>
      </fd-panel-head>
    </fd-panel-header>
    <fd-panel-body>
      <fd-table>
        <fd-table-header>
          <th>Name</th>
          <th>Actions</th>
        </fd-table-header>
        <fd-table-body c>
          <tr *ngFor="let env of remoteEnvironments">
            <td class="tn-has-font-weight-semi">
              <a (click)="navigateToRemoteEnvs(env.name)">{{ env.name }}</a>
            </td>
            <td class="sf-table__td--min text-right">
              <y-list-actions class="" [entry]="env" [entryEventHandler]="entryEventHandler" [actions]="actions"></y-list-actions>
            </td>
          </tr>
        </fd-table-body>
      </fd-table>
    </fd-panel-body>
  </fd-panel>
</div>

<app-resource-uploader-modal #uploaderModal></app-resource-uploader-modal>