.func-repository-config {
  .has-padding-none {
    padding: 0;
  }

  .has-box-shadow-none {
    box-shadow: none;
  }

  .has-none-border-bottom {
    border-bottom: none;
  }

  .fd-panel .fd-panel__head {
    padding-bottom: 10px;
  }
}
