.stats-panel {
  .fd-layout-panel__body {
    position: relative;
  }

  .throbber {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .stats-graph {
    &.cpu {
      --bar-color: var(--sapIndicationColor_7);
    }
    &.memory {
      --bar-color: var(--sapIndicationColor_6);
    }
    &.network {
      --bar-color: var(--sapIndicationColor_5) var(--sapIndicationColor_4);
    }
  }
}
