.stats-panel {
  .fd-layout-panel__body {
    position: relative;
  }

  .throbber {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .stats-graph {
    aspect-ratio: 6/1;
    &.cpu {
      --bar-color: var(--sapIndicationColor_7);
    }
    &.memory {
      --bar-color: var(--sapIndicationColor_6);
    }
    &.network-up {
      --bar-color: var(--sapIndicationColor_5);
    }
    &.network-down {
      --bar-color: var(--sapIndicationColor_4);
    }
  }
}

.error-message {
  font-size: 18px;
  text-align: center;
}
