<div class="labels-input">
  <span title="Edit label" class="fd-token y-fd-token labels" *ngFor="let label of labels" (click)="updateLabel(label)">
    {{ label }}
    <div class="labels__remove" title="Remove label" (click)="removeLabel(label)"></div>
  </span>
  <input #labelsInput type="text" name="labelsInput"
      [(ngModel)]="newLabel" [ngClass]="{'has-labels': labels.length > 0}"
      (keydown.enter)="addLabel()" (keydown.tab)="addLabel()" (keydown.space)="addLabel()" (keyup)="removeWhitespaces()" (blur)="addLabel()"
    placeholder="{{labels.length === 0 ? 'Specify one or more labels for your Application' : ''}}"
    autocomplete="off">
</div>
<fd-form-message [type]="'error'" *ngIf="wrongLabelMessage" >
  {{ wrongLabelMessage }}
</fd-form-message>
