.labels-input {
  border: 1px solid var(--fd-forms-border-color);
  border-radius: 4px;
  width: 100%;
  height: auto;
  padding: 6px 0;
  overflow-x: hidden;
  overflow-y: hidden; // white-space: nowrap;
  padding: 6px 6px 0;

  &:hover {
    --fd-forms-border-color: var(--fd-color-action-hover);
  }

  &:focus-within {
    box-shadow: 0 0 0 1px var(--fd-color-action-focus);
    --fd-forms-border-color: var(--fd-color-action-focus);
  }

  input[type='text'] {
    border: none;
    position: relative;
    height: 26px;
    width: 100%;
    box-shadow: none;
    margin-bottom: 6px;
    padding: 0 6px;

    &.has-labels {
      width: auto;
    }
  }

  .labels {
    position: relative;
    margin-bottom: 6px;

    margin-right: 5px;

    &__remove {
      cursor: pointer;
      width: 25px;
      height: 100%;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      z-index: 2;
    }
    &:after {
      z-index: 1;
    }
  }
}

