:root {
  --solidBg: var(--_ui5-v2-15-0_fcl_solid_bg);
}

#content-wrap {
  width: 100%;
  background: var(--solidBg);
  border-radius: 0.5rem 0.5rem 0 0;
  overflow-y: auto;
}

.content-scroll {
  height: 100%;
}
