@import '../styles/mixins';
@import '~fiori-fundamentals/scss/components/spinner';

$prefix: 'sf-toolbar';
$prefix-section: 'sf-section';

$item-padding-top: 0.8em;
$item-padding-left: 2em;
$item-padding-bottom: 0.8em;
$item-padding-right: 2em;

$item-padding: $item-padding-top $item-padding-left $item-padding-bottom $item-padding-right;

.#{$prefix} {
	display: flex;
	width: 100%;
	min-height: 52px;

	.fd-spinner {
		@include fadeInWithDelay();
	}

	// Remove padding of header in horizontal layout
	&:not(.#{$prefix}--vertical){
		> .#{$prefix}__header:first-child{
			padding-left: 0;
		}
	}

	&__right{
		display: flex;
		margin-left: auto!important;

		> *:last-child{
			padding-right: 0;
		}
	}

	&__item{
		display: flex;
		align-items: center;

		position: relative;
	    vertical-align: middle;
	    line-height: 1;
	    text-decoration: none;
	    flex: 0 0 auto;
	    user-select: none;
	    text-transform: none;
	    transition: background .1s ease,color .1s ease;

	    padding: $item-padding;

	    .#{$prefix}__group{
	    	margin: .5em (-$item-padding-left) 0 (-$item-padding-right);

	    	.#{$prefix}__item{
	    		padding-left: $item-padding-left + 0.8em;
	    	}
	    }

	    &--seperator{
	    	position: relative;
	    	padding: 0;

	    	&:after{
	    		content: '';
	    		position: absolute;
	    		border-left: 1px solid #d7d7d7;
	    		height: 50%;
	    		top: 25%;

	    	}
	    }

	    &.tn-button{
			padding: $item-padding;
			height: auto;
			max-height: none;
	    }


	}

	a{
		&.#{$prefix}__item{
			&:hover{
		    	background: #fff;
		    }
		}
	}

	&__header{
		display: flex;
		align-items: center;
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 0;
		padding: $item-padding;
	}

	&__group{
		// Horizontal Code goes here
		display: flex;
	}

	&--vertical{

		display: block;
		flex-direction: column;


		.#{$prefix}__item{
			display: block;

			&--seperator{
				border: none;
		    	border-bottom: 1px solid #d7d7d7;
		    	padding: 0;
		    	margin: 0;
		    	margin-top: 12px;
		    	margin-bottom: 12px;

		    	&:after{
		    		// Hide Pseudo Element from horizontal alignment
		    		display: none;
		    	}
	    	}
		}

		.#{$prefix}__header{
			padding: 0;
		}

		.#{$prefix}__group{
			display: block;
			flex-direction: column;

			margin-bottom: 12px;
		}
	}

	// Use this modifier for a clear seperation between
	// the toolbar and the underlying content
	&--seperated{
		border-bottom: 1px solid black;
		margin-bottom: 24px;
	}

	&--box{
		border: 1px solid #d7d7d7;
    }

	&--fixed-bottom{
		position: fixed;
		bottom: 0;
		width: 100%;
		left: 0;
		background: #fff;
    }


	// Theme for Main Navigation Sidebar
	&--mainnavigation{
		font-size: 14px;

		.#{$prefix}__item{
			color: #000;
			font-weight: bold;

			&.is-active{
	    		color: #167EE6;
	    	}
		}
		.#{$prefix}__header{
			font-weight: normal;
			color: #63758B;
			font-size: 12px;
			text-transform: uppercase;
		}
	}
}

.#{$prefix-section} {
	padding-bottom: 24px;
	margin-bottom: 24px;

	&:not(:last-child){
		border-bottom: 1px solid #D8D8D8;
	}

	&__headline{
		font-size: 16px;
		font-weight: bold;
	}
	&__empty-spinner {
		max-width: 600px;
		margin: 32px auto;
	}
	&__empty-teaser {
		font-size: 120%;
		text-align: center;
		max-width: 600px;
		margin: 64px auto 0;

		p + img{
			margin-top: 32px;
		}
	}
}
