<div class="sf-toolbar">
  <div class="sf-toolbar__header" *ngIf="!showEmptyPage">{{title}}</div>
  <div class="sf-toolbar__right">
    <div class="sf-toolbar__item" [hidden]="!loaded">
      <y-list-search [filterState]="filterState" [hidden]="showEmptyPage" (onFilterChanged)="onFilterChanged($event)"></y-list-search>
      <y-list-filter [filterState]="filterState" [hidden]="showEmptyPage" (onFilterChanged)="onFilterChanged($event)"></y-list-filter>
    </div>
  </div>
</div>

<y-list-paging [pagingState]="pagingState" (onPageChanged)="onPageChanged($event)"></y-list-paging>

<y-plain-list [source]="data"
  [entryRenderer]="entryRenderer"
  [entryEventHandler]="entryEventHandler">
  <div empty-list-placeholder *ngIf="loading" class="sf-section__empty-teaser">
    <p>Loading ...</p>
  </div>
  <div empty-list-placeholder *ngIf="showEmptyPage" class="sf-section__empty-teaser">
    <h1>{{title}}</h1>
    <p>{{emptyListText}}</p>
    <button class="tn-button tn-button--small tn-button--text" (click)="createNewElement()">+ {{createNewElementText}}</button>
  </div>
</y-plain-list>

<y-list-paging [pagingState]="pagingState" (onPageChanged)="onPageChanged($event)"></y-list-paging>
