.commitment-graph__legend {
  display: flex;
  justify-content: center;
  gap: 0 12px;

  .legend-box {
    height: 1em;
    width: 1em;
    display: inline-block;
    margin-right: 0.5em;

    &--requests {
      background: var(--sapContent_Illustrative_Color3);
    }

    &--limits {
      background: var(--sapContent_Illustrative_Color2);
    }

    &--capacity {
      background: var(--sapContent_Illustrative_Color6);
    }

    &--cpu {
      background: var(--sapIndicationColor_7);
    }

    &--memory {
      background: var(--sapIndicationColor_6);
    }

    &--nodes {
      background: var(--sapNeutralColor);
    }

    &--network-up {
      background: var(--sapIndicationColor_4);
    }

    &--network-down {
      background: var(--sapIndicationColor_5);
    }

    &--used-space {
      background: var(--sapIndicationColor_3);
    }

    &--free-space {
      background: var(--sapContent_ForegroundColor);
    }
  }
}
