.kubeconfig-list {
  a {
    max-width: 100%;
    color: var(--sapLinkColor);
    font-family: var(--sapFontBoldFamily);
    font-size: var(--sapFontSize);
    cursor: pointer;
    outline: none;
    text-decoration: var(--_ui5_link_text_decoration);
    text-shadow: var(--sapContent_TextShadow);
    white-space: normal;
    overflow-wrap: break-word;

    &:hover {
      text-decoration: underline;
    }
  }
}
