.resource-form__wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100% - 21px - 36px);
  position: relative;
}

.resource-form__overlay {
  position: absolute;
  //background-color: rgba(4,4,4,0.8);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 20;
  display: flex;
  align-items: center;
}

.resource-form__editor {
  position: relative;
  width: calc(100% - 2px);
  height: calc(100% - 21px - 36px); // avoid v-scroll
  overflow: hidden;
  flex-grow: 1;
  border: 1px solid var(--sapNeutralBackground);

  .resource-form__legend {
    width: 100%;
  }

  .resource-form__editor__error {
    inset: 0;

    & > * {
      bottom: 0;
      left: 50px;
      position: absolute;
    }
  }
}
