@import '~fundamental-styles/dist/fundamental-styles-ie11.min.css';

.link {
  color: var(--fd-color-action-1);
  text-decoration: underline;
  cursor: pointer;
}

.fd-action-bar__actions .fd-popover {
  top: 0 !important;
}

.fd-page__header--columns {
  .fd-action-bar__description {
    width: 100%;
    margin-top: 8px;
  }
  .columns__value {
    display: block;
    color: var(--fd-color-text-1);
  }
  a,
  fd-icon {
    display: inline;
  }
}

.y-fd-token {
  &.y-fd-token--no-button {
    cursor: default;
    &:after {
      all: unset;
    }
  }

  &.y-fd-token--gap:not(:last-of-type) {
    margin-right: 8px;
  }
}

.fd-panel.fd-panel--no-background {
  background-color: transparent;
}

.fd-pagination {
  text-align: center;
}

.fd-modal {
  &__actions {
    *:not(:last-child) {
      margin-right: 8px;
    }
  }
}
