<div luigiClientCommunication [isActive]="isActive">
  <fd-modal class="y-fd-modal" #createNamespaceModal role="dialog" aria-labelledby="createNamespace"
    data-e2e-id="create-namespace-modal">
    <fd-modal-header>
      Create New Namespace
    </fd-modal-header>
    <fd-modal-body>
      <div class="fd-alert fd-alert--error fd-has-margin-bottom-small" role="alert" *ngIf="err">
        {{ err }}
      </div>
      <div fd-form-set>
        <div fd-form-item>
          <fd-form-label>Namespace Name *</fd-form-label>
          <input fd-form-control [type]="'text'" placeholder="" name="namespaceName" [(ngModel)]="namespaceName"
            (ngModelChange)=validateRegex() [state]="wrongName ? 'invalid' : undefined">
          <fd-form-message [type]="'error'" *ngIf="wrongName">The namespace name has the wrong format. The name must
            consist of lower case alphanumeric characters or dashes, and must start and end with an alphanumeric
            character. (e.g. 'my-name1')</fd-form-message>
        </div>
      </div>
    </fd-modal-body>
    <fd-modal-footer>
      <button fd-button [options]="'light'" (click)="cancel()">
        Cancel
      </button>
      <button fd-button class="namespace-create-btn" [fdType]="'main'" (click)="createNamespace()"
        [disabled]="(!namespaceName) || wrongName" data-e2e-id="create-namespace-button">
        Create
      </button>
    </fd-modal-footer>
  </fd-modal>
</div>