apiVersion: v1
kind: ConfigMap
metadata:
  name: testresources
  namespace: testin
  labels:
    app.kubernetes.io/name: testresources
    busola.io/extension: resource
    busola.io/extension-version: '0.5'
data:
  dataSources: |-
    otherTestResources:
      resource:
        kind: TestResource
        group: busola.example.com
        version: v1
  details: |-
    body:
      - name: Simple name
        source: spec.name
      - name: Advanced name
        source: spec.advancedName
        widget: Panel
        children:
          - name: Name
            source: name
          - name: Type
            source: type
  form: |-
    - var: enumVar
      name: Simple / Advanced
      simple: true
      type: string
      enum:
        - simple
        - advanced
    - path: spec.name
      name: Simple name
      simple: true
      visibility: $enumVar = 'simple'
    - path: spec.advancedName
      name: Advanced
      simple: true
      widget: FormGroup
      visibility: $enumVar = 'advanced'
      children:
        - path: name
          simple: true
          name: Name
        - path: type
          simple: true
          name: Type

    - var: varWithDefaultValue
      name: varWithDefaultValue
      type: string
      simple: true
      widget: Text
      defaultValue: 'default'

    - var: varWithDynamicValue
      name: varWithDynamicValue
      simple: true
      widget: Text
      dynamicValue: '$root.metadata.name = "resource-name" ? "default name" : "unnamed"'

    - path: spec.prefix
      name: Prefix
      simple: true
      trigger: [combined]

    - var: anotherName
      name: anotherName
      simple: true
      widget: Text
      trigger: [combined]

    - path: spec.suffix
      name: Suffix
      simple: true
      trigger: [combined]

    - path: spec.combined
      name: Combined
      simple: true
      subscribe:        
        combined: "spec.prefix & $anotherName & spec.suffix"

    - simple: true
      path: spec.trigger
      name: Trigger
      trigger: [testTrigger]

    - simple: true
      path: spec.existingResources
      name: Existing resources
      subscribe:        
        testTrigger: "$string($otherTestResources().items.metadata.name)"

    - widget: GenericList
      path: spec.arrayOfObjects
      simple: true
      children:
        - path: '[].withValue'
          name: withValue
          simple: true
        - path: '[].withoutValue'
          name: withoutValue
          simple: true
      template:
        withValue: 'string'

  general: |-
    resource:
      kind: TestResource
      group: busola.example.com
      version: v1
    name: Test Resources
    category: Testin
    urlPath: testresources
    scope: namespace
    description: >-
      Customize the Test Resources view further with the Busola {{[extensibility
      docs](https://github.com/kyma-project/busola/tree/main/docs/extensibility)}}.
  list: |-
    - name: Simple name
      source: spec.name
    - name: Advanced Name
      source: spec.advancedName.name
    - name: Advanced Type
      source: spec.advancedName.type
  presets: |-
    - name: default
      default: true
      value:
        metadata:
          name: resource-name
    - name: Fixes
      value:
        spec:
          prefix: prefix
          suffix: suffix
