
.grid-input-fields {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.8em;
  margin-top: 1em;

  .fd-form-label {
    text-align: right;
  }

  .padding-right {
    padding-right: .5rem;
  }
}