<div class="container-fluid sf-content">
  <div class="sf-toolbar">
    <div class="sf-toolbar__item sf-toolbar__item--breadcrumb">
      <a (click)="goBack()">Ingresses</a> / {{ ingressName }} 
    </div>
    <div class="sf-toolbar__right">
    <app-edit-resource [resourceData]="ingressDetailsToEdit" *ngIf="!loadingToEdit" class="sf-toolbar__item"></app-edit-resource>
    </div>
  </div>
  <p *ngIf="loading">
    Loading ...
  </p>
  <p *ngIf="!loading && errorMessage" class="error-message">
    {{ errorMessage }}
  </p>
  <div *ngIf="ingressDetails">
    <section class="sf-section">
      <div class="sf-panel">
        <div class="sf-panel__content">
        <div class="row">
          <div class="col-sm-4">
            <label class="tn-form__label"> Name </label>
          </div>
          <div class="col-sm-8">
            <span> {{ ingressDetails.objectMeta.name }} </span>
          </div>
          <div class="col-sm-4">
            <label class="tn-form__label"> Namespace </label>
          </div>
          <div class="col-sm-8">
            <span> {{ ingressDetails.objectMeta.namespace }} </span>
          </div>
          <div class="col-sm-4" *ngIf="ingressDetails.objectMeta.labels">
            <label class="tn-form__label"> Labels </label>
          </div>
          <div class="col-sm-8" *ngIf="ingressDetails.objectMeta.labels">
            <span class="tn-badge tn-badge--pill sf-list__label" *ngFor="let labelsKey of objectKeys(ingressDetails.objectMeta.labels)">
              {{ labelsKey }}: {{ ingressDetails.objectMeta.labels[labelsKey] }} 
            </span>
          </div>
          <div class="col-sm-4" *ngIf="ingressDetails.objectMeta.annotations">
            <label class="tn-form__label"> Annotations </label>
          </div>
          <div class="col-sm-8" *ngIf="ingressDetails.objectMeta.annotations">
            <span class="tn-badge tn-badge--pill sf-list__label" *ngFor="let annotationsKey of objectKeys(ingressDetails.objectMeta.annotations)">
              {{ annotationsKey }}: {{ ingressDetails.objectMeta.annotations[annotationsKey] }}
            </span>
          </div>
          <div class="col-sm-4">
            <label class="tn-form__label"> Creation time </label>
          </div>
          <div class="col-sm-8">
            <span> {{ ingressDetails.objectMeta.creationTimestamp }} </span>
          </div>
        </div>
      </div>
      </div>
    </section>
  </div>
</div>
