.secret-wrapper {
  width: 100%;
  column-span: all;

  margin-bottom: 16px !important;
  margin-top: 16px !important;

  display: flex !important;
  justify-content: center;

  font-size: 1.8rem;
}

.secret-panel {
  & > :first-child {
    margin-bottom: 8px;
  }

  & > *:not(:first-child) {
    margin-left: 32px !important;
    margin-right: 32px !important;

    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 8px !important;
  }

  .fd-panel__footer {
    word-break: break-word;
  }
}

.show-more-expand {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.show-more-collapse {
  white-space: pre-wrap;
}
