.status {
  color: var(--sapNeutralColor);
  min-width: 16px;
  margin-right: 16px;

  &-message-success {
    color: var(--sapPositiveColor);
  }

  &-error {
    color: var(--sapNegativeColor);
  }
}

.hidden-announcement {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}
