.page-header {
  .fd-layout-panel__title {
    .fd-title {
      font-size: var(--sapFontHeader3Size);
    }
    // font-size: 1.5rem;
    word-break: break-word;
  }

  .fd-layout-panel__actions {
    display: flex;
    &.is-catalog {
      flex-grow: 1;
    }
  }

  .description {
    // font-size: 14px;
    margin-top: 4px;
  }

  .protected-resource-warning {
    margin-right: 1rem;
    align-self: center;

    i {
      font-size: 1.5rem;
    }
  }
}

.header-wrapper {
  flex-grow: 1;
  font-size: var(--sapFontSize);
}
.column-wrapper {
  display: grid;
  grid-gap: 8px;
  margin-top: 8px;

  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  &-even-split {
    grid-template-columns: 50% 50%;
  }
}
.page-header__column {
  display: inline-block;

  .title,
  .content {
    display: block;
    // font-size: 1rem;
  }

  .image {
    display: inline-block;
    margin-right: 0.5rem;
  }

  .content-container {
    display: inline-block;
    width: 100%;
  }

  .title {
    color: var(--sapNeutralColor);
    margin-bottom: 4px;
  }
}
