.secret-ref-form {
  textarea {
    resize: vertical;
    height: 26px;
  }

  .ref-validation-icon {
    color: var(--sapCriticalColor);
    font-weight: bolder;
    margin-top: 5px;
  }

  .validation-message {
    width: 26px;
    flex-basis: 26px;
    margin-right: 1rem;
  }

  li > * {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    flex-basis: 0;
    flex-shrink: 0;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  .secret-name-dropdown,
  .secret-key-dropdown {
    width: 20vw;
  }

  .secret-content {
    flex-grow: 1;
  }
}
