.secret-ref-form li {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 8px;
}

.ref-validation-icon {
  color: var(--sapCriticalColor);
  font-weight: bolder;
  margin-top: 5px;
}

.validation-message {
  width: 32px;
}

.dropdown {
  width: 20vw;
}

textarea {
  resize: vertical;
  width: 10vw;
  min-height: 30px;
}

.ref-button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: -10px;
  margin-bottom: 10px;

  button {
    margin-top: 8px;
  }
}
