.bsl-panel-header {
  &::part(header) {
    padding-left: 0;
    padding-right: 0;
  }

  &::part(content) {
    padding: 0;
    overflow: hidden;
  }
}

.toolbar {
  container-type: inline-size;
}

.toolbar > :first-child {
  display: flex;
  align-items: center;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 8px;
}
.invisible {
  visibility: hidden;
}

@container (max-width: 625px) {
  .invisible,
  .toolbar-spacer {
    display: none;
  }
}

@container (max-width: 450px) {
  .toolbar > :first-child {
    align-items: end;
  }
}
