.bsl-panel-header {
  &::part(header) {
    padding-left: 0;
    padding-right: 0;
  }

  &::part(content) {
    padding: 0;
  }
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 8px;
}
.invisible {
  visibility: hidden;
}

@container (max-width: 625px) {
  .invisible,
  .toolbar-spacer {
    display: none;
  }
}
