$primary: #167EE6;
$hover-border-input: #009cdf;
$dark-grey: #808080;
$middle-dark-grey: #9e9a9a;
$light-grey: #eaeaea;
$black: black;
$red: red;
$light-red: rgba(255, 0, 0, 0.1);
$circle-font-color: white;
$grey: #d8d8d8;
$white: #ffffff;
$hover: #008ac6;
:host {
  overflow: hidden;
  padding: 0;
}

.fd-breadcrumb__item a {
  cursor: pointer;
}

.lambda-name {
  pointer-events: none;
}

.ace-editor {
  ace-editor {
    min-height: 100px;
    width: 100%;
    overflow: auto;
    border-top: none;
  }
}

a.disabled {
  pointer-events: none;
  cursor: default;
  color: grey;
}

.trigger-body {
  display: block;
  overflow: auto;
  padding: 15px;
}

.trigger-entry-list {
  max-height: 256px;
  overflow-y: auto;
  line-height: 26px;
}

.trigger-entry-list::-webkit-scrollbar {
  width: 8px;
}

.trigger-entry-list::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
}

.trigger-entry-list:hover::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
}

.securedHTTPTrigger {
  height: 10px;
  width: 10px;
}

div[hidden] { display: none; }

// fiorification additions
.ace_editor {
  border-radius: 4px;
  border: 1px solid $grey;
}
.ace_gutter {
  z-index: 1 !important;
}
.fd-panel__filters {
  padding-top: 0;
  padding-bottom: 0;
}

.fd-section .fd-popover__body {
  z-index: 10;
}
.y-fd-token {
  position: relative;

  .y-fd-popover--position {
    position: absolute;
    bottom: -5px;
    left: 0;
  }
}


.labels {
  position: relative;
  margin-bottom: 6px;
  margin-right: 5px;

  &__remove {
    cursor: pointer;
    width: 25px;
    height: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 2;
  }
  &:after {
    z-index: 1;
  }
}