<div class="sf-toolbar">
  <div class="sf-toolbar__header">{{ title }}</div>
  <div class="sf-toolbar__right">
    <div class="sf-toolbar__item">
      <button class="tn-button tn-button--small tn-button--text cancel" (click)="cancel()">Cancel</button>
      <button class="tn-button tn-button--small sf-button--primary" (click)="deployLambda()" [disabled]="!lambda.metadata.name || !isLambdaFormValid">{{ mode == 'create'?'Create':'Save' }}</button>
    </div>
  </div>
</div>

<section class="sf-section" *ngIf="loaded | async">

  <div class="sf-panel" *ngIf="error">
    <div class="sf-alert sf-alert-danger">{{ error }}</div>
  </div>

  <div class="sf-panel">
    <div class="sf-panel__head">
      <h2> General Information </h2>
    </div>
    <div class="sf-panel__content">
      <div class="row">
        <div class="tn-form__group col-sm-6 col-lg-4">
          <div class="tn-form__item">
            <label class="tn-form__label" for="input-1">Function Name *</label>
            <input class="tn-form__control" type="text" id="input-1" [(ngModel)]="lambda.metadata.name" [attr.disabled]="mode==='create'?null:''"
                   (keyup)="validatesName()">
            <div *ngIf="isFunctionNameInvalid">
              <p class="alert">Invalid name: must consist of lower case alphanumeric characters or '-', start with an alphabetic character, and end with an alphanumeric character (e.g. 'my-name',  or 'abc-123')</p>
            </div>
          </div>
        </div>
        <div class="tn-form__group col-sm-6 col-lg-4">
          <div class="tn-form__item">
            <label class="tn-form__label" for="input-2">Labels</label>
            <div class="labels-input" id="input-2">
              <span title="Edit label" class="tn-badge-labels tn-badge tn-badge--pill labels" *ngFor="let label of labels"
                    (click)="updateLabel(label)">
                {{ label }}
                  <div class="tn-icon tn-icon--remove remove-btn labels__remove" (click)="removeLabel(label)"></div>
              </span>
              <input #labelsInput type="text" [(ngModel)]="newLabel" (keydown.enter)="addLabel()" (keydown.tab)="addLabel()"
                     [attr.disabled]="(!lambda.metadata.name || isFunctionNameInvalid) ? '':null" (blur)="addLabel()">
            </div>
            <div *ngIf="wrongLabel" class="alert alert-danger">
            {{ wrongLabelMessage }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="sf-panel" [hidden]="(loaded | async) === false">
  <div class="tn-form__group ace-editor">
    <div class="tn-form__item">
      <div class="sf-panel__head">
        <div class="sf-panel__headline-wrap">
          <h2> Code </h2>
          <div class="sf-toolbar sf-toolbar--box sf-trigger-list">
            <div class="sf-toolbar__item sf-trigger-list-elements">
              <div [ngClass]="selectedTriggers.length > 0 ? 'lambda-editor-header-list' : 'lambda-editor-header-list-first-elem'">
                <button class="tn-button tn-button--small tn-button--text" (click)="toggleTriggerTypeDropdown($event)"
                        dropdown="triggerType" [disabled]="!lambda.metadata.name || isFunctionNameInvalid">Select Function
                  Trigger</button>
                <div (mouseleave)="closeTriggerTypeDropDown()">
                  <div class="tn-dropdown__menu trigger-menu" [attr.aria-hidden]="!toggleTriggerType">
                    <ul class="tn-dropdown__menu trigger-menu">
                      <li>
                        <a [class.disabled]="lambda.metadata.name.length <=0 || isFunctionNameInvalid" (click)="showEventTrigger()"
                           class="tn-dropdown__item">Event Trigger</a>
                      </li>

                      <li>
                        <a [class.disabled]="lambda.metadata.name.length <= 0 || isFunctionNameInvalid || isHTTPTriggerAdded"
                           (click)="showHTTPTrigger()" class="tn-dropdown__item">Expose via HTTPS</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <ng-container *ngIf="selectedTriggers.length > 0">
                <div class="trigger-event" *ngFor="let trigger of selectedTriggers">

                  <div (mouseover)="onMouseOver(trigger) " (click)="onMouseOver(trigger) " class="selected-trigger__item tn-badge tn-badge--pill tn-badge-trigger labels">

                    <span class="tn-icon tn-icon--remove labels__remove" (click)="unselectEvent(trigger);$event.stopPropagation();">
                    </span>

                    <span *ngIf="trigger.eventType === 'http' && isHTTPTriggerAuthenticated" class="securedHTTPTrigger"></span>

                    <strong>{{ trigger.eventType }}</strong>
                    <ng-container *ngIf="trigger.eventType!=='http'">- {{ trigger.version }} </ng-container>

                    <div clickOutsideEvents="click" (clickOutside)="hideHTTPURL()" [exclude]="'.tn-badge--pill'"
                         excludeBeforeClick="true" class="tn-dropdown__menu trigger-menu" *ngIf="showHTTPURL == trigger">
                      <div class="trigger-body">
                        https://{{ httpURL }}/
                      </div>
                      <div class="trigger-footer">
                        <button *ngIf="isHTTPTriggerAuthenticated" class="tn-button tn-button--small tn-button--text"
                                (click)=showFetchTokenModal()>
                          Fetch Token
                        </button>
                        <button class="tn-button tn-button--small tn-button--text" (click)=copyHTTPURLEndpoint($event)>
                          Copy to clipboard
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
            <div class="sf-toolbar__item sf-toolbar__right sf-typeselect">
              <div class="tn-form__group sf-dropdown__lambda-type">
                <label class="tn-form__label">Size: </label>
                <div class="tn-dropdown" (mouseleave)="closeSizeDropDown()">
                  <button class="tn-dropdown__control" aria-controls="nNJnB2719" aria-expanded="false" aria-haspopup="true"
                          (click)="toggleSizeDropDown()" [disabled]="!lambda.metadata.name || isFunctionNameInvalid">
                  {{ selectedFunctionSizeName }}
                  </button>
                  <div class="tn-dropdown__menu text-left" [attr.aria-hidden]="sizeDropdownHidden">
                    <div class="tn-dropdown__item" *ngFor="let item of functionSizes" (click)="selectSize(item)">
                    <div>{{ item.name }}</div><br><div>{{ item.description }}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tn-form__group sf-dropdown__lambda-type">
                <label class="tn-form__label">Type: </label>
                <div class="tn-dropdown" (mouseleave)="closeTypeDropDown()">
                  <button class="tn-dropdown__control" aria-controls="nNJnB279" aria-expanded="false" aria-haspopup="true" (click)="toggleTypeDropDown()"
                          [disabled]="!lambda.metadata.name || isFunctionNameInvalid">
                  {{ kind }}
                  </button>
                  <div class="tn-dropdown__menu text-left" [attr.aria-hidden]="typeDropdownHidden">
                    <div class="tn-dropdown__item" *ngFor="let type of types" (click)="selectType(type)">
                    {{ type.kind }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ace-editor #editor [(text)]="code" [mode]="aceMode" [theme]="theme" (textChanged)="onCodeChange($event)"></ace-editor>
    </div>
  </div>
</section>

<section class="sf-section" [hidden]="(loaded | async)  === false">
  <div class="tn-form__group ace-editor">
    <div class="tn-form__item">
      <div class="sf-toolbar">
        <button *ngIf="(hasDependencies | async) === false" class="tn-button tn-button--small tn-button--stroked"
                (click)="addDependencies()" [disabled]="!lambda.metadata.name || isFunctionNameInvalid">
          + Add Dependencies
        </button>
        <div class="sf-toolbar__item" *ngIf="(hasDependencies | async)">
          <h4>
            Dependencies
          </h4>
        </div>
        <div class="sf-toolbar__right">
          <div class="sf-toolbar__item">
            <button *ngIf="(hasDependencies | async)" class="tn-button sf-button--danger tn-button--small tn-button--text"
                    (click)="removeDependencies()">
              Remove
            </button>
          </div>
        </div>
      </div>
      <div [hidden]="(hasDependencies | async) === false ">
        <ace-editor #dependencyEditor [(text)]="dependency" [mode]="aceDependencyMode" [theme]="theme" (textChanged)="onDependencyChange($event)"></ace-editor>
      </div>
    </div>
  </div>
</section>

<section class="sf-panel" *ngIf="loaded | async">
</section>

<section class="sf-panel" *ngIf="loaded | async">
  <app-lambda-instance-bindings [lambdaName]="lambda.metadata.name" [isLambdaNameInvalid]="isFunctionNameInvalid"
                                (bindingStateEmitter)="handleBindingStateEmitter($event)"></app-lambda-instance-bindings>
</section>

<section class="sf-panel" *ngIf="loaded | async">
  <app-lambda-env-table [envs]="lambda.spec.deployment.spec.template.spec.containers[0].env" [lambdaName]="lambda.metadata.name"
                        [isLambdaNameInvalid]="isFunctionNameInvalid" (envEmitter)="handleEnvEmitter($event)"></app-lambda-env-table>

</section>
<app-fetch-token-modal #fetchTokenModal></app-fetch-token-modal>
<app-event-trigger-chooser #eventTriggerChooserModal (eventEmitter)="handleEventEmitter($event)"></app-event-trigger-chooser>
<app-http-trigger #httpTriggerModal (httpEmitter)="handleHttpEmitter($event)"></app-http-trigger>
