.message {
  max-width: 80%;
  padding: 12px;
  background-color: var(--sapAssistant_Answer_Background);

  &.no-background {
    background-color: var(--sapTile_Background);
  }

  &.loading {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .loading-item {
      gap: 8px;

      .text {
        flex-grow: 1;
      }

      .loading-status {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 35px;
      }
    }
  }

  .bold {
    font-weight: bold;
    font-size: 0.925rem;
  }

  .highlighted {
    background-color: var(--sapContent_LabelColor);
    color: white;
    padding: 0.1rem 0.2rem;
    margin: 0.1rem 0;
    border-radius: 4px;
  }

  .text {
    line-height: 1.35;
    white-space: pre-line;
    display: inline;
  }
}

.ai-busy-indicator {
  color: var(--sapAssistant_Color2);
  width: fit-content;
}
