.message-container {
  margin-inline: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &.left-aligned {
    justify-content: start;
  }

  &.right-aligned {
    justify-content: end;
  }

  .message {
    max-width: 80%;
    padding: 12px;
    background-color: var(--sapAssistant_Answer_Background);

    &.right-aligned {
      border-radius: 8px 8px 0 8px;
      background-color: var(--sapAssistant_Question_Background);
    }

    &.left-aligned {
      border-radius: 8px 8px 8px 0;
    }

    .bold {
      font-weight: bold;
      font-size: 0.925rem;
    }

    .highlighted {
      background-color: var(--sapContent_LabelColor);
      color: white;
      padding: 0.1rem 0.2rem;
      margin: 0.1rem 0;
      border-radius: 4px;
    }

    .text {
      line-height: 1.35;
      white-space: pre-line;
      display: inline;
    }
  }
}

.ai-busy-indicator {
  width: fit-content;
}
