<header class="fd-page__header fd-has-background-color-background-2">
  <section class="fd-section">
    <fd-breadcrumb>
      <fd-breadcrumb-item>
        <a href="javascript:void(null)" fd-breadcrumb-link (click)="navigateToList()">
          Secrets
        </a>
      </fd-breadcrumb-item>
      <fd-breadcrumb-item>
        <span fd-breadcrumb-link>
          {{ secretName }}
        </span>
      </fd-breadcrumb-item>
    </fd-breadcrumb>
    <div fd-action-bar>
      <div fd-action-bar-header>
        <h3 fd-action-bar-title>
          {{ secretName }}
        </h3>
      </div>
      <div fd-action-bar-actions>
        <app-edit-resource [resourceData]="secretDetails"></app-edit-resource>
      </div>
    </div>
  </section>
</header>
  
<section class="fd-section">
  <p *ngIf="loading">
    Loading ...
  </p>

  <div class="fd-alert fd-alert--error fd-has-margin-bottom-small" role="alert" *ngIf="!loading && errorMessage">
    {{ errorMessage }}
  </div>


  <fd-panel class="y-fd-panel" *ngIf="secretDetails">
    <fd-panel-header>
      <fd-panel-head>
        <h2 fd-panel-title>Details</h2>
      </fd-panel-head>
    </fd-panel-header>
    <fd-panel-body [bleed]="true">
      <table class="fd-table fd-table--no-borders">
        <tbody>
          <tr>
            <td class="y-fd-table--col-2 fd-has-color-text-4">Name</td>
            <td>{{ secretDetails.metadata.name }}</td>
          </tr>
          <tr>
            <td class="fd-has-color-text-4">Namespace</td>
            <td>{{ secretDetails.metadata['namespace'] }}</td>
          </tr>
          <tr *ngIf="annotations">
            <td class="fd-has-color-text-4">Annotations</td>
            <td>
              <div *ngFor="let annotationInfo of annotations">
                <a href="javascript:void(null)" title="Show annotation information" (click)="annotationDetails(infos)">
                  {{ annotationInfo.name }}
                </a>
                <app-information-modal #infos [title]="annotationInfo.name" [message]="annotationInfo.value">
                </app-information-modal>
              </div>
            </td>
          </tr>
          <tr>
            <td class="fd-has-color-text-4">Creation Time</td>
            <td>{{ secretDetails.metadata.creationTimestamp }}</td>
          </tr>
        </tbody>
      </table>
    </fd-panel-body>
  </fd-panel>
</section>

<section class="fd-section" *ngIf="secretDetails">
  <fd-panel class="y-fd-panel">
    <fd-panel-header>
      <fd-panel-head>
        <h2 fd-panel-title>Data</h2>
      </fd-panel-head>
    </fd-panel-header>
    <fd-panel-body [bleed]="true">
      <table class="fd-table fd-table--no-borders">
        <tbody>
          <tr *ngFor="let dataInfo of data">
            <td class="y-fd-table--col-2 fd-has-color-text-4">{{ dataInfo.name }}</td>
            <td class="y-fd-table--col-2">
              <a href="javascript:void(null)" (click)="toggleSecret(dataInfo)">{{ dataInfo.show ? 'Hide' : 'Show' }} details</a>
            </td>
            <td class="y-fd-table--col-8 y-word-break">{{ dataInfo.show ? dataInfo.value : dataInfo.length + ' bytes' }}
            </td>
          </tr>
        </tbody>
      </table>
    </fd-panel-body>
  </fd-panel>
</section>
