{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3,
        "modules": "commonjs",
        "targets": {
          "node": 12
        }
      }
    ]
  ]
}
