.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.DS_Store
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

node_modules
.pnp
.pnp.js
**/node_modules
**/.pnp
**/.pnp.js

npm-debug.log*
lerna-debug.log*
yarn-debug.log*
yarn-error.log*
**/npm-debug.log*
**/lerna-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

.idea
.vscode
**/.idea
**/.vscode

dist
lib
coverage
build
react-components/index.js
temp
licenses
**/dist
**/lib
**/coverage
**/build
**/react-components/index.js
**/temp
**/licenses

scripts/clusterRegistry.txt

tests/cypress/*
tests/fixtures/orders-function.js
tests/fixtures/kubeconfig.yaml
tests/fixtures/sa-kubeconfig.yaml

core-ui/public/themes/@sap-theming/*
service-catalog-ui/public/themes/@sap-theming/*
