# Default owners of the repository
* @akucharska @mrCherry97 @valentinvieriu @chriskari @OliwiaGowor

# Owners of all .md files in the repository
*.md @NHingerl @grego952 @IwonaLanger @nataliasitko @mmitoraj

public/i18n/ @NHingerl @grego952 @IwonaLanger @nataliasitko @mmitoraj
