<section class="fd-section">
  <fd-panel class="y-fd-panel">
    <fd-panel-header>
      <fd-panel-head>
        <h2 fd-panel-title>Service Bindings</h2>
      </fd-panel-head>
      <fd-panel-actions>
        <button fd-button [options]="'light'" [glyph]="'add'" [compact]="true"
          [disabled]="!lambdaName || isLambdaNameInvalid" (click)="showBindingCreatorModal()">
          Create Service Binding
        </button>
      </fd-panel-actions>
    </fd-panel-header>
  </fd-panel>

  <fd-panel class="y-fd-panel" *ngIf="instanceBindingInfoList.length > 0">
    <fd-panel-body [bleed]="true">
      <table class="fd-table y-fd-table">
        <thead>
          <tr>
            <th class="y-fd-table--col-4">Instance</th>
            <th class="y-fd-table--col-7">Environment Variable Name</th>
            <th class="y-fd-table--col-1"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="
              let instanceBinding of instanceBindingInfoList;
              let i = index
            ">
            <td>
              {{ instanceBinding.instanceName }}
            </td>
            <td>
                <div *ngFor="let envVar of instanceBinding.envVarNames ; index as j" [attr.data-index]="j">
                  <p class="y-fd-table--col-12 y-word-break"
                    *ngIf="instanceBinding.instanceBindingPrefix!='undefined-', else onlyEnvVar">
                    {{ instanceBinding.instanceBindingPrefix + envVar }}
                  </p>
                  <ng-template #onlyEnvVar>
                    <p class="y-fd-table--col-12 y-word-break">
                      {{ envVar }}
                    </p>
                  </ng-template>
                </div>
            </td>
            <td class="fd-has-float-right">
              <button fd-button [options]="'light'" [glyph]="'delete'" [compact]="true" (click)="remove(i)"
                [disabled]="!lambdaName || isLambdaNameInvalid"></button>
            </td>
          </tr>
        </tbody>
      </table>
    </fd-panel-body>
  </fd-panel>
</section>
<app-lambda-instance-binding-creator [alreadyAddedInstances]="instanceBindingInfoList" #bindingCreatorModal
  (selectedServiceBindingEmitter)="addServiceBinding($event)"></app-lambda-instance-binding-creator>
