// Include Fiori Fundamentals
$fd-icons-path: '~fiori-fundamentals/scss/icons/';
$fd-fonts-path: '~fiori-fundamentals/scss/fonts/';
@import '~fiori-fundamentals/scss/all.scss';
@import 'styles/fiori-fundamentals-overrides';
