@import 'styles/_variables';

@import 'styles/overrides';
@import 'styles/font';
@import 'styles/toolbar';
@import 'styles/list';
@import 'styles/panel';
@import 'styles/alert';
@import 'styles/modal';


/* You can add global styles to this file, and also import other style files */
$sf-base-color-yellow: #FDB813;


body {
  padding: 24px;
  width: 100%;
  height: 100%;
  background-color: #f3f4f5;
  font-family: '72', Arial, sans-serif;
}

html {
	font-size: 14px;
  width: 100%;
  height: 100%;
}

.tn-badge {
  margin-right: 8px;
  margin-bottom: 8px;
  border: none;
  background: #515559;
  color: #fff;
}

.tn-button--link,
.tn-button--text,
.tn-modal__button-secondary {
  color: $sf-base-color-blue;
}
a {
  color: $sf-base-color-blue;

  &:hover {
    color: $sf-base-color-darkblue;
  }
}

.tn-button--text {
		text-transform: none;
  &:hover {
    text-decoration: underline;
  }
}


.tn-button--stroked {
  background-color: transparent;
  color: #0A6ED1;
  border: 1px solid #0A6ED1;

  &:hover {
    background-color: transparent;
    border-width: 2px;
    border-color: #0857A6;
    color: #0857A6;
    padding: 0 15px;
    line-height: 38px;
  }
}

.tn-dropdown__item {
  text-align: left;
}

$sf-base-color-red: #e02121;
$sf-dark-color-red: #A92121;

.sf-button--danger {
  color: $sf-base-color-red;
  &:hover {
    color: $sf-dark-color-red;
  }
}

.sf-section__empty-teaser {
  font-size: 120%;
  text-align: center;
  max-width: 600px;
  margin: 64px auto 0;

  p + img{
    margin-top: 32px;
  }
}

h2.sf-section__headline {
	margin-top: 32px;
}

input[type=date]:not(:disabled):focus,
input[type=date]:not(:disabled):hover,
input[type=email]:not(:disabled):focus,
input[type=email]:not(:disabled):hover,
input[type=number]:not(:disabled):focus,
input[type=number]:not(:disabled):hover,
input[type=password]:not(:disabled):focus,
input[type=password]:not(:disabled):hover,
input[type=search]:not(:disabled):focus,
input[type=search]:not(:disabled):hover,
input[type=tel]:not(:disabled):focus,
input[type=tel]:not(:disabled):hover,
input[type=text]:not(:disabled):focus,
input[type=text]:not(:disabled):hover,
input[type=url]:not(:disabled):focus,
input[type=url]:not(:disabled):hover,
textarea:not(:disabled):focus,
textarea:not(:disabled):hover {
  border-color: #73B9FF;
  border-width: 2px;
  padding: 0 7px;
}

.is-disabled.tn-modal__button-primary,
.is-disabled.tn-modal__button-secondary,
.tn-button.is-disabled,
.tn-button:disabled,
.tn-button[aria-disabled=true],
.tn-modal__button-primary:disabled,
.tn-modal__button-secondary:disabled,
[aria-disabled=true].tn-modal__button-primary,
[aria-disabled=true].tn-modal__button-secondary {
  border-radius: 4px;
  outline: none;
  border: 1px solid #d7d7d7;
}
