// Include Fiori Fundamentals
$fd-icons-path: '~fiori-fundamentals/scss/icons/';
$fd-fonts-path: '~fiori-fundamentals/scss/fonts/';
@import '~fiori-fundamentals/scss/helpers.scss';
@import '~fiori-fundamentals/scss/fundamentals.less.scss';
@import '~fiori-fundamentals/dist/fonts.min.css';
@import '~fiori-fundamentals/dist/icons.min.css';

@import 'styles/fiori-fundamentals-overrides';

fd-icon.clickable {
  cursor: pointer;
  &:hover {
    color: var(--fd-color-action-1);
  }
}
