.cluster-overview__nodes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 32px;
  grid-gap: 32px;

  .node-header-title {
    font-size: 14px;
    margin-right: 8px;
  }
}

.cluster-overview__graphs-wrapper {
  display: grid;
  grid-template-columns: 1fr;

  & > :first-child {
    margin-bottom: 32px;
  }
}

@media (min-width: 800px) {
  .cluster-overview__graphs-wrapper {
    grid-template-columns: 2fr 1fr;

    & > :first-child {
      margin-right: 12px;
      margin-bottom: unset;
    }
    & > :last-child {
      margin-left: 20px;
    }
  }
}
