:host(.json-editor) {
  //width: 100%;
}

.json-editor {
  .tn-button--small {
    height: 100%;
    float: right;
    padding-right: 1em;
    outline: none;
    text-decoration: none;

    .tn-icon--edit {
      margin-top: 0.5rem;
      font-size: 1.5rem;
    }
  }
}
