:root {
  --sidebar-padding: var(--_ui5-v1-20-0_side_navigation_padding);
  --sidebar-width: var(--_ui5-v1-20-0_side_navigation_width);
}

.ui5-content-density-compact {
  --_ui5-v1-24-0_side_navigation_padding: 0.2rem 0.7rem 0.75rem 0.75rem !important;
}

.sidebar__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;

  .space-top {
    height: 0.75rem;
  }

  .disable-effects {
    pointer-events: none;
  }
}

ui5-side-navigation.hide-shadow {
  position: relative;
}
