.nav-link {
  border: none;
  background: none;
  color: var(--sapLegendBackgroundColor20);

  &.current {
    font-weight: bolder;
  }

  &.interactable {
    text-decoration: underline;
    color: var(--sapBrandColor);
    cursor: pointer;
  }
}
