<header class="fd-page__header fd-has-background-color-background-2">
  <section class="fd-section">
    <fd-breadcrumb>
      <fd-breadcrumb-item>
        <a href="javascript:void(null)" fd-breadcrumb-link (click)="navigateToList()">
          Permissions
        </a>
      </fd-breadcrumb-item>
      <fd-breadcrumb-item>
        <span fd-breadcrumb-link>
          {{ roleName }}
        </span>
      </fd-breadcrumb-item>
    </fd-breadcrumb>

    <div fd-action-bar>
      <div fd-action-bar-header>
        <h3 fd-action-bar-title>
          {{ roleName }}
        </h3>
      </div>
    </div>
  </section>
</header>

<section class="fd-section">
  <p *ngIf="loading">
    Loading ...
  </p>

  <div class="fd-alert fd-alert--error fd-has-margin-bottom-small" role="alert" *ngIf="!loading && errorMessage">
    {{ errorMessage }}
  </div>

  <fd-panel class="y-fd-panel" *ngIf="roleDetails">
    <fd-panel-header>
      <fd-panel-head>
        <h2>Details</h2>
      </fd-panel-head>
    </fd-panel-header>
    <fd-panel-body [bleed]="true">
      <table class="fd-table fd-table--no-borders">
        <tbody>
          <tr>
            <td class="y-fd-table--col-2 fd-has-color-text-4">Name</td>
            <td>{{ roleDetails.metadata.name }}</td>
          </tr>
          <tr>
            <td class="y-fd-table--col-2 fd-has-color-text-4">Namespace</td>
            <td>
              {{ roleDetails.metadata.namespace || emptyText }}
            </td>
          </tr>
          <tr>
            <td class="y-fd-table--col-2 fd-has-color-text-4">Creation Date</td>
            <td>{{ roleDetails.metadata.creationTimestamp }}</td>
          </tr>
        </tbody>
      </table>
    </fd-panel-body>
  </fd-panel>
</section>

<section class="fd-section" *ngIf="roleDetails">
  <fd-panel-grid [col]="roleDetails.rules && roleDetails.rules.length>1 ? 2 : 1">
    <fd-panel class="y-fd-panel" *ngFor="let rule of roleDetails.rules">
      <fd-panel-header>
        <fd-panel-head>
          <h2>Rule</h2>
        </fd-panel-head>
      </fd-panel-header>
      <fd-panel-body [bleed]="true">
        <table class="fd-table fd-table--no-borders">
          <tbody>
            <tr>
              <td class="y-fd-table--col-4 fd-has-color-text-4 fd-has-background-color-neutral-1">API Groups</td>
              <td><span
                  *ngFor="let apiGroup of rule.apiGroups; let last = last">{{ apiGroup !== '' ? apiGroup : coreGroup }}{{ last ? '': ',' }}</span>
              </td>
            </tr>
            <tr>
              <td class="fd-has-color-text-4 fd-has-background-color-neutral-1">Verbs</td>
              <td>
                <ng-container *ngFor="let verb of rule.verbs; let last = last">
                  <span>{{ verb }}{{ last ? '': ', ' }}</span>
                </ng-container>
              </td>
            </tr>
            <tr>
              <td class="fd-has-color-text-4 fd-has-background-color-neutral-1">Resources</td>
              <td>
                <ng-container *ngFor="let resource of rule.resources; let last = last">
                  <span>{{ resource }}{{ last ? '': ', ' }}</span><br />
                </ng-container>
              </td>
            </tr>
          </tbody>
        </table>
      </fd-panel-body>
    </fd-panel>
  </fd-panel-grid>
</section>
