.command-palette-ui__results {
  max-height: 320px; // show ~5 items
  overflow: auto;

  .active {
    background: var(--sapList_SelectionBackgroundColor);
  }
}

@media (max-width: 1040px) {
  .command-palette-ui__results {
    max-height: unset;
  }
}
