@mixin key($margin-left: 0.5rem, $margin-right: 0.5rem) {
  display: inline;
  background: var(--sapNeutralBackground);
  padding-right: 4px;
  padding-left: 3px;
  margin-left: $margin-left;
  margin-right: $margin-right;
  border-radius: 2px;
}

.result {
  display: flex;
  align-items: center;

  .bsl-has-color-status-4 {
    font-size: var(--sapFontSize);
    color: var(--sapList_TextColor);

    .key {
      @include key(0.1rem, 0.1rem);
    }
  }

  .label {
    display: inline-block;
  }

  .key {
    @include key(0.5rem, 0rem);
  }
}
