:root {
  --header-height: 50px;
  --border-radius: 0.5rem;
}

ui5-shellbar.header {
  padding: 0 !important;
  border-radius: 0.5rem;
  container-type: inline-size;

  &::part(root) {
    padding-inline-start: 0.75rem;
    padding-inline-end: 1.25rem;
    box-shadow: var(--sapContainer_Shadow1);
  }
}

@media (max-width: 340px) {
  ui5-shellbar.header {
    ui5-button[accessible-name='collapse-sidebar'] {
      margin-inline: 0rem;
    }

    &::part(root) {
      padding-inline-start: 0.5rem;
      padding-inline-end: 0.75rem;
    }
  }
}
