:root {
  --header-height: 50px;
  --border-radius: 0.5rem;
}

ui5-shellbar.header {
  padding: 0 !important;
  border-radius: 0.5rem;

  &::part(root) {
    padding-inline-start: 0.75rem;
    padding-inline-end: 1.25rem;
    box-shadow: var(--sapContainer_Shadow1);
  }
}
