:root {
  --header-height: 50px;
  --border-radius: 0.5rem;
}

ui5-shellbar.header::part(root) {
  padding-inline-start: 0.75rem;
  padding-inline-end: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: var(--sapContainer_Shadow1);
}
