.chat-container {
  .outer-query-input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .query-input-container {
      position: relative;
      --_ui5-v2-11-0_textarea_padding_top: 8px !important;
      --_ui5-v2-11-0_textarea_padding_bottom: 8px !important;

      .query-input-actions {
        position: absolute;
        right: 0.5rem;
        bottom: 0.5rem;

        display: flex;
        align-items: center;
        gap: 0.5rem;

        #cancel-icon-hidden {
          display: none;
        }

        #submit-icon {
          min-height: 1.75rem;
          height: 1.75rem;
          min-width: 1.75rem;
          width: 1.75rem;
          border-radius: 75%;
        }
      }

      .query-input-actions__column {
        @extend .query-input-actions;
        flex-direction: column;
      }
    }

    #disclaimer {
      font-size: 0.65rem;
    }
  }
}
