.chat-container {
  .outer-query-input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .query-input-container {
      position: relative;
      --_ui5_textarea_padding_top: 8px !important;
      --_ui5_textarea_padding_bottom: 8px !important;

      #query-input:focus::part(textarea) {
        box-shadow: 0px 1px 4px var(--sapLinkColor);
      }

      .query-input-actions {
        position: absolute;
        right: 0.5rem;
        bottom: 0.5rem;

        display: flex;
        align-items: center;
        gap: 0.5rem;

        #cancel-icon {
          color: var(--sapShell_InteractiveBorderColor);
        }

        #cancel-icon-hidden {
          display: none;
        }

        #submit-icon {
          min-height: 1.75rem;
          height: 1.75rem;
          min-width: 1.75rem;
          width: 1.75rem;
          border-radius: 75%;
        }
      }

      .query-input-actions__column {
        @extend .query-input-actions;
        flex-direction: column;
      }
    }

    #disclaimer {
      font-size: 11px;
      text-align: center;
      color: var(--sapContent_LabelColor);
    }
  }
}
