@import '_variables';

$prefix: 'sf-modal';

.#{$prefix} {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  overflow: auto;
  opacity: 0;
  pointer-events: none;

  //display: none;
  &.is-active {
    //display: block;
    opacity: 1;
    pointer-events: all;
  }

  &:before {
    content: '';
    background: rgba(74, 80, 92, 0.3);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
  }

  .tn-modal {
    z-index: 1000;
    position: relative;
    width: 80%;
    max-width: 1200px;
    display: block;
  }

  .tn-modal__content {
    border-radius: $sf-border-radius;
  }

  .tn-modal__title {
    margin-bottom: 0px;
    font-weight: normal;
    font-size: 16px;
  }

  .tn-modal__header,
  .tn-modal__body,
  .tn-modal__footer-items {
    padding: 16px;
  }

  &--min {
    .tn-modal {
      max-width: 460px;
      width: 90%;
    }
  }

  &--mid {
    .tn-modal {
      max-width: 920px;
      width: 50%;
    }
  }
}

.tn-modal__title {
  margin-bottom: 0;
  line-height: 2;
}
