@import '_variables';

$prefix: 'sf-panel';

.#{$prefix} {
  background: #ffffff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin-bottom: 20px;

  &__content {
    padding: 16px;
  }
  &__head {
    padding: 0 16px;
    font-size: 16px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 16px;
      font-weight: normal;
      padding: 16px 0;
      margin: 0;
    }

    border-bottom: 1px solid $sf-base-color-grey;

  }
  &__headline-wrap {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  &__sub-headline {
    font-size: 14px;
    font-weight: 200;
    color: rgba(#32363A, .6);
    margin-bottom: 16px;
    margin-top: -16px;
    display: block;
  }

  &__footer {
    padding: 16px;
    border-top: 1px solid $sf-base-color-grey;
  }

  .sf-table {
    th:first-child,
    td:first-child {
      padding-left: 16px;
    }
  }

  .sf-table,
  .sf-list .sf-list__head {
    border-top: none;
  }

  .sf-toolbar__header {
    font-size: 16px;
    font-weight: normal;
    padding: 16px 0;
    margin: 0;
  }
}
