.sf-panel, .tn-modal {
  input[type=checkbox], 
  input[type=radio] {
    margin-right: 8px;
    & + label {
      line-height: 16px;
      vertical-align: middle;
    }
  }

  .tn-form__control {
    margin-bottom: 5px;
  }

  .tn-dropdown__control {
    height: 36px;
    // padding-left: 16px;
    // padding-right: 16px;
    appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSI5Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiMyMTI2MkMiIGQ9Ik0xMS45MzUgMS40NzVMNi4xODggNy45MjdhLjI2NC4yNjQgMCAwIDEtLjM3OCAwTC4wNjUgMS40NzVhLjIzNi4yMzYgMCAwIDEgLjAyNi0uMzQzTDEuMzgxLjA1OGEuMjUzLjI1MyAwIDAgMSAuMTYzLS4wNTlMMS41NjMgMGEuMjUyLjI1MiAwIDAgMSAuMTcxLjA4NWw0LjI2NSA0Ljg4IDQuMjY3LTQuODhhLjI1Mi4yNTIgMCAwIDEgLjM1Mi0uMDI3bDEuMjkxIDEuMDc0Yy4wNS4wNDIuMDgxLjEwMi4wODYuMTY2YS4yMzYuMjM2IDAgMCAxLS4wNi4xNzd6Ii8+PC9zdmc+');
    background-repeat: no-repeat;
    background-position: calc(100% - 12px) center;
    padding-right: 44px;
    position: relative;
    line-height: 34px;
    input[type=text] {
      height: 29px;
      &:focus {
        border-color: transparent;
        box-shadow: none;
      }
    }
  }
  
  .tn-modal__header .tn-button--icon {
    margin-top: -7px;
  }
}

app-role-binding-modal {
  input[type=text] {
    height: 34px;
    &:focus {
      border-color: transparent;
      box-shadow: none;
    }
  }
}