.generic-list {
  height: fit-content;

  .fd-table {
    tr {
      cursor: default;
    }

    &__row.is-edited {
      position: relative;
      background-color: var(--sapInformationBackground);
      &::after {
        position: absolute;
        content: '';
        background-color: var(--sapHighlightColor);
        width: 0.38rem;
        height: 100%;
        left: 0;
      }
    }

    &.compact {
      td {
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }

    border-left: none;
    border-right: none;

    &__header {
      .fd-table__cell {
        padding-top: 0.875em;
      }
    }
  }

  .fd-layout-panel__body {
    padding: 0;
    display: flex;
  }

  .fd-layout-panel__header {
    display: flex;
    justify-content: space-between;

    .fd-layout-panel__title {
      font-size: 16px;
    }

    > section > * {
      display: inline-block;
    }

    .fd-layout-panel__actions {
      display: flex;
      align-items: center;
      *:not(:last-child) {
        margin-right: 4px;
      }
    }
  }

  td {
    vertical-align: middle;
    min-width: 3em;
    word-break: break-word;
  }

  .body-fallback {
    width: 100%;
    font-size: 18px;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .fd-table .list-actions {
    > button,
    > .actions-tooltip {
      margin-top: -12px;
      margin-bottom: -12px;
    }
    & > * {
      display: inline-block !important; //override the default fd-modal opening component 'display: contents';
    }
  }
}

.generic-list-search {
  display: inline-block;

  .icon {
    color: var(--sapBrandColor);
    font-size: var(--sapFontHeader3Size);
    background: none;
  }
  input {
    // override .fd-input
    width: 200px;
    padding-left: 48px !important;

    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNiI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsPSIjNEQ1QTZDIiBkPSJNOS43NTQgMTkuNDk2YTkuNjg0IDkuNjg0IDAgMCAwIDYuMDk3LTIuMTU4bDguMjg5IDguMzRhMS4wODQgMS4wODQgMCAwIDAgMS41MzUtMS41MjlsLTguMy04LjM1YTkuNjg5IDkuNjg5IDAgMCAwIDIuMTItNi4wNTRjMC01LjM3Ny00LjM2OS05Ljc1MS05Ljc0MS05Ljc1MVMuMDEzIDQuMzY4LjAxMyA5Ljc0NXM0LjM2OSA5Ljc1MSA5Ljc0MSA5Ljc1MXptMC0xNy4zMzVjNC4xNzcgMCA3LjU3NyAzLjQwMiA3LjU3NyA3LjU4NCAwIDQuMTgyLTMuNCA3LjU4NC03LjU3NyA3LjU4NC00LjE3OCAwLTcuNTc3LTMuNDAyLTcuNTc3LTcuNTg0IDAtNC4xODIgMy4zOTktNy41ODQgNy41NzctNy41ODR6Ii8+PC9zdmc+');
    background-repeat: no-repeat;
    background-position: 16px center;
    background-size: 16px;
  }

  .fd-popover__body {
    width: 100%;
  }

  .fd-menu {
    max-height: 50vh;
    overflow-y: auto;

    .no-entries {
      font-style: italic;
    }
  }
}
