.generic-list {

    .fd-panel__body {
        padding: 0;
    }

    .fd-panel__header {
        display: flex;
        justify-content: space-between;

        .fd-panel__title {
            font-size: 16px;
        }

        > section > * {
            display: inline-block;
        }
        
    }
}

.generic-list-search {
    position: relative;
    top: 2px;
    margin-right: 8px;

    .fd-menu__list {
        max-height: 50vh;
        overflow-y: scroll;

        .fd-menu__item {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .fd-menu__item--no-entries {
            font-style: italic;
        }
    }

    .control {
        &--open {
            width: unset;
            transition: 0.4s;
        }

        &--close {
            transition: 0.4s;
            width: 0;
            margin: 0;
            padding: 0;
            border: none;
        }
    }
}
