.sf-modal[_ngcontent-c7] {
  .tn-modal[_ngcontent-c7] {
    width: 50%;
    margin-top: 20%;
  }
}


.sf-modal__text {
    font-size: 1rem;
    text-transform: none;
    text-align: left;
    background: #FFFFFF;
    color: #000000;
    border-bottom: none;
    padding: 1px 0;
}

.separation {
    padding-right: 1px;
    padding-left: 1px;
    padding-top: 10px;
}
