.http-trigger-modal {
  .input-group {
    padding: 0;
    margin-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;

    label.required::after {
      content: ' *';
    }
  }

  ::ng-deep .fd-modal .fd-popover__body {
    position: absolute !important;
  }
}

.token-textarea {
  height: 14em;
  padding: 8px;
  border: 1px solid;
  border-color: var(--fd-color-neutral-4);
  border-radius: 4px;
}
