
<fd-modal #eventTriggerModal role="dialog" [width]="'80%'">
  <fd-modal-header>{{ title }}</fd-modal-header>
  <fd-modal-body>
    <input type="search" class="fd-input" [(ngModel)]="eventSearchQuery" (ngModelChange)="filterEvents(eventSearchQuery)"
          placeholder="Search">

    <table class="fd-table">
      <thead>
        <th class="y-fd-table--col-1"></th>
        <th class="y-fd-table--col-4">Event</th>
        <th class="y-fd-table--col-1">Version</th>
        <th class="y-fd-table--col-2">Application</th>
        <th class="description y-fd-table--col-4">Description</th>
      </thead>
      <tbody>
        <tr *ngFor="let event of filteredTriggers">
          <td><input type="checkbox" (change)="toggleEventSelection(event, $event)"></td>
          <td>{{ event.eventType }}</td>
          <td>{{ event.version }}</td>
          <td>{{ event.sourceId }}</td>
          <td>{{ event.description }}</td>
        </tr>
      </tbody>
    </table>
  </fd-modal-body>
  <fd-modal-footer>
    <button fd-button [options]="'light'" (click)="closeEventTriggerChooserModal()">Cancel</button>
    <button fd-button [fdType]="'main'" (click)="addEvents()" [disabled]="!enableAdd">Add</button>
  </fd-modal-footer>
</fd-modal>
