.addons-urls-editor,
.addons-urls-list {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.binding-name-field {
  display: flex;
}

.fd-form-group {
  .fd-input {
    margin: 0;
  }
}

.addons-name {
  .fd-popover {
    width: 100%;
  }
}
