.addons-urls-editor,
.addons-urls-list {
  margin: 5px 0;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;
  align-items: center;
}

.addons-name {
  .fd-popover {
    width: 100%;
  }
}
