.namespace-details,
.all-namespaces-details {
  &.panel-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

@media (min-width: 950px) {
  .namespace-details,
  .all-namespaces-details {
    &.panel-grid {
      display: flex;
      flex-direction: row;
    }
  }
}
