.input-fields {
  display: grid;
  grid-template-columns: auto max-content;
  grid-gap: 0.8em;
  margin-left: 3em;
  margin-top: 1em;

  .input-fields-tooltip {
    grid-column: 1;
    width: 100%;
    text-align: right;
  }
}

.memory-limits,
.container-limits {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin-top: 10px;
}

.namespace-create {
  .namespaces-name-yaml {
    .resource-form__wrapper {
      min-height: 350px !important;
    }
  }

  .yaml-form {
    overflow: auto;

    ui5-panel {
      &:last-of-type {
        padding-bottom: 1px;
      }
    }
  }
}

@media (min-width: 700px) {
  .additional-resource {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
