.schema-viewer {
  dl {
    display: grid;
    grid-template-columns: 12rem auto;
    grid-row-gap: 4px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;

    dd {
      grid-column: 1;

      &.expandable {
        cursor: pointer;
      }
    }

    dt {
      &:not(.full-width) {
        grid-column: 2;
        color: var(--sapContent_LabelColor);
      }

      &.full-width {
        grid-column: 1 / 3;
      }
    }
  }

  .description {
    color: var(--sapContent_LabelColor);
  }

  .property-name {
    font-weight: bold;
  }

  ul {
    border-left: 1px solid var(--sapList_BorderColor);
    padding-left: 0.5rem;
  }

  li {
    margin-bottom: 0.5rem;
  }
}
