kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: ingress-busola
spec:
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: busola
                port:
                  number: 3001
