.yaml-upload-modal .fd-dialog__body {
  background: var(
    --fdWizard_Content_Default_Background,
    var(--sapBackgroundColor)
  );
  width: 1000px;
  display: grid;
  grid-template-columns: 16fr 9fr;
}
