$grey: #808080;
$green: #008000;

.sf-table__head,
.sf-table__body {
  margin: 0;

  .sf-table__td--primary {
    // 52px (height) - 2*12px (padding)
    line-height: 28px;
  }

  .tn-icon {
    // 52px (height) - 2*12px (padding)
    line-height: 28px;

    &--checked {
      color: rgba($green, 0.7);
    }

    &--close {
      color: rgba($grey, 0.7);
    }
  }
}

h2 {
  .tn-button--small {
    height: 20px;
    line-height: 20px;
    float: right;
  }
}

.no-content {
  font-style: italic;
  color: #7f90a4;
}
