.kyma-modules {
  .edit-form {
    min-height: calc(100vh - 17rem);
  }

  .kyma-modules-create {
    .resource-form--panel,
    .resource-form--panel::part(content) {
      min-height: calc(100vh - 20rem);
    }

    .resource-form--panel {
      margin-bottom: 0 !important;
    }

    .yaml-form {
      height: calc(100vh - 20rem);
    }

    .gridbox-editModule {
      display: grid;
      gap: 0.5rem;
    }

    .channel-select {
      width: 100%;
    }

    .collapsible-margins {
      padding: 0;
      padding-left: 0;
      padding-right: 0;
      margin-top: 1rem;
      margin-left: -1rem;
      margin-right: -1rem;
    }
  }
}
