.command-palette-ui {
  position: fixed;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;

  z-index: 1000000;
  background-color: rgba(0, 0, 0, 0.6);

  &__wrapper {
    width: 60vw;
    max-width: 700px;
    position: fixed;
    margin-top: 20vh;
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--sapList_Background);
    box-shadow: 0 0 0.125rem 0
        color-mix(in srgb, var(--sapContent_ShadowColor) 16%, transparent),
      0 0.5rem 1rem 0
        color-mix(in srgb, var(--sapContent_ShadowColor) 16%, transparent);

    padding: 10px;
    border-radius: 10px;
  }
}
