.command-palette-ui {
  position: absolute;
  top: calc(var(--_ui5_shellbar_root_height) + 0.5rem);
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;

  z-index: 1000000;
  background-color: rgba(0, 0, 0, 0.3);

  &__wrapper {
    display: flex;
    width: 60vw;
    max-width: 700px;
    position: absolute;
    top: calc(var(--_ui5_shellbar_root_height) * -1);
    opacity: 0%; //prevent visually jumping
    @media (min-width: 1040px) {
      opacity: 100%;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--sapList_Background);
    padding: 10px;
    border-radius: 10px;
    box-shadow:
      0 0 0.125rem 0
        color-mix(in srgb, var(--sapContent_ShadowColor) 16%, transparent),
      0 0.5rem 1rem 0
        color-mix(in srgb, var(--sapContent_ShadowColor) 16%, transparent);
  }

  .input-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .input-back-button {
      display: none;
    }
  }

  &__wrapper.full-size {
    width: 100%;
    max-width: unset;
    height: 100%;
    opacity: 100%;

    .input-container {
      .search-with-display-more {
        margin-right: 2.5rem;
      }

      .input-back-button {
        display: block;
        padding: 0 0.25rem;
        box-sizing: content-box;
      }
    }
  }
}

@media (max-width: 1040px) {
  .command-palette-ui {
    &__wrapper {
      width: 100%;
      max-width: unset;
      height: 100%;
      opacity: 100%;
    }

    .input-container {
      .search-with-display-more {
        margin-right: 2.5rem;
      }

      .input-back-button {
        display: block;
        padding: 0 0.25rem;
        box-sizing: content-box;
      }
    }
  }
}
