.command-palette-ui {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 1000000;

  &__wrapper {
    display: flex;
    width: 60vw;
    max-width: 700px;
    position: fixed;
    top: 0.5rem;
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--sapList_Background);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 0.125rem 0
        color-mix(in srgb, var(--sapContent_ShadowColor) 16%, transparent),
      0 0.5rem 1rem 0
        color-mix(in srgb, var(--sapContent_ShadowColor) 16%, transparent);
  }

  .input-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .search-with-display-more {
    }

    .input-back-button {
      display: none;
    }
  }
}

@media (max-width: 1040px) {
  .command-palette-ui {
    &__wrapper {
      width: 100vw;
      max-width: unset;
      top: 0;
      height: 100%;
    }

    .input-container {
      display: flex;
      flex-direction: row;
      align-items: center;

      .search-with-display-more {
        margin-right: 2.5rem;
      }

      .input-back-button {
        display: block;
        padding: 0 0.25rem;
        box-sizing: content-box;
      }
    }
  }
}
