.command-palette-search-bar {
  width: var(--_ui5-v2-10-0_input_width) !important;
}

.ui5-shellbar-mid-content {
  flex-grow: 1;
}

@container (max-width: 1040px) {
  .command-palette-search-bar {
    width: 100% !important;
  }
}
