.warning-button {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;

  span {
    width: 100%;
    margin-left: 10px;
  }

  div {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
}

.warning-spinner {
  align-items: center;
  & > div {
    background-color: var(--sapButton_Attention_TextColor, #32363a);
  }
}
