.resource-status-card {
  width: 100%;
  max-width: 420px;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__details-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
  }
}

@container (min-width: 800px) {
  .resource-status-card {
    width: 420px;
  }
}
