.resource-status-card {
  width: 100%;
  max-width: 420px;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.resource-status-card__custom-columns {
  &::part(column) {
    padding: 0;
  }
}

.text-with-padding {
  padding-top: 0.25rem;
}
