.sourceurl-messagebox {
  width: 50%;
}

.to-add-list-header {
  border-bottom: 1px solid var(--sapGroup_TitleBorderColor);
  padding: 0 1rem;
  height: 2rem;
  line-height: 2rem !important;
  font-size: var(--sapFontHeader5Size);
}

.namespace-select {
  width: 100%;
}

.option-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
