#add-instance-modal {
  // .fd-dialog {
  //   max-width: 90%;
  // }
  .fd-dialog__content {
    width: 49em;
    min-width: 680px;
  }
}

#docs-per-plan-icon {
  cursor: help;
  margin-bottom: 2px;
}
