.info-text {
  font-style: italic;
  color: #7f90a4;
}

.download-button {
  float: right;
}

.download-icon {
  margin-left: 10px;
}
.fd-container--flex.direction--column {
  flex-direction: column;
}
.align-to-end {
  align-self: flex-end;
}
