<div class="fd-section">
  <div class="fd-section__header">
    <h1 class="fd-section__title">Your Organisation</h1>
  </div>
  <fd-panel-grid [col]="1">
    <fd-panel>
      <fd-panel-body>
        <fieldset fd-form-set class="fd-col--6">
          <fd-form-group>
            <div fd-form-item>
              <fd-form-label>Name</fd-form-label>
              <input fd-form-control [type]="'text'" placeholder="Function name" value="{{ orgName }}" readonly />
            </div>
          </fd-form-group>
          <div class="fd-container fd-container--fluid fd-has-padding-tiny ">
            <fd-form-label>kubeconfig</fd-form-label>
            <span class="fd-has-type fd-has-color-text-3 fd-has-font-style-italic">
              kubeconfig is a file used to configure access to a cluster.
              Download it to access the cluster using command line.
            </span>
          </div>
          <div class="fd-container fd-container--flex fd-has-float-right fd-has-padding-tiny">
            <button fd-button [glyph]="'download'" (click)="downloadKubeconfig()">
              Download config
            </button>
          </div>
        </fieldset>
        <fieldset fd-form-set class="fd-col--6">
          <fd-form-group>
            <div fd-form-item>
              <fd-form-label>Org-ID</fd-form-label>
              <input fd-form-control [type]="'text'" value="{{ orgId }}" readonly />
            </div>
          </fd-form-group>
        </fieldset>
      </fd-panel-body>
    </fd-panel>
  </fd-panel-grid>
</div>