.add-cluster-dialog {
  .fd-dialog__content {
    min-height: 90vh;
    min-width: 90vw;
  }

  div[role='alert'] {
    padding-left: 32px;
    padding-right: 32px;
  }

  .fd-dialog__body {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .fd-dialog__footer {
    display: none;
  }

  .fd-wizard {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;

    .fd-bar--footer {
      flex-shrink: 0;
    }
  }
  .fd-wizard__content {
    padding-bottom: 16px;
    flex-grow: 1;
    overflow: auto;
  }
}
