$light-red: rgba(255, 225, 220, 1);

.text-right{
	text-align: right;
}

.text-left{
	text-align: left;
}

.sf-col--v-seperator{
	&:after{
		content:'';
		display: block;
		position: absolute;
		height: calc(100% - 20px);
		top: 10px;

		width: 1px;
		background: #D8D8D8;
		//z-index: -1;
		right: 1px;
	}
}

.alert {
	padding: 5px 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: $light-red;
	color: red;
	text-align: center;
	word-break: break-all;
  }

  .error-message-placeholder {
	background-color: $light-red;
	color: red;
	padding: 15px;
	margin: 20px;
	margin-bottom: 20px;
	white-space: normal;
	word-break: break-all;
  }
  