$sf-base-color-black: #32363a;
$sf-base-color-white: white;
$sf-base-color-yellow: #fdb813;
$sf-base-color-blue: #0a6ed1;
$sf-base-color-darkblue: #0857a6;
$sf-base-color-red: #e02121;
$sf-dark-color-red: #a92121;
$sf-base-color-grey: #e1e1e2;

$mf-base-color-light-grey: #f3f4f5;

$text-color-dark: #515559;

$sf-border-radius: 4px;
