$prefix-1: 'sf-rotate';
$prefix-2: 'sf-andre';

// Rotate
.#{$prefix-1}--img{
	img,svg{
		transition: all 0.3s ease-in-out;
	}
	&:hover{
		img,svg{
			transform: rotate(90deg);
		}
	}
}


// Andre
.#{$prefix-2} {
	&:hover{
		&:after,
		&:before{
			content: '';
			display: block;
			height: 4px;
			width: 4px;
			border-radius: 50%;
			position: absolute;
			background: #000;
			border: 1px solid #fff;
			left: 25px;
			top: 22px;
		}

		&:after{
			left: 29px;
			height: 5px;
			width: 5px;
			top: 21px;
		}
	}
}