.sf-content {
  padding: 24px;
  overflow: auto;
  height: 100%;
  display: block;

  @media (max-width: 768px) {
    padding: 0;
  }
}

.sf-content-external {
  height: 100%;
  display: block;
}

.error-message {
  color: red;
}

.success-notification {
  margin: 20px auto;
  padding: 20px 15px;
  background-color: rgba(green, 0.2);
  color: green;
  text-align: center;
  white-space: normal;
  word-break: break-all;
  opacity: 0;
  position: relative;
  transition: all 2.5s ease-out;

  &--show {
    opacity: 1;
  }

  button {
    position: absolute;
    right: 0;
    top: 0;
    color: green;
    font-size: 1rem;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}
