@import '_variables';

$prefix: 'sf-dropdown';

.#{$prefix} {
  width: 100%;
  margin-bottom: 8px;

  .tn-dropdown__control {
    font-size: 14px;
    width: 100%;
    text-align: left;
    border-radius: $sf-border-radius;
    border: 1px solid $sf-base-color-grey;
    height: 36px;
    box-shadow: none !important;
    line-height: 1;
    padding-left: 8px;
    padding-right: 8px;
  }
  .tn-dropdown__menu {
    max-width: 100%;
    min-width: 100%;
    font-family: 'benton', sans-serif;
    font-weight: normal;
  }
  .tn-dropdown__item {
    font-size: 1em;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background: $mf-base-color-light-grey;
    }
  }

  .dropdown-button--text {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
  }
}
