//Overwrite bg color for modals overlay
.y-fd-modal {
  //Common styles for modals
  .fd-modal__footer {
    .fd-button {
      margin-left: 5px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &.fd-modal--large {
    .fd-modal {
      max-width: 650px;
    }
  }

  &.fd-modal--extra-large {
    .fd-modal {
      max-width: 55% !important; // override inline styles wrongly injected by Fundamental
      .fd-modal__body {
        height: 360px;
      }
    }
  }

  &.fd-modal--wide {
    .fd-modal {
      max-width: 55% !important; // override inline styles wrongly injected by Fundamental
    }
  }
  // &.fd-modal--short {
  //   .fd-modal .fd-modal__body {
  //     height: 140px;
  //   }
  // }

  .fd-modal__close:focus {
    box-shadow: none;
  }
}

.fd-action-bar {
  align-items: center; /* There is a bug in Fiori Fundamentals.
                          In Firefox buttons in `fd-action-bar-actions`
                          are shifted to the bottom.
                       */

  &__actions {
    flex-shrink: 0;
    .fd-popover {
      top: 0; /*  There is a bug from Fiori Fundamentals.
                  When action bar includes popover with `fd-button--primary` class,
                  then it's not aligned with other buttons in row anymore,
                  because it has `top: - fd-space(1)` by default.
                  Until it's fixed in Fundamentals, better to keep these styles to overwrite it.
              */
    }
  }
}

//Tables
.fd-table {
  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  td {
    vertical-align: top;
    word-break: break-all;
  }

  tr {
    cursor: default;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.y-fd-table {
  margin-bottom: 0;

  $possible-columns: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;
  @each $i in $possible-columns {
    &--col-#{$i} {
      width: calc(100% / 12 * #{$i});
    }
  }

  &__tr--no-border-below {
    border-bottom: 0;
  }

  &__tr--no-border-below + tr {
    border-top: 0;
  }
}

//Panel
.y-fd-panel {
  @extend .fd-panel;

  display: block;
  &--button {
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 5px 0 rgba(fd-color('text', 3), 0.4);
    }
  }

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .fd-panel__body {
    &--bleed {
      .fd-table {
        td:last-child,
        th:last-child {
          padding-right: 24px;
        }

        td:first-child,
        th:first-child {
          padding-left: 24px;
        }
      }
    }
  }

  &__actions {
    &.fd-panel__actions {
      display: flex;
      > * {
        margin-left: 8px;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

//helpers
.y-word-wrap {
  word-wrap: break-word;
}

.y-word-break {
  word-break: break-all;
}

//Token
.y-fd-token {
  margin-top: fd-space('tiny') / 2;
  margin-bottom: fd-space('tiny') / 2;
  margin-right: fd-space('tiny');
  &.y-fd-token--no-button {
    cursor: default;
    &:after {
      all: unset;
    }
  }
}

.y-fd-menu {
  .fd-menu__item {
    input[type='checkbox'] {
      margin-right: fd-space('tiny') / 2; //fix for too small gap between checkbox and its label in popover menu (Filter list)
    }
  }
}

//Display block, missing in latest version
.fd-has-display-block {
  display: block !important;
}

// Fix for popover could not be opened on Safari (also causing some infinite operations eating all resources)
// Transform property causes problem in Safari. Workaround removes `transform` and uses `margin-top` instead
.fd-popover__body {
  margin-top: 0;
  transform: none;
}

.fd-popover__body {
  &[aria-hidden='true'],
  &.is-hidden {
    margin-top: -15px;
    transform: none;
  }
}

.fd-breadcrumb {
  margin-bottom: 0px; // fix value of -12px which prevents proper clicking of breadcrumb link on Firefox
}

//Page header
.fd-page {
  &__header {
    margin-bottom: fd-space('large') / 2;

    .fd-section {
      padding-bottom: fd-space('small');
    }

    .fd-tabs {
      margin-bottom: -(fd-space('small'));

      &__item {
        &:first-child {
          padding-left: 0;
        }
      }
    }
  }
}

//Responsive improvements
@media (max-width: map-get($fd-breakpoints, m)) {
  // 'm' = 600px

  //Panel grid
  .fd-panel-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: fd-space('small');
  }

  //Action bar
  .fd-action-bar {
    flex-direction: column;
    margin-bottom: fd-space('small');

    &__header {
      padding-bottom: 0;
    }

    &__actions {
      width: 100%;
      justify-content: flex-end;
    }

    .fd-popover {
      &__body {
        width: 175px;
        white-space: normal;
        z-index: 5;
      }

      .fd-menu {
        white-space: normal;
      }
    }
  }

  [class^='fd-col'] {
    margin-bottom: 12px;
  }
}

.header-columns {
  .fd-action-bar__description {
    width: 100%;
    margin-top: 8px;
  }
  &__value {
    display: block;
  }
  a,
  fd-icon {
    display: inline;
  }
}

.y-fd-list--no-hover {
  .fd-list-group__item:hover {
    background-color: transparent;
  }
}

.y-fd-list-group__item--no-padding {
  .fd-list-group__item {
    padding: 0;
  }
}

.y-fd-list--bottom-margin {
  .fd-list-group {
    margin-bottom: 40px;
  }
}

.y-fd-inline-help__small {
  .fd-inline-help__content {
    min-width: 150px;
  }
}
