$prefix: 'sf-section';

$light-grey: #d8d8d8;

.#{$prefix} {
  padding-bottom: 24px;
  margin-bottom: 24px;

  &:not(:last-child) {
    //border-bottom: 1px solid $light-grey;
  }

  &__headline {
    font-size: 23px;
    color: #515559;
  }

  &__empty-teaser {
    font-size: 120%;
    text-align: center;
    max-width: 600px;
    margin: 64px auto 0;
    padding-top: 8px;
    padding-bottom: 16px;
    p + img {
      margin-top: 32px;
    }
  }
}
