@import '_variables';

$prefix: 'sf-sku';

.#{$prefix} {

	display:flex;
	flex-direction: column;
	 height: 100%;
	

	&__label{
		border: none;

		display: block;
        cursor: pointer;
        font-size:14px;
        //margin-top: auto;
       	padding-bottom: 20px;
	}

	&__value{
		display: block;
        width: 100%;
        font-size: 24px;
        font-weight: bold;
	}

	&--center{
		text-align: center;
	}
}