@import '_variables';

$prefix: 'sf-steps';

.#{$prefix} {

	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: stretch;
	width: 100%;
	

	&__step{
		display: flex;
		flex-basis: 0;
    	flex-grow: 1;
    	max-width: 100%;
		flex-direction: column;
		align-items: center;

		text-align: center;
		padding: 16px 0 16px 0;
		position: relative;

		&:after{
			content:'';
			display: block;
			position: absolute;
			height: 1px;
			top: 32px;
			background: #63758B;
			//z-index: -1;
			width: 100%;
			left: 0;
		}
		&:last-child{
			text-align: right;
			align-items: flex-end;

		}
		&:first-child{
			text-align: left;
			align-items: flex-start;
		}

		&.is-active{
			.#{$prefix}__number{
				background: #167EE6;
				color: #fff;
			}
		}
	}

	&__number{
		display: inline-block;
		border-radius: 50%;
		background: #F4F4F4;
		height: 32px;
		width: 32px;
		text-align: center;
		z-index: 1;
		padding-top: 6px;
		margin-bottom: 12px;
	}

	&__title{
        font-size: 14px;
	}
}