$prefix: 'sf-table';

.#{$prefix} {
  width: 100%;
  border-collapse: collapse;

  &__head {
    text-align: left;
  }

  &__th {
    border-bottom: 1px solid #efeff0;
    font-weight: normal;
    color: #848689;
    font-size: 11px;
    text-transform: uppercase;
    background: #f9fafa;
  }

  &__body {
    // Nothing here yet
  }

  &__td {
    //border-bottom: 1px solid #d8d8d8;
  }

  &__td,
  &__th {
    padding: 12px 0;

    &:not(:first-child) {
      padding: 12px;
    }

    &--text-right {
      text-align: right;
    }

    &--primary {
      font-weight: bold;
    }
    &--min {
      width: 1px;
    }

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  tr:last-child {
    td {
      border: none;
    }
  }

  &__info {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
  }
}
