@import '_variables';

$prefix: 'sf-tabs';

.#{$prefix} {
  width: 100%;
  border-bottom: 1px solid #ccc;
  display: flex;

  &__link {
    border: none;
    padding: 20px;
    display: block;
    cursor: pointer;

    .is-active & {
      color: $sf-base-color-blue;
      border-bottom: 2px solid $sf-base-color-blue;
    }
  }

  &__content {
    width: 100%;
  }

  &__pane {
    display: none;
    padding: 20px;

    &.is-active {
      display: block;
    }
  }
}

// Modified Copy of Techne 2.0 Tabs
.tn-tabs {
  // font-size: 1rem;
  line-height: 1.5;
  color: #ccced0;
  // font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
  border-bottom: solid 1px #ccced0;
}
.tn-tabs__link {
  display: block;
  padding: 12px 0;
  margin-right: 32px;
  // font-size: 1.125rem;
  line-height: 1.33334;
  // font-family: sans-serif;
  // font-weight: 500;
  // text-transform: uppercase;
  border-bottom: solid 2px transparent;
  -webkit-transition: all 125ms ease-in;
  transition: all 125ms ease-in;
  cursor: pointer;
}
.tn-tabs__link:hover {
  border-bottom: solid 2px #009cdf;
  color: #008ac6;
}
.tn-tabs__link.is-selected,
.tn-tabs__link[aria-selected='true'] {
  color: $sf-base-color-blue;
  border-bottom: solid 2px $sf-base-color-blue;
}
.tn-tabs__link.is-disabled,
.tn-tabs__link[aria-disabled='true'] {
  color: #7f90a4;
  cursor: not-allowed;
}
.tn-tabs__link.is-disabled:hover,
.tn-tabs__link[aria-disabled='true']:hover {
  border-bottom-color: transparent;
}
.tn-tabs__panel[aria-expanded='false'] {
  display: none;
}
.tn-tabs__panel.is-expanded,
.tn-tabs__panel[aria-expanded='true'] {
  display: block;
}

h2 {
  .tn-button--small {
    height: 20px;
    line-height: 20px;
    float: right;
  }
}
