.add-cluster-wizard-dialog::part(content) {
  height: 90vh;
  padding-top: 0 !important;
}

.add-cluster-wizard-dialog {
  .cluster-wizard-buttons {
    z-index: 5;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2rem;
    margin: 0 4rem;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    gap: 0.5rem;
    flex-wrap: wrap;
    padding: 0.5rem;
    border: 1px solid var(--sapGroup_TitleBorderColor);
    border-radius: var(--sapElement_BorderCornerRadius);
    background-color: var(--sapGroup_TitleBackground);
    box-shadow:
      0 0 0.125rem 0
        color-mix(in srgb, var(--sapContent_ShadowColor) 16%, transparent),
      0 0.5rem 1rem 0
        color-mix(in srgb, var(--sapContent_ShadowColor) 16%, transparent);
  }
}

.add-cluster {
  &__content-container {
    background-color: var(--sapGroup_TitleBackground);
    border-radius: var(--sapElement_BorderCornerRadius);
    padding: 1rem;
  }

  &__kubeconfig-info {
    white-space: pre-line;
  }
}

ui5-wizard::part(step-content) {
  --_ui5_wiz_content_item_wrapper_padding: 0;
  --_ui5_wiz_content_item_wrapper_bg: transparent;
}

ui5-wizard {
  height: 100%;
  width: 75vw;

  .cluster-wizard {
    &__token-info,
    &__storage-preference {
      color: var(--sapContent_LabelColor);
      font-size: var(--sapFontSize);
    }

    &__auth-container {
      display: flex;
      flex-flow: column;
      overflow: auto;
      margin-bottom: 4rem;

      .cluster-wizard__auth-form {
        height: unset;
      }
    }
  }

  .resource-form {
    padding: 0;

    .form-field {
      justify-content: start;
      flex-flow: row wrap;
      gap: 0;
      margin-bottom: 1rem;
      width: 100%;

      &__label {
        min-width: 100%;
        max-width: unset;
        justify-content: flex-start;
        width: 100%;
        padding: 12px 0 5px 0 !important;
      }
    }

    .oidc-switch {
      .form-field__label {
        width: fit-content;
        min-width: fit-content;
        margin-top: -0.25rem;
      }
    }
  }
}

@media (max-width: 380px) {
  ui5-wizard {
    width: 100%;
  }
}
