.edit {
  display: grid;
  grid-template-columns: 3fr 3fr;
  gap: 0.5rem 1rem;
}

.community-modules {
  .collapsible-margins {
    padding: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: -1rem;
    margin-right: -1rem;
    min-height: calc(50vh - 17rem);
  }

  .channel-select {
    width: 100%;
  }
}

.test {
  grid-template-columns: none;
}
