<div class="row sf-list__body" [ngClass]="{'sf-list__disabled': disabled === true}">
  <div class="col-2">{{ entry.name }}</div>
  <div class="col-2" *ngIf="entry.pods">{{ entry.pods }}</div>
  <div class="col-2" *ngIf="!entry.pods"></div>
  <div class="col-6 col-lg-7">
    <div class="row">
    <div class="col-3" *ngIf="entry.limits.cpu">{{ entry.limits.cpu }}</div>
    <div class="col-3" *ngIf="!entry.limits.cpu"></div>
    <div class="col-3" *ngIf="entry.requests.cpu">{{ entry.requests.cpu }}</div>
    <div class="col-3" *ngIf="!entry.requests.cpu"></div>
    <div class="col-3" *ngIf="entry.limits.memory">{{ entry.limits.memory }}</div>
    <div class="col-3" *ngIf="!entry.limits.memory"></div>
    <div class="col-3" *ngIf="entry.requests.memory">{{ entry.requests.memory }}</div>
    <div class="col-3" *ngIf="!entry.requests.memory"></div>
  </div>
  </div>
  <div class="col-2 col-lg-1 actions-icon">
    <y-list-actions [entry]="entry" [entryEventHandler]="entryEventHandler" [actions]="actions"></y-list-actions>
  </div>
</div>
