.wrap {
  height: 100vh;
  width: 100%;
  display:flex;
  flex-direction:column;
}

.top {
  width: 100%;
}

.mid {
  width: 100%;
  flex:1;
  display:flex;
  flex-direction:column;
}

.fd-layout-panel {
  height: 100%;
}

.logs-panel {
  height: 100%;
  overflow-y: scroll;
  padding: 0;
}

.logs {
  color: white;
  padding-left: 15px;
  font-family: 'Consolas', monospace;
  font-size: 12px;
  background-color: #252525;
}

.logs-highlighted {
  background-color: var(--sapBrandColor);
}

.empty-logs {
  width: 100%;
  font-size: 18px;
  padding: 20px 0 !important;
  margin: 0 auto;
  text-align: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.logs-actions {
  > * {
    display: inline-block;
    vertical-align: middle;
  }

  .fd-switch--compact {
    padding: 0;
  }

  .generic-list-search, .logs-download  {
    margin-left: 15px;
  }
}

.fd-layout-panel__body {
  > :first-child {
    padding-top: 10px;
  }

  > :last-child {
    padding-bottom: 10px;
  }
}
