.logs-wraper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.logs-header {
  width: 100%;
  height: 88px;
}

.logs-title {
  margin-right: 20px;
}

.logs-panel {
  max-height: calc(100% - 152px); // 88px(header height) + 2*32px(padding)
  display: flex;
  flex-direction: column;
  padding: 0;
}

.logs-panel-header {
  min-height: unset;
  .fd-popover {
  }
}

.logs-panel-body {
  > :first-child {
    padding-top: 10px;
  }

  > :last-child {
    padding-bottom: 10px;
  }
  height: 100%;
  overflow-y: scroll;
  padding: 0;
  overflow-wrap: break-word;
}

.logs {
  color: white;
  padding-left: 15px;
  font-family: 'Consolas', monospace;
  font-size: 12px;
  background-color: #252525;
}

.logs-highlighted {
  background-color: var(--sapBrandColor);
}

.empty-logs {
  width: 100%;
  font-size: 18px;
  padding: 20px 0 !important;
  margin: 0 auto;
  text-align: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.logs-actions {
  > * {
    display: inline-flex;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .fd-switch--compact {
    padding: 0;
  }

  .fd-popover {
    width: auto;
    margin-right: 10px;
  }

  .generic-list-search,
  .logs-download {
    margin-left: 15px;
  }
}
