.container-wrapper {
  width: 100%;
  column-span: all;

  margin-bottom: 16px !important;
  margin-top: 16px !important;

  display: flex !important;
  justify-content: center;

  font-size: 1.8rem;
}

.container-panel {
  .fd-panel__body:not(:last-child) {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--fd-panel-divider-color, #eeeeef);
  }
}

.form-label {
  cursor: default !important;
}
