.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) ) ;
    grid-gap: 16px;
}

.json-schemaform-separator {
    box-sizing: border-box;
    display: block;
    height: 1px;
    opacity: 0.1;
    background-color: #000000;
    margin: 16px -16px;
}