.extensibility-read-form-group {
  min-width: 0;

  .ui5-form-group-heading {
    display: flex;
    align-items: center;
    height: var(--_ui5-form-group-heading-height);
    line-height: var(--_ui5-form-group-heading-height);
    padding-inline-start: 0.25rem;
  }
}
