.extensibility-table.ui5-generic-list {
  .collapse-content {
    .collapsible-panel {
      padding: 1rem 1.5rem;
    }
  }
}

.collapsible-panel {
  min-width: -webkit-fill-available;
  position: absolute;
  display: inherit;

  > :first-child {
    display: flex;
    gap: 8px;
    flex-wrap: nowrap;
  }
}
