.extensibility-table.ui5-generic-list {
  .collapse-content {
    .collapsible-panel {
      padding: 1rem 1.5rem;
    }
  }
}

ui5-table-row.collapse-content {
  overflow-x: auto;
}

.collapsible-panel {
  min-width: max-content;
  position: absolute;
  display: inherit;

  > :first-child {
    display: contents;
    min-width: max-content;
    overflow: auto;

    ui5-text {
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;

      &:first-child {
        margin-left: 1rem;
      }
    }
  }

  ui5-table {
    min-width: max-content;
  }
}
