.extensibility-table.ui5-generic-list {
  .collapse-content {
    .collapsible-panel {
      padding: 1rem 1.5rem;
    }
  }
}

.extensibility-table {
  ui5-table-cell {
    div {
      min-height: fit-content;
      word-wrap: break-word;
      white-space: normal;
    }
  }
}

ui5-table-row.collapse-content {
  padding: 1rem;
  overflow-x: auto;
  display: block;
  height: fit-content;

  .extensibility-table {
    margin: 0;
    ui5-table {
      min-width: auto;

      ui5-table-cell {
        min-width: min-content;
      }
    }
  }
}

.collapsible-panel {
  min-width: max-content;
  position: absolute;
  display: inherit;

  > :first-child {
    overflow: auto;

    &:not(ui5-panel) {
      display: flex;
    }

    ui5-text {
      margin: 0.5rem 1rem;
    }
  }

  ui5-table {
    min-width: max-content;
  }
}
