:host {
  overflow: auto;
  display: block;
  height: 100%;
  .main-container {
    height: 100%;
    padding-top: 0;
    padding-right: 0;
    flex-wrap: wrap;
    transform: padding 0.2s ease-in-out;

    &.left-nav-collapsed {
      padding-left: 0px;
    }

    @media (max-width: 768px) {
      padding-left: 0;
    }
  }
}