<div luigiClientCommunication [isActive]="isActive">
  <fd-modal class="y-fd-modal" #editRemoteEnvironmentModal role="dialog" aria-labelledby="confirm" (click)="$event.stopPropagation()">
    <fd-modal-header>
      Edit Application
    </fd-modal-header>
    <fd-modal-body>
      <form #editRemoteEnvsForm="ngForm">
        <div class="fd-alert fd-alert--error fd-has-margin-bottom-small" role="alert" *ngIf="error">
          {{ error }}
        </div>
        <div fd-form-set>
          <div fd-form-item>
            <fd-form-label>Description *</fd-form-label>
            <input fd-form-control autofocus [type]="'text'" name="remoteEnvDescription"
                [(ngModel)]="updatedDescription"
                placeholder="Specify a description for your Application"
            >
          </div>
          <div fd-form-item>
            <fd-form-label>Labels</fd-form-label>
            <app-labels-input [labels]="updatedLabels" (labelsChangeEmitter$)="updateLabelsData($event)"
            ></app-labels-input>
          </div>
        </div>
      </form>
    </fd-modal-body>
    <fd-modal-footer>
      <button fd-button (click)="close()" [options]="'light'">Cancel</button>
      <button fd-button ngClass="{{isReadyToSave() ? '' : 'disabled'}}"
        [disabled]="!isReadyToSave()" (click)="save()" [fdType]="'main'">
        Save
      </button>
    </fd-modal-footer>
  </fd-modal>
</div>
