<fd-panel class="y-fd-panel">
  <fd-panel-header>
    <fd-panel-head>
      <h2 fd-panel-title>Environment Variable</h2>
      <fd-panel-description
        >Define Environment Variables to be used by your Lambda
        Function.</fd-panel-description
      >
    </fd-panel-head>
  </fd-panel-header>
  <fd-panel-body [bleed]="true">
    <table class="fd-table y-fd-table">
      <thead>
        <tr>
          <th class="y-fd-table--col-4">
            <input
              [(ngModel)]="envVar.name"
              type="text"
              id="input-1"
              (keyup)="validatesEnvVariableName()"
              placeholder="VARIABLE_NAME"
              [attr.disabled]="!lambdaName || isLambdaNameInvalid ? '' : null"
            />
          </th>
          <th class="y-fd-table--col-1 fd-has-text-align-center">→</th>
          <th class="y-fd-table--col-5">
            <input
              [(ngModel)]="envVar.value"
              type="text"
              id="input-2"
              placeholder="Value"
              (keyup.enter)="addVariable()"
              [attr.disabled]="!lambdaName || isLambdaNameInvalid ? '' : null"
            />
          </th>
          <th class="y-fd-table--col-2 fd-has-text-align-right">
            <button
              fd-button
              [options]="'light'"
              [glyph]="'add'"
              (click)="addVariable()"
              [compact]="true"
              [disabled]="disableAddVar || !lambdaName || isLambdaNameInvalid"
            >
              Add Variable
            </button>
          </th>
        </tr>
        <tr
          *ngIf="isEnvVariableNameInvalid || isEnvVariableDuplicate"
          class="y-fd-table__tr--errors"
        >
          <th colspan="4">
            <fd-form-message [type]="'error'" *ngIf="isEnvVariableNameInvalid">
              Invalid variable name: must consist of alphanumeric characters or
              '_' and no spaces (e.g. 'VARIABLE_NAME')
            </fd-form-message>
            <fd-form-message [type]="'warning'" *ngIf="isEnvVariableDuplicate">
              Duplicate entry.
            </fd-form-message>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let env of envs; let i = index">
          <td class="y-word-break">{{ env.name }}</td>
          <td class="fd-has-text-align-center">→</td>
          <td *ngIf="editVar != i" class="y-word-break">{{ env.value }}</td>
          <td *ngIf="editVar != i" class="fd-has-float-right">
            <button
              fd-button
              [options]="'light'"
              [glyph]="'edit'"
              [compact]="true"
              (click)="editVariable(i)"
            ></button>
            <button
              fd-button
              [options]="'light'"
              [glyph]="'delete'"
              [compact]="true"
              (click)="removeVarariable(i)"
            ></button>
          </td>
          <td *ngIf="editVar == i">
            <input
              [(ngModel)]="env.value"
              type="text"
              (keyup.enter)="updateVariable()"
            />
          </td>
          <td *ngIf="editVar == i">
            <button
              fd-button
              [glyph]="'accept'"
              [options]="'light'"
              (click)="updateVariable()"
            ></button>
          </td>
        </tr>
      </tbody>
    </table>
  </fd-panel-body>
</fd-panel>
