.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 32px 12px 16px;
  border-top: 1px solid var(--sapGroup_ContentBorderColor);
  border-right: 1px solid var(--sapGroup_ContentBorderColor);
  width: 100%;

  .footer__legal-links {
    display: flex;
    flex-wrap: wrap;

    .fd-link {
      margin-right: 10px;
      margin-bottom: 4px;
      width: fit-content;
    }
  }

  .footer__kyma-version {
    color: var(--sapList_TextColor);
    font-size: var(--sapFontSize, 0.875rem);
    font-family: var(--sapFontFamily);
  }
}
