.sf {
  // Main Container
  &-main {
    :host(&) {
      display: flex;
      padding-top: 24px;
      padding-left: 344px;
      padding-right: 24px;
      flex-wrap: wrap;
    }
  }
}

.tn-card__header {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
