<header class="fd-page__header fd-has-background-color-background-2">
  <section class="fd-section">
    <fd-action-bar>
      <fd-action-bar-header>
        <fd-action-bar-title>
          Namespaces
        </fd-action-bar-title>
      </fd-action-bar-header>
      <fd-action-bar-actions>
        <y-list-search [hidden]="!initialized || showEmptyPage" [filterState]="filterState"
          (onFilterChanged)="onFilterChanged($event)"></y-list-search>
        <y-list-filter [hidden]="!initialized || showEmptyPage"
          [filterState]="filterState"
          [localStorageKey]="'workspace/namespaceFilters'"
          (onFilterChanged)="onFilterChanged($event)"></y-list-filter>
        <button fd-button [glyph]="'add'" class="open-create-namespace-modal"
          (click)="createModal.show()">Create Namespace</button>
      </fd-action-bar-actions>
    </fd-action-bar>
  </section>
</header>

<section class="fd-section">
  <app-namespace-create (cancelEvent)="onNamespaceCreateCancelled()" #createModal></app-namespace-create>
  <app-confirmation-modal #confirmationModal></app-confirmation-modal>
  <app-information-modal #infoModal></app-information-modal>

  <y-plain-list [source]="data" [entryRenderer]="entryRenderer" [entryEventHandler]="entryEventHandler">
  </y-plain-list>

  <y-list-paging [pagingState]="pagingState" (onPageChanged)="onPageChanged($event)"></y-list-paging>
</section>
