<div class="container-fluid sf-content">
  <div class="sf-toolbar">
    <div class="sf-toolbar__item sf-toolbar__item--breadcrumb">
      <a (click)="navigateToList()">Secrets</a> / {{ secretName }} 
    </div>
    <div class="sf-toolbar__right">
      <app-edit-resource [resourceData]="secretDetails" class="sf-toolbar__item"></app-edit-resource>
    </div>
  </div>
  <p *ngIf="loading">
    Loading ...
  </p>
  <p *ngIf="!loading && errorMessage" class="error-message">
    {{ errorMessage }}
  </p>
  <div *ngIf="secretDetails">
    <section class="sf-section">
      <div class="sf-panel">
        <div class="sf-panel__head">
        <h2>Details</h2>
      </div>
        <div class="sf-panel__content">
                    <div class="row">
            <div class="col-sm-4">
              <label class="tn-form__label">Name</label>
            </div>
            <div class="col-sm-8">
              <span>{{ secretDetails.metadata.name }}</span>
            </div>
            <div class="col-sm-4">
              <label class="tn-form__label">Namespace</label>
            </div>
            <div class="col-sm-8">
              <span>{{ secretDetails.metadata['namespace'] }}</span>
            </div>
            <div *ngIf="annotations" class="col-sm-4">
              <label class="tn-form__label">Annotations</label>
            </div>
            <div *ngIf="annotations" class="col-sm-8">
              <div *ngFor="let annotationInfo of annotations">
                  <button title="Show annotation information" class="tn-button--text" (click)="annotationDetails(infos)">
                    {{ annotationInfo.name }}
                  </button>
                  <app-information-modal #infos [title]="annotationInfo.name" [message]="annotationInfo.value"></app-information-modal>
              </div>
            </div>
            <div class="col-sm-4">
              <label class="tn-form__label">Creation time</label>
            </div>
            <div class="col-sm-8">
              <span>{{ secretDetails.metadata.creationTimestamp }}</span>
        </div>
      </div>
      </div>
    </div>
    </section>
    <section class="sf-section">
      <div class="sf-panel">
        <div class="sf-panel__head">
          <h2>Data</h2>
        </div>
      <div *ngFor="let dataInfo of data" >
        <div *ngIf="!dataInfo.show" class="sf-panel__content">
          <div class="row">
            <div class="col-sm-2">
              <label class="tn-form__label">{{ dataInfo.name }}</label>
            </div>
            <div class="col-sm-2">
              <button (click)="toggleSecret(dataInfo)" class="tn-button--text"> Show details </button>
            </div>
            <div class="col-sm-8">
              <span> {{ dataInfo.length }} bytes </span>
            </div>
          </div>
        </div>
        <div *ngIf="dataInfo.show" class="sf-panel__content">
          <div class ="row">
            <div class="col-sm-2">
              <label class="tn-form__label">{{ dataInfo.name }}</label>
            </div>
            <div class="col-sm-2">
              <button (click)="toggleSecret(dataInfo)" class="tn-button--text"> Hide details </button>
            </div>
            <div class="col-sm-8 word-wrap">
              <span> {{ dataInfo.value }} </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
  </div>
</div>
