:root {
  --luigi__left-sidenav--width: 17rem !important;
}

#app .fd-shellbar__title {
  margin-left: 0px;
}

.fd-nested-list__link .fd-nested-list__title {
  padding-right: 5px !important;
}

.fd-shellbar__group--product .fd-popover__control > button {
  max-width: unset;
}

/* luigi adds "Sign out" for OIDC clusters - we don't need it */
[data-testid='signout'] {
  display: none;
}

.fd-page.spinnerContainer,
body.lui-semiCollapsible {
  background: var(--sapBackgroundColor);
}

.lui-side-nav__footer--text ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.lui-side-nav__footer--text a {
  color: var(--sapLinkColor);
  padding-right: 10px;
}

.lui-side-nav__footer--text p {
  margin: 0;
}
