// Include Fiori Fundamentals
$fd-icons-path: '~fiori-fundamentals/dist/icons/';
$fd-fonts-path: '~fiori-fundamentals/dist/fonts/';
@import '~fiori-fundamentals/scss/helpers.scss';
@import '~fiori-fundamentals/scss/fundamentals.less.scss';
@import '~fiori-fundamentals/dist/fonts.min.css';
@import '~fiori-fundamentals/dist/icons.min.css';
@import 'fiori-fundamentals-overrides';

body,
html {
  font-family: '72', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

@import '~jsoneditor/dist/jsoneditor.min.css';

fd-icon.clickable {
  cursor: pointer;
  &:hover {
    color: var(--fd-color-action-1);
  }
}

.align-middle {
  vertical-align: middle;
}

.display-inline {
  display: inline;
}
