// Include Fiori Fundamentals
$fd-icons-path: '~fiori-fundamentals/scss/icons/';
$fd-fonts-path: '~fiori-fundamentals/scss/fonts/';
@import '~fiori-fundamentals/scss/all.scss';
@import 'fiori-fundamentals-overrides';

body,
html {
  font-family: '72', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

@import '~jsoneditor/dist/jsoneditor.min.css';
