.ai-busy-indicator {
  align-self: flex-start;
  width: fit-content;
}

.bubbles-container {
  max-width: 90%;
  gap: 8px;

  .bubble-button {
    align-self: flex-start;
    color: var(--sapLinkColor);
    border-radius: 0.75rem;
    border: none;
    box-shadow: 0 1px 3px var(--sapLinkColor);
  }

  .bubble-button:hover {
    background-color: var(--sapBackgroundColor);
  }
}
