.flex-container {
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .logout-wrapper {
    text-align: center;
    max-width: 60vw;
    margin-bottom: 50px;

    p.info {
      padding-top: 30px;
      font-family: '72';
      font-size: 36px;
      color: #32363a;
      margin: 0;
    }

    p.hint {
      font-family: '72';
      font-size: 18px;
      color: #6f7275;
      padding-bottom: 30px;
      margin: 0;
    }
  }
}