.resource-form__wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100% - 21px - 36px);
  min-height: 350px;
  position: relative;
}

.resource-form__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 20;
  display: flex;
  align-items: center;
}

.resource-form__editor {
  position: relative;
  width: calc(100% - 2px);
  height: calc(100% - 21px - 36px); // avoid v-scroll
  overflow: hidden;
  flex-grow: 1;
  border: 1px solid var(--sapNeutralBackground);
}

.resource-form__legend {
  position: absolute;
  bottom: 0;
  width: 50%;
  right: 10px;
  opacity: 0.8;
  max-height: 50%;
  overflow-y: auto;

  .line {
    width: 100%;
    display: block;
  }

  ui5-message-strip {
    max-width: 90%;
  }
}

.resource-form__placeholder {
  position: absolute;
  top: 2px;
  width: 100%;
  left: 65px;
  max-height: 50%;
  overflow-y: auto;
  font-size: var(--sapFontSize);
  color: var(--sapContent_LabelColor);
  font-style: italic;
}

.monaco-hover-content .hover-contents p:last-of-type {
  display: none;
}
