 // todo change after fd-styles 0.2.0 is released
 // and remove fiori-fundamentals from package.json
 @import '~fiori-fundamentals/dist/components/asset-upload.min.css';

.fd-asset-upload__input--drag-over {
    border: 1px solid var(--fd-color-action-1) !important;
}

.fd-asset-upload__file-name {
    font-style: italic;
    margin-bottom: 0;
}
