.func-code-and-deps {
  .fd-form-label {
    margin-bottom: 0;
    position: relative;
    top: 2px;
  }

  .fd-toggle--s {
    input:checked + .fd-toggle__switch::before {
      left: -10px;
    }
  }

  .fd-switch__label {
    vertical-align: middle;
  }
}
