.preferences-dialog {
  .fd-dialog__body {
    background: var(--sapBackgroundColor);
    overflow-y: hidden;
    width: 80vw;
    height: 80vw;
  }
}

.preferences-row {
  display: grid;
  grid-template-columns: 3fr 3fr;
  align-items: center;
  padding: 16px;

  & > :first-child {
    text-align: right;
    font-size: smaller;
    margin-right: 16px;
  }

  .fd-form-label {
    display: none;
  }
}
