main.preferences {
    .fd-panel__actions {
        font-size: 14px !important;
    }

    strong {
        font-weight: 800;
    }

    .fd-switch__label {
        display: inline-grid; // use inline-grid for nice children centering
        vertical-align: middle;
    }
}
