@import 'mixins';
@import '~fundamental-ui/scss/components/spinner';

$prefix: 'sf-list';

.#{$prefix}{
  width: 100%;
  border-collapse: collapse;

  &__head{
    border-bottom: 2px solid black;
    font-weight: normal;
  }

  &__body{
    border-bottom: 1px solid #D8D8D8;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  &__head,
  &__body{
    margin-left: 0;
    margin-right: 0;
    padding: 12px 0;

    &:not(:first-child){
      padding: 12px;
    }

    &--text-right{
      text-align: right;
    }

    &--primary{
      font-weight: bold;
    }
    &--min{
      width: 1px;
    }

    a:hover{
        text-decoration: underline;
    }
  }

  &__indicator{
    padding: 0;
  }

  &__info {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
  }

  &__warning {
    color: #e97326;
    font-weight: 400;
  }

  &__label {
    display: inline-block;
  }

  &__label-column {
    word-break: break-all;
  }
}

.loading-container {
  padding: 30px 0;
  .fd-spinner {
    @include fadeInWithDelay();
  }
}