$possible-columns: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;

.fd-table {
  &.y-fd-table {
    margin-bottom: 0;

    @each $i in $possible-columns {
      &__th--col-#{$i} {
        width: calc(100% / 12 * #{$i});
      }
    }

    &__tr--no-border-below {
      border-bottom: 0;
    }

    &__tr--no-border-below + tr {
      border-top: 0;
    }

    tr {
      cursor: default;
    }

    td a {
      cursor: pointer;
    }
  }
}
