<table class="fd-table y-fd-table" [hidden]="loading || errorMessage || !data || data.length === 0">
  <ng-template #header></ng-template>
  <ng-template #entries></ng-template>
  <ng-template #footer></ng-template>
</table>

<fd-loading-spinner [loading]="loading"></fd-loading-spinner>

<div [attr.data-e2e]="'empty-list-placeholder'" class="fd-has-text-align-center"
    *ngIf="!loading && !errorMessage && (!data || data.length === 0)">
  <y-empty-list *ngIf="showEmptyPage" [emptyListPlaceholderData]="emptyListPlaceholderData" (buttonClicked)="onEmptyListActionButtonClicked()"></y-empty-list>
  <ng-content *ngIf="!emptyListPlaceholderData" select="[empty-list-placeholder]"></ng-content>
</div>

<p *ngIf="!loading && errorMessage" class="fd-has-color-status-3">
  {{ errorMessage }}
</p>
