<tr>
  <td>
    <a
      href="javascript:void(null)"
      (click)="goToDetails(entry.metadata.name)"
      class="fd-has-font-weight-bold"
    >
      {{ entry.metadata.name }}
    </a>
  </td>
  <td>
    <span
      fd-badge
      [modifier]="'filled'"
      [status]="status ? 'success' : 'error'"
    >
      {{ statusText }}
    </span>
  </td>
  <td>
    <ng-container *ngIf="entry.getLabels().length">
      <span
        class="fd-token y-fd-token y-fd-token--no-button"
        *ngFor="let label of entry.getLabels()"
      >
        {{ label }}
      </span>
    </ng-container>
    <ng-container *ngIf="!entry.getLabels().length">
      {{ emptyText }}
    </ng-container>
  </td>
  <td>
    <a [href]="functionMetrics" target="_blank"
      >Dashboard
      <fd-icon [glyph]="'action'" [size]="'s'"></fd-icon>
    </a>
  </td>
  <td class="fd-has-float-right">
    <y-list-actions
      [entry]="entry"
      [entryEventHandler]="entryEventHandler"
      [actions]="actions"
    ></y-list-actions>
  </td>
</tr>
