.resource-form__collapsible-section {
  .content {
    background: var(--sapPageHeader_Background);
    flex-grow: 1;

    &--open {
      max-height: 1000em;
    }

    &--closed {
      transform: scaleY(0) translateY(-100%);
      max-height: 0px;
      padding-top: 0;
      padding-bottom: 0;
      overflow: hidden;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
