.resource-form {
  .tooltip-column {
    text-align: center;

    [class*='sap-icon'] {
      color: var(--sapButton_TextColor);
    }
  }

  .form-field__label {
    padding: 12px 0 !important;
  }
}

.form-field {
  padding-top: 0.5rem;
}
