.resource-form {
  .tooltip-column {
    text-align: center;
    padding: 12px 0 !important;

    [class*='sap-icon'] {
      color: var(--sapButton_TextColor);
    }
  }
  .form-field__label {
    padding: 12px 0 !important;
  }
  .action-button {
    padding: 8px 0 !important;
  }
}
