form .resource-form {
  overflow: auto;
  flex-grow: 1;
  order: 2;
}

.resource-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 1rem;

  form {
    overflow: hidden;
    flex-grow: 1;
    order: 2;
  }

  & > .dropdown {
    width: 100%;
  }

  ui5-switch {
    margin-top: -0.5rem;
  }

  .form-field,
  .simple-list,
  .flexbox-gap {
    gap: 5px 10px;
  }

  .simple-list {
    margin: -3px 0;
  }

  .form-field + .resource-form__collapsible-section {
    padding-top: 16px;
  }

  .mode-selector {
    display: flex;
    justify-content: center;

    &__content {
      width: fit-content;
    }
  }
}

.resource-form--panel,
.resource-form--panel::part(content) {
  height: 100%;
}
