.resource-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;

  form {
    overflow: auto;
    flex-grow: 1;
    order: 2;
  }

  .advanced-form,
  .simple-form {
    width: 100%;
  }

  &:before {
    content: '';
    width: 100%;
    height: 16px;
    background: linear-gradient(
      0,
      transparent,
      var(--sapGroup_ContentBackground)
    );
    order: 1;
    margin-top: 16px;
    margin-bottom: -16px;
    z-index: 10;
    min-height: 16px;
    pointer-events: none;
  }

  & > .dropdown {
    width: 100%;
  }

  ui5-switch {
    margin-top: -0.5rem;
  }

  .form-field,
  .simple-list {
    gap: 10px;
  }

  .form-field + .resource-form__collapsible-section {
    padding-top: 16px;
  }

  .fd-col {
    padding: 4px 0;
  }
}
