form .resource-form {
  overflow: auto;
  flex-grow: 1;
  order: 2;
}

.resource-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1rem 2rem;

  form {
    overflow: hidden;
    flex-grow: 1;
    order: 2;
  }

  .advanced-form,
  .simple-form {
    width: 100%;
  }

  & > .dropdown {
    width: 100%;
  }

  ui5-switch {
    margin-top: -0.5rem;
  }

  .form-field,
  .simple-list {
    gap: 10px;
  }

  .form-field + .resource-form__collapsible-section {
    padding-top: 16px;
  }

  .bsl-col {
    padding: 4px 0;
  }
}
