form .resource-form {
  overflow: auto;
  flex-grow: 1;
  order: 2;
}

.resource-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  ui5-form-item::part(layout) {
    grid-template-columns: none;
    padding-inline: 1rem;
  }

  &::part(layout) {
    padding: 0;
  }

  form {
    overflow: hidden;
    flex-grow: 1;
    order: 2;
  }

  .yaml-form {
    width: 100%;
    height: calc(100vh - 19rem);
    min-height: 300px;
  }

  & > .dropdown {
    width: 100%;
  }

  .form-field,
  .simple-list,
  .flexbox-gap {
    gap: 5px 10px;
  }

  .simple-list {
    margin: -3px 0;
  }

  .form-field + .resource-form__collapsible-section {
    padding-top: 16px;
  }

  .mode-selector {
    display: flex;
    justify-content: center;

    &__content {
      width: fit-content;
      min-width: 100px;
    }
  }

  .card-shadow {
    overflow: visible;
  }
}

.resource-form--panel,
.resource-form--panel::part(content) {
  min-height: calc(100vh - 19rem);
  height: 100%;
}
