<y-generic-table
 [title]="title"
 [source]="dummyDataProvider"
 [filterState]="filterState"
 [pagingState]="pagingState"
 [entryRenderer]="dummyDataRenderer"
 [headerRenderer]="dummyHeaderRenderer"
 [entryEventHandler]="dummyEventHandler">
</y-generic-table>


<y-generic-list
 [title]="title"
 [emptyListText]="emptyListText"
 [source]="dummyDataProvider"
 [filterState]="filterState"
 [pagingState]="pagingState"
 [entryRenderer]="dummyDataListRenderer"
 [createNewElementText]="'Add new element'">
</y-generic-list>


<y-plain-table
  [title]="title"
  [entryRenderer]="dummyDataListRenderer"
  [emptyListPlaceholderData]="dummyEmptyListData"
 >
</y-plain-table>
