#assistant_wrapper {
  width: 100%;

  .ai_assistant {
    height: 100%;
    width: 100%;

    &__header {
      background-color: var(--sapContent_Illustrative_Color1);
      min-height: 60px;
      padding: 0.5rem;

      .title {
        color: white;
        text-shadow: none;
      }

      .action {
        color: white;
        background: transparent;
      }
    }

    .tab-container {
      height: calc(100vh - 60px - 1.4rem);
    }
  }
}

@container (max-width: 950px) {
  .tab-container::part(content) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@container (min-width: 950px) {
  .tab-container::part(content) {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}
