.ai-button {
  color: var(--sapChart_OrderedColor_5);
}

.suggestions-popover::part(content) {
  padding: 0.5rem;
}

.suggestions-popover {
  .popover-input {
    min-width: 225px;
    width: 100%;
  }

  .custom-list-item::part(native-li) {
    padding: 0.5rem;
  }

  .custom-list-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .text {
      width: 90%;
    }
  }
}
