<header class="fd-page__header fd-has-background-color-background-2">  
  <section class="fd-section">
    <fd-breadcrumb *ngIf="routedFromServiceDetails">
      <fd-breadcrumb-item>
        <a href="javascript:void(null)" fd-breadcrumb-link (click)="navigateToList('services')">Services</a>
      </fd-breadcrumb-item>
      <fd-breadcrumb-item>
        <a href="javascript:void(null)" fd-breadcrumb-link class="service-name" (click)="navigateToDetails(serviceName)">{{ serviceName }}</a>
      </fd-breadcrumb-item>
      <fd-breadcrumb-item>
        <span fd-breadcrumb-link>
          {{ apiDefinition ? apiName : 'Create API' }}
        </span>
      </fd-breadcrumb-item>
    </fd-breadcrumb>

    <fd-breadcrumb *ngIf="!routedFromServiceDetails">
      <fd-breadcrumb-item>
        <a href="javascript:void(null)" fd-breadcrumb-link (click)="navigateToList('cmf-apis')">APIs</a>
      </fd-breadcrumb-item>
      <fd-breadcrumb-item>
        <span fd-breadcrumb-link>
          {{ apiDefinition ? apiName : 'Create API' }}
        </span>
      </fd-breadcrumb-item>
    </fd-breadcrumb>

    <fd-action-bar>
      <fd-action-bar-header>
        <fd-action-bar-title>
          {{ apiDefinition ? apiName : 'Create API' }}
        </fd-action-bar-title>
      </fd-action-bar-header>
      <fd-action-bar-actions>
        <button fd-button [options]="'emphasized'" [disabled]="!isAbleToMakeRequest()" (click)="save()"
            data-e2e-id="save-expose-api">
          Save
        </button>
      </fd-action-bar-actions>
    </fd-action-bar>
  </section>
</header>

<section class="fd-section">
  <fd-panel class="y-fd-panel">
    <fd-panel-header>
      <fd-panel-head>
        <fd-panel-title>General Information</fd-panel-title>
      </fd-panel-head>
    </fd-panel-header>

    <fd-panel-body>
      <div *ngIf="listOfServices" class="fd-container fd-container--fluid">
        <div class="fd-col--8">
          <div fd-form-set>
            <div fd-form-item>
              <fd-form-label>Service *</fd-form-label>
              <div class="fd-dropdown y-fd-dropdown fd-has-display-block" (clickOutside)="closeDropDown()"
                clickOutsideEvents="click,mousedown" excludeBeforeClick="true">
                <div class="fd-popover fd-has-display-block">
                  <div class="fd-popover__control">
                    <button class="fd-dropdown__control y-fd-dropdown__control fd-button fd-has-padding-none"
                      aria-controls="nNJnB279" [attr.aria-expanded]="ariaServiceExpanded" aria-haspopup="true"
                      (click)="toggleDropDown()">
                      <input class="fd-form__control y-fd-form__control" type="text" name="serviceName"
                        autocomplete="off" placeholder="Choose service" [(ngModel)]="serviceName"
                        (ngModelChange)="filterServices()" (keydown)="openDropDown($event)"
                        (click)="openDropDown($event)" />
                    </button>
                  </div>
                  <div class="fd-popover__body fd-popover__body--no-arrow y-fd-popover__body"
                    [attr.aria-hidden]="ariaServiceHidden" id="nNJnB279">
                    <nav class="fd-menu">
                      <ul class="fd-menu__list">
                        <li *ngFor="let svc of filteredServices" (click)="
                            toggleDropDown();
                            selectService(svc);
                            checkIfServiceCanBeSecured(svc);
                            setApiName()
                          ">
                          <span class="fd-menu__item">
                            {{ svc.metadata.name }}
                          </span>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="fd-container fd-container--fluid">
        <div class="fd-col--8">
          <div fd-form-set>
            <div fd-form-item>
              <fd-form-label [forValue]="'host-input'">Host *</fd-form-label>
              <div class="fd-input-group fd-input-group--after">
                <input fd-form-control [type]="'text'" id="host-input" placeholder="Field placeholder text"
                  [(ngModel)]="hostname" (ngModelChange)="setApiName(); validateDetails()" (blur)="validateDetails()"
                  [state]="errorHostname ? 'invalid' : undefined" />
                <span class="fd-input-group__addon fd-input-group__addon--after">{{ domain }}</span>
              </div>
              <fd-form-message [type]="'error'" *ngIf="errorHostname">
                {{ errorHostname }}
              </fd-form-message>
            </div>
          </div>
        </div>
        <div class="fd-col--4">
          <div fd-form-set>
            <div fd-form-item>
              <fd-form-label [forValue]="'input-3'">Service Port *</fd-form-label>
              <input fd-form-control [type]="'text'" id="input-3" [(ngModel)]="servicePort"
                (ngModelChange)="validateDetails()" (blur)="validateDetails()"
                [state]="errorPort ? 'invalid' : undefined" />
              <fd-form-message [type]="'error'" *ngIf="errorPort">
                {{ errorPort }}
              </fd-form-message>
            </div>
          </div>
        </div>
      </div>

      <div class="fd-container fd-container--fluid">
        <div class="fd-col--8">
          <div fd-form-set>
            <div fd-form-item>
              <fd-form-label [forValue]="'input-1'">Name *</fd-form-label>
              <input fd-form-control [type]="'text'" id="input-1" [disabled]="apiDefinition" [(ngModel)]="apiName"
                (ngModelChange)="validateDetails()" (blur)="validateDetails()"
                [state]="errorApiName ? 'invalid' : undefined" />
              <fd-form-message [type]="'error'" *ngIf="errorApiName">
                {{ errorApiName }}
              </fd-form-message>
            </div>
          </div>
        </div>
      </div>
    </fd-panel-body>
  </fd-panel>
</section>

<section *ngIf="canBeSecured" class="fd-section security-section">
  <fd-panel class="y-fd-panel">
    <fd-panel-header>
      <fd-panel-head>
        <fd-panel-title>Security</fd-panel-title>
      </fd-panel-head>
      <fd-panel-actions>
        <button *ngIf="secure && canBeSecured && apiDefinition && isDefaultProvider()" fd-button [options]="'light'"
          (click)="fetchToken()">
          Fetch token
        </button>
      </fd-panel-actions>
    </fd-panel-header>
    <fd-panel-body>
      <div class="fd-container fd-container--fluid fd-has-margin-bottom-medium">
        <div class="fd-col--6">
          <fieldset fd-form-set>
            <div fd-form-item [isInline]="true" [isCheck]="true">
              <fd-form-label [forValue]="'Ai4ez611'">
                <input *ngIf="canBeSecured" fd-form-control [type]="'checkbox'" [checked]="secure"
                  (change)="toggleSecure()" id="Ai4ez611" data-e2e-id="secure-api-checkbox" />
                Secure API
              </fd-form-label>
            </div>
          </fieldset>
        </div>
      </div>

      <div *ngIf="secure" class="fd-container fd-container--fluid">
        <p class="fd-has-type-1">Identity Provider</p>
        <div class="fd-col--6">
          <div fd-form-set>
            <div fd-form-item>
              <fd-form-label [forValue]="'input-4'">Issuer *</fd-form-label>
              <input fd-form-control [type]="'text'" id="input-4" [(ngModel)]="issuer"
                (ngModelChange)="validateDetails()" (blur)="validateDetails()"
                [state]="errorIssuer ? 'invalid' : undefined" />
              <fd-form-message [type]="'error'" *ngIf="errorIssuer">
                {{ errorIssuer }}
              </fd-form-message>
            </div>
          </div>
        </div>
        <div class="fd-col--6">
          <div fd-form-set>
            <div fd-form-item>
              <fd-form-label [forValue]="input-5">JWKS URI *</fd-form-label>
              <input fd-form-control [type]="'text'" id="input-5" [(ngModel)]="jwksUri"
                (ngModelChange)="validateDetails()" (blur)="validateDetails()"
                [state]="errorJWKSUri ? 'invalid' : undefined" />
              <fd-form-message [type]="'error'" *ngIf="errorJWKSUri">
                {{ errorJWKSUri }}
              </fd-form-message>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="canBeSecured && secure" class="fd-container fd-container--fluid">
        <div class="fd-col--12">
          <fd-popover [isDropdown]="true">
            Load Preset
            <fd-popover-body>
              <fd-menu>
                <fd-menu-list>
                  <li fd-menu-item *ngFor="let preset of availablePresets" (click)="selectPreset(preset)"
                    id="{{ preset.label }}">
                    {{ preset.label }}
                  </li>
                </fd-menu-list>
              </fd-menu>
            </fd-popover-body>
          </fd-popover>
        </div>
      </div>
    </fd-panel-body>
  </fd-panel>
</section>

<app-copy2clipboard-modal #fetchModal></app-copy2clipboard-modal>
<app-information-modal #infoModal></app-information-modal>
