.progress-indicator-percentage {
  &__percents {
    text-align: end;
    position: relative;
    bottom: -14px;
    margin-right: 18px;
  }
}

.progress-chart-card {
  max-width: 450px;
  max-height: 200px;
}
