@import '~fundamental-styles/dist/margins.css';
@import '~@sap-theming/theming-base-content/content/Base/baseLib/sap_fiori_3/css_variables.css';
@import '../shared/components/ResourceGraph/mixins';

@import './wizard-dialog.scss';

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  .tippy-popper[aria-hidden='true'] {
    display: none;
  }
}

.fd-action-bar__actions .fd-popover {
  top: 0 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.link {
  color: var(--sapBrandColor);
  cursor: pointer;

  &.no-border {
    border: none;
  }
}

.panel-grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin: 32px;
  grid-gap: 32px;

  .fd-panel {
    margin: 0;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.fd-panel.fd-panel--no-background {
  background-color: transparent;
}

.fd-radio:focus + .fd-radio__label {
  outline: none; // disable a weird outline on clicked checkbox
}

.fd-panel,
.fd-action-bar {
  &__actions {
    button[class^='fd-button']:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.modal-size--l::part(content) {
  width: 80vw;
  height: 80vw;
  min-width: unset;
}

.action-bar-wrapper {
  @media (min-width: 500px) {
    display: flex;
    justify-content: space-between;
  }

  & > section {
    flex-grow: 1;
  }
}

header.sticky {
  position: sticky;
  top: -24px;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}

li {
  list-style: none;
}

/* default modal width */
.modal-demo-bg {
  min-width: 400px;
}

.fd-dropdown[fullwidth='true'] {
  width: 100%;

  .fd-popper__body {
    width: 100%;
  }

  .fd-dropdown__control {
    display: flex;
    width: 100%;
    justify-content: space-between;
    justify-items: center;

    &::after {
      // align popover arrow
      margin-top: -2px;
    }

    &::before {
      content: unset;
    }
  }
}

.fd-hidden {
  visibility: hidden !important;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

ui5-checkbox {
  -webkit-appearance: checkbox;
}

@font-face {
  font-family: '72';
  src: url('~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/72-Regular-full.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '72';
  src: url('~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/72-Bold-full.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: '72';
  src: url('~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/72-Light-full.woff')
    format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SAP-icons';
  src: url('~@sap-theming/theming-base-content/content/Base/baseLib/sap_horizon/fonts/SAP-icons.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BusinessSuiteInAppSymbols';
  src: url('~@sap-theming/theming-base-content/content/Base/baseLib/sap_horizon/fonts/BusinessSuiteInAppSymbols.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SAP-icons-TNT';
  src: url('~@sap-theming/theming-base-content/content/Base/baseLib/sap_horizon/fonts/SAP-icons-TNT.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.fd-popover__body--dropdown {
  width: 100% !important;
  max-height: 200px !important;
  overflow-y: auto !important;

  .fd-list--dropdown {
    max-width: 100% !important;
  }

  .fd-form-message {
    max-width: 100%;
  }
}

.fd-popover__popper {
  max-height: 200px !important;
  overflow-y: auto !important;

  .fd-list--dropdown {
    max-width: 100% !important;
  }
}

.fd-input.is-invalid {
  border-width: 0.125rem;
  background-color: var(--sapField_InvalidBackground, #fff);
  border-color: var(--sapField_InvalidColor, #b00);
}

.message-toast--wrapper {
  position: fixed;
  transition: all ease-in-out 0.4s;
  z-index: 1100;
  cursor: pointer;
  left: 50vw;
  transform: translateX(-50%);
  bottom: 50px;
}

.fd-textarea.resize-vertical {
  resize: vertical;
}

.is-emphasized {
  font-style: italic;
}

.fd-display-flex {
  display: flex;
}

.fd-justify-between {
  justify-content: space-between;
}

.fd-align-center {
  align-items: center;
}

.fd-margin-0 {
  margin: 0;
}

.fd-link {
  cursor: pointer;
}

.fd-popover__popper b {
  font-weight: bold;
}

.fd-popover {
  width: 100%;
}

.fd-color--warning {
  color: var(--sapCriticalColor) !important;
}

.fd-color--text {
  color: var(--sapTextColor);
}

.fd-color--neutral {
  color: var(--sapNeutralColor);
}

.break-word {
  word-break: break-word;
}

.button-link {
  border: none;
  background: none;
  text-decoration: underline;
  color: var(--sapLinkColor);
  cursor: pointer;
}

.search-with-magnifying-glass {
  padding-left: 48px !important;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNiI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsPSIjNEQ1QTZDIiBkPSJNOS43NTQgMTkuNDk2YTkuNjg0IDkuNjg0IDAgMCAwIDYuMDk3LTIuMTU4bDguMjg5IDguMzRhMS4wODQgMS4wODQgMCAwIDAgMS41MzUtMS41MjlsLTguMy04LjM1YTkuNjg5IDkuNjg5IDAgMCAwIDIuMTItNi4wNTRjMC01LjM3Ny00LjM2OS05Ljc1MS05Ljc0MS05Ljc1MVMuMDEzIDQuMzY4LjAxMyA5Ljc0NXM0LjM2OSA5Ljc1MSA5Ljc0MSA5Ljc1MXptMC0xNy4zMzVjNC4xNzcgMCA3LjU3NyAzLjQwMiA3LjU3NyA3LjU4NCAwIDQuMTgyLTMuNCA3LjU4NC03LjU3NyA3LjU4NC00LjE3OCAwLTcuNTc3LTMuNDAyLTcuNTc3LTcuNTg0IDAtNC4xODIgMy4zOTktNy41ODQgNy41NzctNy41ODR6Ii8+PC9zdmc+);
  background-repeat: no-repeat;
  background-position: 16px center;
  background-size: 16px;
}

.has-tooltip {
  cursor: help;
}

.no-padding {
  padding: 0 !important;
}

.ui5-icon-s {
  width: 0.75rem;
  height: 0.75rem;
}

.ui5-icon-m {
  width: 1rem;
  height: 1rem;
}

.ui5-icon-l {
  width: 1.25rem;
  height: 1.25rem;
}

.ui5-icon-xl {
  width: 1.5rem;
  height: 1.5rem;
}

@include graph-node-border(pod, 4);
@include graph-node-border(virtualservice, 1);
@include graph-node-border(rolebinding, 2);
@include graph-node-border(apirule, 2);
@include graph-node-border(configmap, 5);
@include graph-node-border(cronjob, 2);
@include graph-node-border(function, 2);
@include graph-node-border(horizontalpodautoscaler, 6);
@include graph-node-border(job, 1);
@include graph-node-border(oauth2client, 1);
@include graph-node-border(replicaset, 6);
@include graph-node-border(clusterrolebinding, 2);
@include graph-node-border(role, 1);
@include graph-node-border(clusterrole, 1);
@include graph-node-border(secret, 5);
@include graph-node-border(service, 3);
