@import '~@sap-theming/theming-base-content/content/Base/baseLib/sap_fiori_3/css_variables.css';
@import '../shared/components/ResourceGraph/mixins';

@import './wizard-dialog.scss';

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  .tippy-popper[aria-hidden='true'] {
    display: none;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.bsl-link {
  color: var(--sapLinkColor);
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.no-border {
    border: none;
  }
}

.panel-grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 32px;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.modal-size--l::part(content) {
  width: 80vw;
  height: 80vw;
  min-width: unset;
}

ui5-combobox {
  width: 100%;
}

li {
  list-style: none;
}

ui5-checkbox {
  -webkit-appearance: checkbox;
}

@font-face {
  font-family: '72';
  src: url('~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/72-Regular-full.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '72';
  src: url('~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/72-Bold-full.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: '72';
  src: url('~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/72-Light-full.woff')
    format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SAP-icons';
  src: url('~@sap-theming/theming-base-content/content/Base/baseLib/sap_horizon/fonts/SAP-icons.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BusinessSuiteInAppSymbols';
  src: url('~@sap-theming/theming-base-content/content/Base/baseLib/sap_horizon/fonts/BusinessSuiteInAppSymbols.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SAP-icons-TNT';
  src: url('~@sap-theming/theming-base-content/content/Base/baseLib/sap_horizon/fonts/SAP-icons-TNT.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.message-toast--wrapper {
  position: fixed;
  transition: all ease-in-out 0.4s;
  z-index: 1100;
  cursor: pointer;
  left: 50vw;
  transform: translateX(-50%);
  bottom: 50px;
}

.is-emphasized {
  font-style: italic;
}

.bsl-display-flex {
  display: flex;
}

.bsl-justify-between {
  justify-content: space-between;
}

.bsl-align-center {
  align-items: center;
}

.bsl-color--warning {
  color: var(--sapCriticalColor) !important;
}

.bsl-color--text {
  color: var(--sapTextColor);
}

.break-word {
  word-break: break-word;
}

.button-link {
  border: none;
  background: none;
  text-decoration: underline;
  color: var(--sapLinkColor);
  cursor: pointer;
}

.search-with-magnifying-glass {
  padding-left: 48px !important;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNiI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsPSIjNEQ1QTZDIiBkPSJNOS43NTQgMTkuNDk2YTkuNjg0IDkuNjg0IDAgMCAwIDYuMDk3LTIuMTU4bDguMjg5IDguMzRhMS4wODQgMS4wODQgMCAwIDAgMS41MzUtMS41MjlsLTguMy04LjM1YTkuNjg5IDkuNjg5IDAgMCAwIDIuMTItNi4wNTRjMC01LjM3Ny00LjM2OS05Ljc1MS05Ljc0MS05Ljc1MVMuMDEzIDQuMzY4LjAxMyA5Ljc0NXM0LjM2OSA5Ljc1MSA5Ljc0MSA5Ljc1MXptMC0xNy4zMzVjNC4xNzcgMCA3LjU3NyAzLjQwMiA3LjU3NyA3LjU4NCAwIDQuMTgyLTMuNCA3LjU4NC03LjU3NyA3LjU4NC00LjE3OCAwLTcuNTc3LTMuNDAyLTcuNTc3LTcuNTg0IDAtNC4xODIgMy4zOTktNy41ODQgNy41NzctNy41ODR6Ii8+PC9zdmc+);
  background-repeat: no-repeat;
  background-position: 16px center;
  background-size: 16px;
}

.has-tooltip {
  cursor: help;
}

.no-padding {
  padding: 0 !important;
}

.bsl-icon-s {
  width: 0.75rem;
  height: 0.75rem;
}

.bsl-icon-m {
  width: 1rem;
  height: 1rem;
}

.bsl-icon-l {
  width: 1.25rem;
  height: 1.25rem;
}

.bsl-icon-xl {
  width: 1.5rem;
  height: 1.5rem;
}

.full-width {
  width: 100%;
}

// MARGINS
$sap-margins: (
  'none': 0,
  'tiny': 0.5rem,
  'sm': 1rem,
  'md': 2rem,
  'large': 3rem,
);

$sap-container-sides: (
  'top': top,
  'bottom': bottom,
  'begin': left,
  'end': right,
);

.bsl-margin {
  @each $key, $value in $sap-margins {
    &--#{$key} {
      margin: $value;
    }

    @each $sideKey, $_sideValue in $sap-container-sides {
      &-#{$sideKey}--#{$key} {
        @if ($sideKey ==top) {
          margin-top: $value;
        } @else if($sideKey ==bottom) {
          margin-bottom: $value;
        } @else if($sideKey ==begin) {
          margin-left: $value;
        } @else if($sideKey ==end) {
          margin-right: $value;
        }
      }
    }
  }
}

@include graph-node-border(pod, 4);
@include graph-node-border(virtualservice, 1);
@include graph-node-border(rolebinding, 2);
@include graph-node-border(apirule, 2);
@include graph-node-border(configmap, 5);
@include graph-node-border(cronjob, 2);
@include graph-node-border(function, 2);
@include graph-node-border(horizontalpodautoscaler, 6);
@include graph-node-border(job, 1);
@include graph-node-border(oauth2client, 1);
@include graph-node-border(replicaset, 6);
@include graph-node-border(clusterrolebinding, 2);
@include graph-node-border(role, 1);
@include graph-node-border(clusterrole, 1);
@include graph-node-border(secret, 5);
@include graph-node-border(service, 3);
