@import '~@sap-theming/theming-base-content/content/Base/baseLib/sap_fiori_3/css_variables.css';
@import '../shared/components/ResourceGraph/mixins';

@import './wizard-dialog.scss';

:root {
  --card-box-shadow: var(--_ui5-v1-20-0_card_box_shadow);
  --card-border: var(--_ui5-v1-20-0_card_border);
  --card-border-radius: var(--_ui5-v1-20-0_card_border-radius);
  --card-border: var(--_ui5-v1-20-0_card_border);
}

html {
  font-size: 16px;
  background: color-mix(in srgb, black 4%, var(--sapBackgroundColor));
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  .tippy-popper[aria-hidden='true'] {
    display: none;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.bsl-link {
  color: var(--sapLinkColor);
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.no-border {
    border: none;
  }
}

.column-content {
  height: 100%;
}

.card-shadow {
  box-shadow: var(--card-box-shadow);
  border: var(--card-border);
  border-radius: var(--card-border-radius);
  border: var(--card-border);
  overflow: hidden;
}

.panel-grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 32px;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.modal-size--l::part(content) {
  width: 80vw;
  height: 80vw;
  min-width: unset;
}

ui5-combobox {
  width: 100%;
}

ui5-button::part(button) {
  -webkit-font-smoothing: antialiased;
}

li {
  list-style: none;
}

ui5-checkbox {
  -webkit-appearance: checkbox;
}

ui5-tabcontainer::part(content) {
  padding: 0;
  border-bottom: none;
}

@font-face {
  font-family: '72';
  src: url('~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/72-Regular-full.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '72';
  src: url('~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/72-Bold-full.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: '72';
  src: url('~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/72-Light-full.woff')
    format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SAP-icons';
  src: url('~@sap-theming/theming-base-content/content/Base/baseLib/sap_horizon/fonts/SAP-icons.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BusinessSuiteInAppSymbols';
  src: url('~@sap-theming/theming-base-content/content/Base/baseLib/sap_horizon/fonts/BusinessSuiteInAppSymbols.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SAP-icons-TNT';
  src: url('~@sap-theming/theming-base-content/content/Base/baseLib/sap_horizon/fonts/SAP-icons-TNT.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.message-toast--wrapper {
  position: fixed;
  transition: all ease-in-out 0.4s;
  z-index: 1100;
  cursor: pointer;
  left: 50vw;
  transform: translateX(-50%);
  bottom: 50px;
}

.flexwrap {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.is-emphasized {
  font-style: italic;
}

.bsl-display-flex {
  display: flex;
}

.bsl-justify-between {
  justify-content: space-between;
}

.bsl-align-center {
  align-items: center;
}

.bsl-color--warning {
  color: var(--sapCriticalColor) !important;
}

.bsl-color--text {
  color: var(--sapTextColor);
}

.break-word {
  word-break: break-word;
}

.button-link {
  border: none;
  background: none;
  text-decoration: underline;
  color: var(--sapLinkColor);
  cursor: pointer;
}

@mixin search-icon($background-image) {
  padding-left: 48px !important;
  background-image: $background-image;
  background-repeat: no-repeat;
  background-position: 16px center;
  background-size: 16px;
}

.search-with-display-more {
  @include search-icon(
    url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiB3aWR0aD0iMjYiIGhlaWdodD0iMjYiPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgZmlsbD0iIzRENUE2QyIgZD0iTTQyMiAwcTM4IDAgNjQgMjZ0MjYgNjR2MzMycTAgMzgtMjYgNjR0LTY0IDI2SDEzOHEtMjggMC01My41LTExdC00NC0yOS41LTI5LjUtNDRUMCAzNzRxMC0yOSAxMS01My41VDQwLjUgMjc3dDQ0LTI5LjVUMTM4IDIzN2gxMjdsLTMzLTMzcS04LTgtOC0xOCAwLTExIDcuNS0xOC41VDI1MCAxNjB0MTggN2w3NyA3N3E3IDkgNyAxOCAwIDExLTcgMThsLTc3IDc3cS04IDgtMTggOC0xMSAwLTE4LjUtNy41VDIyNCAzMzlxMC0xMCA4LTE4bDMzLTMzSDEzOHEtMTggMC0zNCA3dC0yNy41IDE4LjUtMTguNSAyNy03IDMzLjVxMCAzNiAyNS41IDYxLjVUMTM4IDQ2MWgyODRxMTcgMCAyOC0xMXQxMS0yOFY5MHEwLTE3LTExLTI4dC0yOC0xMUg5MHEtMTcgMC0yOCAxMVQ1MSA5MHY3NnEwIDExLTcgMTguNVQyNiAxOTJ0LTE4LjUtNy41VDAgMTY2VjkwcTAtMzggMjYtNjRUOTAgMGgzMzJ6IiAvPjwvc3ZnPg==)
  );
}

.has-tooltip {
  cursor: help;
}

.no-padding {
  padding: 0 !important;
}

.bsl-icon-s {
  width: 0.75rem;
  height: 0.75rem;
}

.bsl-icon-m {
  width: 1rem;
  height: 1rem;
}

.bsl-icon-l {
  width: 1.25rem;
  height: 1.25rem;
}

.bsl-icon-xl {
  width: 1.5rem;
  height: 1.5rem;
}

.full-width {
  width: 100%;
}

//WORKAROUND FOR FORMS
.bsl-col-md--1 {
  max-width: 8.33333%;
  min-width: 8.33333%;
}

.bsl-col-md--3 {
  max-width: 25%;
  min-width: 25%;
}

.bsl-col-md--5 {
  max-width: 41.66667%;
  min-width: 41.66667%;
}

.bsl-col-md--6 {
  max-width: 50%;
  min-width: 50%;
}

.bsl-col-md--8 {
  max-width: 66.66667%;
  min-width: 66.66667%;
}

.bsl-col-md--9 {
  max-width: 75%;
  min-width: 75%;
}

.bsl-col-md--10 {
  max-width: 83.33333%;
  min-width: 83.33333%;
}

.bsl-col-md--11 {
  max-width: 91.66667%;
  min-width: 91.66667%;
}

.bsl-col-md--12 {
  max-width: 100%;
  min-width: 100%;
}

@include graph-node-border(pod, 4);
@include graph-node-border(virtualservice, 1);
@include graph-node-border(rolebinding, 2);
@include graph-node-border(apirule, 2);
@include graph-node-border(configmap, 5);
@include graph-node-border(cronjob, 2);
@include graph-node-border(function, 2);
@include graph-node-border(horizontalpodautoscaler, 6);
@include graph-node-border(job, 1);
@include graph-node-border(oauth2client, 1);
@include graph-node-border(replicaset, 6);
@include graph-node-border(clusterrolebinding, 2);
@include graph-node-border(role, 1);
@include graph-node-border(clusterrole, 1);
@include graph-node-border(secret, 5);
@include graph-node-border(service, 3);
