.wizard-dialog {
  .fd-dialog__content {
    height: 90vh;
    min-width: 90vw;
  }

  div[role='alert'] {
    padding-left: 32px;
    padding-right: 32px;
  }

  .fd-dialog__body {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .fd-dialog__footer {
    display: none;
  }
}
