.error-modal {
  &::part(content) {
    max-width: 33rem;
  }

  &--wider::part(content) {
    max-width: 75vw;
  }
}

.contentPartNoPadding::part(content) {
  padding: 0;
  min-width: 30vw;
}

.popupHeaderNoLeftPadding::part(header) {
  padding-left: 0;
}

.popupHeaderNoLeftPadding::part(footer) {
  padding-right: 0;
}
