.header {
  width: 100%;
  height: 50px;
  position: fixed;
  background-color: var(--sapShellColor, #354a5f);
  z-index: 9;

  .fd-avatar {
    i {
      color: var(--sapBaseColor, white) !important;
    }
  }

  .fd-shellbar__group--actions {
    .fd-shellbar__button--menu {
      float: right;
    }
  }
}

.fd-shellbar--l {
  padding-left: 0 !important;
}
