.condensed-item {
  // width: 47px;
  // height: 44px;
  border-bottom: 1px solid var(--sapGroup_ContentBorderColor);
  position: relative;

  .fd-popover__control {
    height: 44px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &:hover {
    background-color: var(--sapList_Hover_Background);
  }

  &:last-child {
    border-bottom: 0;
  }

  ::after {
    content: '';
    position: absolute;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    bottom: 1px;
    right: 0;
    border-bottom: 5px solid var(--sapContent_IconColor);
  }
}
//we want to select first 'li' that has condensed-item class
:not(.condensed-item) + .condensed-item {
  border-top: 1px solid var(--sapGroup_ContentBorderColor);
}

.fd-popover__popper {
  font-size: small;
  width: 200px;
  font-weight: 300;

  p {
    text-transform: uppercase;
    padding: 10px;
    font-weight: bold;
    position: relative;
  }

  .fd-nested-list__link {
    padding: 10px !important;

    & > * {
      font-size: small !important;
    }
  }
}
