:root {
  --sidebar-width: 260px;
}

.sidebar {
  height: 100vh;
  background-color: var(--sapList_Background);
  position: fixed;
  width: var(--sidebar-width);
  transition: width 0.3s;
  left: 0;

  .sidebar__content {
    height: calc(100vh - 180px);
    overflow-x: hidden;
  }

  .fd-nested-list__title {
    font-weight: 300;
  }

  .fd-nested-list__link {
    overflow-x: hidden;

    &:has(i, .fd-nested-list__icon) {
      padding-left: 0 !important;
    }
  }

  .fd-nested-list__button.fd-button {
    i {
      color: var(--sapContent_IconColor) !important;
    }
  }
}
