.sidebar {
  grid-area: sidebar;
  height: 100vh;
  background-color: var(--sapList_Background);
  position: fixed;

  .sidebar__footer {
    position: fixed;
    bottom: 0;
    width: 240px;
    height: 50px;
  }

  .sidebar__content {
    height: calc(100vh - 100px);
    padding-bottom: 50px;
    overflow-x: hidden;
  }
}
