.page-header {
  .ui5-title {
    font-size: var(--sapFontHeader3Size);
  }

  .description {
    color: var(--sapNeutralColor);
  }

  .protected-resource-warning {
    margin-right: 1rem;
    align-self: center;

    i {
      font-size: 1.5rem;
    }
  }
}

.header-wrapper {
  font-size: var(--sapFontSize);
}

.column-wrapper {
  display: grid;
  grid-gap: 8px;
  margin-top: 8px;

  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  &-even-split {
    grid-template-columns: 50% 50%;
  }
}
.page-header__column {
  display: inline-block;

  .title,
  .content {
    display: block;
    // font-size: 1rem;
  }

  .image {
    display: inline-block;
    margin-right: 0.5rem;
  }

  .content-container {
    display: inline-block;
    width: 100%;
  }

  .title {
    color: var(--sapNeutralColor);
    margin-bottom: 4px;
  }
}
