.page-header {
  background-color: var(--sapBackgroundColor);
  container-type: inline-size;

  ui5-dynamic-page-title {
    justify-content: center;
    min-height: 3rem;
    pointer-events: none;

    [slot='actionsBar'] {
      pointer-events: auto;
    }
  }

  .bold-title {
    font-family: var(--sapObjectHeader_Title_FontFamily);
  }

  .description {
    color: var(--sapNeutralColor);
  }

  .protected-resource-warning {
    margin-right: 1rem;
    align-self: center;

    i {
      font-size: 1.5rem;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    ui5-button {
      &:not(:last-of-type) {
        margin-right: 0.5rem;
      }
    }
  }

  &__layout {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    ui5-button {
      width: fit-content;
    }
  }

  &::part(fit-content) {
    position: static;
    padding: unset;
  }

  .tab-container {
    position: sticky;
    z-index: 1;
  }

  ui5-dynamic-page-header {
    padding-top: 0;
  }
}

ui5-dynamic-page {
  .no-shadow {
    box-shadow: none;
  }
}

.header-wrapper {
  font-size: var(--sapFontSize);
}

.column-wrapper {
  display: grid;
  grid-gap: 8px;
  margin-top: 8px;

  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));

  &-even-split {
    grid-template-columns: 50% 50%;
  }
}

.page-header__column {
  display: inline-block;

  .title,
  .content {
    display: block;
  }

  .image {
    display: inline-block;
    margin-right: 0.5rem;
  }

  .content-container {
    display: inline-block;
    width: 100%;
  }

  .title {
    color: var(--sapNeutralColor);
    margin-bottom: 4px;
  }
}

@media (max-width: 768px) {
  .column-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
