.page-header {
  --_ui5-v2-18-0_dynamic_page_content_padding_inline_XL: 3rem;
  --_ui5-v2-18-0_dynamic_page_content_padding_inline_L: 2rem;
  --_ui5-v2-18-0_dynamic_page_content_padding_inline_M: 2rem;
  --_ui5-v2-18-0_dynamic_page_content_padding_inline_S: 1rem;

  background-color: var(--sapBackgroundColor);
  container-type: inline-size;

  ui5-dynamic-page-title {
    justify-content: center;
    min-height: 3rem;
    pointer-events: none;

    [slot='actionsBar'],
    .protected-resource-button {
      pointer-events: auto;
    }
  }

  .bold-title {
    font-family: var(--sapObjectHeader_Title_FontFamily);
  }

  .description {
    color: var(--sapNeutralColor);
  }

  .protected-resource-warning {
    margin-right: 1rem;
    align-self: center;

    i {
      font-size: 1.5rem;
    }
  }

  .no-shadow {
    box-shadow: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    ui5-button {
      &:not(:last-of-type) {
        margin-right: 0.5rem;
      }
    }
  }

  &__layout {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    ui5-button {
      width: fit-content;
    }
  }

  &::part(fit-content) {
    position: static;
    padding: unset;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &::part(content) {
    padding-block: 1rem;

    @container (min-width: 1440px) {
      padding-inline: var(
        --_ui5-v2-18-0_dynamic_page_content_padding_inline_XL
      );
    }

    @container (min-width: 1024px) and (max-width: 1439px) {
      padding-inline: var(--_ui5-v2-18-0_dynamic_page_content_padding_inline_L);
    }

    @container (min-width: 600px) and (max-width: 1023px) {
      padding-inline: var(--_ui5-v2-18-0_dynamic_page_content_padding_inline_M);
    }

    @container (max-width: 599px) {
      padding-inline: var(--_ui5-v2-18-0_dynamic_page_content_padding_inline_S);
    }
  }

  .tab-container {
    position: sticky;
    z-index: 1;
    display: block;
    margin-top: -1rem;

    @container (min-width: 1440px) {
      margin-inline: calc(
        -1 * var(--_ui5-v2-18-0_dynamic_page_content_padding_inline_XL)
      );
      width: calc(
        100% + 2 * var(--_ui5-v2-18-0_dynamic_page_content_padding_inline_XL)
      );
    }

    @container (min-width: 1024px) and (max-width: 1439px) {
      margin-inline: calc(
        -1 * var(--_ui5-v2-18-0_dynamic_page_content_padding_inline_L)
      );
      width: calc(
        100% + 2 * var(--_ui5-v2-18-0_dynamic_page_content_padding_inline_L)
      );
    }

    @container (min-width: 600px) and (max-width: 1023px) {
      margin-inline: calc(
        -1 * var(--_ui5-v2-18-0_dynamic_page_content_padding_inline_M)
      );
      width: calc(
        100% + 2 * var(--_ui5-v2-18-0_dynamic_page_content_padding_inline_M)
      );
    }

    @container (max-width: 599px) {
      margin-inline: calc(
        -1 * var(--_ui5-v2-18-0_dynamic_page_content_padding_inline_S)
      );
      width: calc(
        100% + 2 * var(--_ui5-v2-18-0_dynamic_page_content_padding_inline_S)
      );
    }
  }

  ui5-dynamic-page-header {
    padding-top: 0;
    padding-bottom: 1rem;
  }
}

.header-wrapper {
  font-size: var(--sapFontSize);
}

.column-wrapper {
  display: grid;
  grid-gap: 8px;
  margin-top: 8px;

  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));

  &-even-split {
    grid-template-columns: 50% 50%;
  }
}

.page-header__column {
  display: inline-block;

  .title,
  .content {
    display: block;
  }

  .image {
    display: inline-block;
    margin-right: 0.5rem;
  }

  .content-container {
    display: inline-block;
    width: 100%;
  }

  .title {
    color: var(--sapNeutralColor);
    margin-bottom: 4px;
  }
}

@media (max-width: 768px) {
  .column-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
