#splitter-layout {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#html-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

#page-wrap {
  display: flex;
  flex: 1;
  min-height: 0;
  position: relative;
}

#assistant_wrapper {
  padding: 0 1rem 1rem 0;
  width: 100%;
}
