.create-modal__collapsible-section {
  background: var(--sapNeutralBackground);

  header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 8px 16px;
    border-top: 1px solid var(--sapList_GroupHeaderBorderColor);

    i {
      margin-right: 8px;
    }
  }

  &:last-child > header {
    border-bottom: 1px solid var(--sapList_GroupHeaderBorderColor);
  }

  .content {
    padding: 16px;
    background: var(--sapPageHeader_Background);
  }
}
