.load-balancers {
  &__header {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .expandable-item__message:not(.load-balancers__content) {
    .title {
      margin-left: 0.5rem !important;
    }
  }

  &__content {
    margin-left: 1.5rem !important;
  }
}
