.radial-chart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding-top: 20px;

  .additional-info {
    position: absolute;
    bottom: 60px;
    color: var(--sapNeutralColor);
  }
}

.radial-chart-card {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 230px;
  height: 300px;
}
