{
  "plugins": ["@babel/plugin-transform-runtime", "@babel/plugin-syntax-jsx"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
      // {
      // "useBuiltIns": "usage",
      // "targets": "> 0.25%, not dead"
      // }
    ]
  ]
}
