# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# /src/**/*.js
/src/**/*.js.map

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
.angulardoc.json
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# config
/src/assets/*.bundle.js
/src/assets/240.bundle.js.LICENSE.txt
/src/assets/luigiConfig.bundle.js.LICENSE.txt

# System Files
.DS_Store
Thumbs.db
pkup.sh

src/assets/libs
