# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# /src/**/*.js
/src/**/*.js.map

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
.angulardoc.json
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# config
/src/assets/luigi*
/src/assets/240*
/src/index.html
/src/assets/*.woff2
/src/assets/*.woff
/src/assets/fonts/
/src/assets/index.*.css
src/assets/libs

# System Files
.DS_Store
Thumbs.db
pkup.sh

