.double-editor {
  --fixed-width: 200px;

  .content {
    height: var(--fixed-width);

    & > * {
      height: var(--fixed-width);
    }
  }
}

.runtime-profile-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}
