kind: ConfigMap
apiVersion: v1
metadata:
  name: busola-web-config
data:
  config.json: >
    {
      "features": {
        "SERVICE_CATALOG": {
          "selectors": [
            {
              "type": "apiGroup",
              "apiGroup": "servicecatalog.k8s.io"
            }
          ]
        },
        "SERVICE_CATALOG_ADDONS": {
          "selectors": [
            {
              "type": "apiGroup",
              "apiGroup": "servicecatalog.kyma-project.io"
            }
          ]
        },
        "EVENTING": {
          "selectors": [
            {
              "type": "apiGroup",
              "apiGroup": "eventing.kyma-project.io"
            }
          ]
        },
        "API_GATEWAY": {
          "selectors": [
            {
              "type": "apiGroup",
              "apiGroup": "gateway.kyma-project.io"
            }
          ]
        },
        "APPLICATIONS": {
          "selectors": [
            {
              "type": "apiGroup",
              "apiGroup": "applicationconnector.kyma-project.io"
            }
          ]
        },
        "ADDONS": {
          "selectors": [
            {
              "type": "apiGroup",
              "apiGroup": "addons.kyma-project.io"
            }
          ]
        },
        "SERVERLESS": {
          "selectors": [
            {
              "type": "apiGroup",
              "apiGroup": "serverless.kyma-project.io"
            }
          ]
        }
      }
    }
