.add-cluster-dialog {
  .fd-dialog__body {
    padding: 0;
  }
  .fd-dialog__footer {
    display: none;
  }

  .fd-wizard__content {
    padding-bottom: 16px;
  }
}

/*
.add-cluster-form {
max-width: 400px;
    margin: 0 auto;
    
    & > p {
        margin-top: 32px;
        margin-bottom: 32px;
        text-align: center;
        color: var(--sapTextColor, #32363a);
    }

    & > button:last-child {
        width: 100%;
    }
}
*/
