.add-cluster-form {
max-width: 400px;
    margin: 0 auto;
    
    & > p {
        margin-top: 32px;
        margin-bottom: 32px;
        text-align: center;
        color: var(--sapTextColor, #32363a);
    }

    & > button {
        width: 100%;
    }
}
