.params-warning-icon {
  color: var(--sapCriticalColor);
  font-weight: bolder;
  margin-left: 10px;
}

.empty-cluster-list {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cluster-disabled-subtitle a {
  font-size: inherit;
}

#edit-cluster {
  .edit-cluster-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .resource-form--panel,
    .resource-form--panel::part(content) {
      min-height: unset !important;
      height: unset !important;
    }
  }

  &::part(footer) {
    padding: 0;
  }
}
