.resource-form {
  height: 100%;
  display: flex;
  flex-direction: column;

  form {
    overflow: auto;
    flex-grow: 1;
  }

  & > .dropdown {
    width: 100%;
  }
  
  .fd-row {
    margin: 0; // override fd's margin: 0 -.25rem;
  }
}
