<ng-container *ngIf="emptyListPlaceholderData">
  <fd-panel>
    <fd-panel-header *ngIf="emptyListPlaceholderData.header">
      <fd-panel-head *ngIf="emptyListPlaceholderData.header.text">
        <h2>{{ emptyListPlaceholderData.header.text }}</h2>
      </fd-panel-head>
      <fd-panel-actions *ngIf="emptyListPlaceholderData.header.actionButton">
        <button fd-button class="fd-button--light fd-has-float-right" (click)="onButtonClicked()"
            [glyph]="emptyListPlaceholderData.header.actionButton.glyph">
          {{ emptyListPlaceholderData.header.actionButton.text }}
        </button>
    </fd-panel-actions>
    </fd-panel-header>
    <fd-panel-body *ngIf="emptyListPlaceholderData.body" class="fd-has-margin-top-small fd-has-margin-bottom-small">
      <p *ngIf="emptyListPlaceholderData.body.text">
        {{ emptyListPlaceholderData.body.text }}
      </p>
      <p *ngIf="emptyListPlaceholderData.body.actionButton" class="fd-has-margin-top-medium">
        <button fd-button (click)="onButtonClicked()" [glyph]="emptyListPlaceholderData.body.actionButton.glyph">
          {{ emptyListPlaceholderData.body.actionButton.text }}
        </button>
      </p>
    </fd-panel-body>
  </fd-panel>
</ng-container>



