.instances-indicator {
  margin: 0;
  margin-left: 10px;
  align-self: flex-start;
  font-family: '72';
  position: relative;

  &--general {
    padding: 2px 6px;
    border-radius: 2px;
    font-size: 12px;
    background-color: var(--sapNeutralBackground, #f4f4f4);
    color: var(--sapTextColor, #32363a);

    &.active {
      background-color: var(--sapIndicationColor_5, #0a6ed1);
      color: var(--sapIndicationColor_5_TextColor, #fff);
    }

    &.provision-once {
      padding: 0;
      width: 28px;
      height: 28px;
      line-height: 28px;
      font-size: 10px;
      text-align: center;
      border-radius: 4px;

      &:before {
        position: absolute;
        top: 55%;
        left: 50%;
        font-size: 16px;
        content: '\E010';
        font-family: SAP-icons;
        font-style: normal;
        font-weight: 400;
        text-align: center;
        display: inline-block;
        text-transform: none;
        speak: none;
        transform: scaleY(-1) translate(-50%, 50%);
        filter: flipv;
      }
    }
  }
}
