.fd-panel__footer {
  &.service-list--card__footer {
    border-top: none;
    justify-content: flex-start;
    padding: 0;
    &__labels {
      display: inline-block;
      margin: 8px 8px 0 0;
    }
  }
}
