<div class="row sf-list__body" [ngClass]="{'sf-list__disabled': disabled === true}">
  <div class="col-3 col-lg-3 sf-list__body--primary">
  {{ entry.name }}
  </div>
  <div class="col-1">{{ entry.pods }}</div>
  <div class="col-1">{{ entry.creationTimestamp * 1000 | timeAgo }}</div>
  <div class="col-4">
    <span *ngFor="let image of entry.images">
      {{ image }}
    </span>
  </div>
  <div class="col-2 sf-list__label-column">
    <span class="tn-badge tn-badge--pill sf-list__label" *ngFor="let label of getLabels(entry.labels)">
      {{ label }}
    </span>
  </div>
  <div class="col-1 actions-icon">
    <y-list-actions [entry]="entry" [entryEventHandler]="entryEventHandler" [actions]="actions"></y-list-actions>
  </div>
  <div class="sf-list__warning col-12">
    <!--TODO put error message from ui-api-layer here-->
    <!--<span *ngFor="let warning of entry.pods.warnings">{{ warning.message }} <br></span>-->
  </div>
</div>
