.context-chooser {
  display: flex;
  justify-content: space-between;

  label {
    align-self: center;
  }
}

ui5-dialog.context-chooser-message {
  width: 478px;

  ui5-icon {
    display: none;
  }

  .context-chooser-content-text {
    padding-left: 7.5px;
  }
}
