.context-chooser {
  display: flex;
  justify-content: space-between;

  label {
    align-self: center;
  }
}

.context-chooser-message {
  .radio-box-container {
    * {
      margin: -4px 0;
    }
  }
}
