<div class="fd-section">
  <div class="fd-panel">
  <div class="fd-panel__header">
    <div class="fd-panel__head">
      <h1 class="fd-panel__title" data-e2e-id="search-form-title">
        {{ title }}
      </h1>
    </div>
  </div>
  <div class="fd-panel__body">
    <div class="fd-alert fd-alert--error fd-alert--dismissible fd-has-margin-bottom-xs" role="alert" id="global_errors" *ngIf="error">
      <button class="fd-alert__close" aria-controls="global_errors" aria-label="Close" (click)="error = null"></button>
      {{ error }}
    </div>
    <form #searchData="ngForm" (ngSubmit)="onSubmit()">

      <fieldset fd-form-set *ngIf="!mandatoryLabels.size">
        <div fd-form-item [isInline]="true">
          <fd-form-label [forValue]="'label'">
            Log Labels
          </fd-form-label>
          <select fd-form-control id="label" name="label" (change)="loadLabelValues($event.target.value)">
            <option value="">Select Label Key</option>
            <option *ngFor="let label of labels.values" [value]="label">{{ label }}</option>
          </select>
        </div>

        <div fd-form-item [isInline]="true">
          <fd-form-label [forValue]="'labelValue'">
            Label Values
          </fd-form-label>
          <select fd-form-control id="labelValue" name="labelValue" (change)="selectLabelValue($event.target.value)">
            <option value="">Select Label Value</option>
            <option *ngFor="let value of labelValues.values" [value]="value">{{ value }}</option>
          </select>
        </div>
      </fieldset>

      <fieldset fd-form-set>
        <div fd-form-item [isInline]="true">
          <fd-form-label [forValue]="'limit'">
            Query Result Limit
          </fd-form-label>
          <input fd-form-control [type]="'number'" id="limit" required [(ngModel)]="model.limit"
                 name="limit" [valueAsNumber]="model.limit">
        </div>

        <div fd-form-item [isInline]="true">
          <fd-form-label [forValue]="'direction'">
            Search Result Direction
          </fd-form-label>
          <select fd-form-control id="direction" required [(ngModel)]="model.direction" name="direction">
            <option *ngFor="let direction of directions" [value]="direction">{{ direction }}</option>
          </select>
        </div>

        <div fd-form-item [isInline]="true">
          <fd-form-label [forValue]="'from'">
            From
          </fd-form-label>
          <select fd-form-control id="from" required [(ngModel)]="model.from" name="from">
            <option *ngFor="let from of fromValues" [value]="from">{{ from }}</option>
          </select>
        </div>

        <div fd-form-item [isInline]="true">
          <fd-form-label [forValue]="'to'">
            To
          </fd-form-label>
          <select fd-form-control id="to" required [(ngModel)]="model.to" name="to" (change)="onToTimeChanged($event)">
            <option *ngFor="let to of toValues" [value]="to">{{ to }}</option>
          </select>
        </div>
        
        <div fd-form-item *ngIf="isFunctionLabelPresent" [isInline]="true">
          <fd-form-label >
            Show
          </fd-form-label>
          <label fd-form-label class="fd-form-label--block" for="outdatedLogsToggle">
            <input fd-form-control type="checkbox"  [(ngModel)]="model.showOutdatedLogs"  name="showOutdatedLogs" (change)="onSubmit()" id="outdatedLogsToggle" >
            Outdated logs
          </label>
          <label fd-form-label class="fd-form-label--block" for="healthChecksToggle">
            <input fd-form-control type="checkbox"  [(ngModel)]="model.showHealthChecks"  name="showHealthChecks" (change)="onSubmit()" id="healthChecksToggle" >
            Health checks
          </label>
        </div>
        
   
      </fieldset>

      <fieldset fd-form-set>

        <div fd-form-item [hidden]="mandatoryLabels.size">
          <label class="fd-form__label" for="query">
              Search Query
          </label>
          <input fd-form-control [type]="'text'" id="query" placeholder="Enter query" required [(ngModel)]="model.query"
                name="query">
          <span class="fd-form__message fd-form__message--help">
              For example '{{ '{' }}app="my-service"} error' would return logs from 'my-service' app containing keyword 'error'.
          </span>
        </div>

        <div fd-form-item [hidden]="!mandatoryLabels.size">
          <fd-form-label [forValue]="'extra-query'" [isRequired]="false">Query</fd-form-label>
          <input fd-form-control [type]="'text'" id="extraQuery" placeholder="Enter query" [(ngModel)]="model.extraQuery"
                 name="extra-query">
          <span class="fd-form__message fd-form__message--help">
            Filter logs by keyword, for example 'error'.
          </span>
        </div>


        <div fd-form-item [isInline]="true">
            <div class="fd-popover">
                <div class="fd-popover__control">  
                    <button fd-button type="submit" 
                    [glyph]="'search'" 
                    [options]="'light'"
                    [appAriaDisabled]="!searchData.form.valid || autoRefreshEnabled" 
                    (mouseenter)="autoRefreshEnabled? isSearchButtonTooltipOpen = true: null"
                    (mouseout)="isSearchButtonTooltipOpen = false"
                    [attr.aria-expanded]="isSearchButtonTooltipOpen" aria-haspopup="true">
                      Search
                    </button>
                </div>
                <div class="fd-popover__body fd-has-padding-tiny" [attr.aria-hidden]="!isSearchButtonTooltipOpen" >
                   {{ DISABLED_SEARCH_BUTTON_TOOLTIP }}
                </div>
            </div>

          <button fd-button 
            class="fd-has-margin-left-small"
            *ngIf="canSetAutoRefresh" 
            [glyph]="autoRefreshEnabled?'media-pause':'media-play'" 
            (click)="toggleAutoRefresh()">
            Auto refresh
          </button>
        </div>
      </fieldset>

      <div fd-form-item>
        Selected Labels:
        <span class="fd-token y-fd-token" [ngClass]="isMandatoryLabel(label.key) ? 'y-fd-token--no-close-button y-fd-token--no-link' : ''"
            role="button" (click)="removeLabel($event.target.innerText)" *ngFor="let label of selectedLabels | keyvalue">
          {{ label.key }}="{{ label.value }}"
        </span>
      </div>
    </form>
  </div>
</div>
</div>

<ng-container *ngIf="!isSearchResultEmpty(searchResult); else noLogsMessage">
<div class="fd-section" *ngFor="let stream of searchResult.streams">
  <div class="fd-panel">
    <div class="fd-panel__filters" >
      Available labels for stream:
      <ng-container *ngFor="let label of stream.availableLabels">
        <div class="fd-token y-fd-token y-fd-token--no-close-button" role="button"
            *ngIf="!isSelectedLabel(label)" (click)="addLabel($event.target.outerText)">
          {{ label }}
          </div>
      </ng-container>
    </div>
    <div class="fd-panel__body">
      <fd-table>
        <fd-table-header>
          <th>Timestamp</th>
          <th>Log</th>
        </fd-table-header>
        <fd-table-body>
          <tr *ngFor="let row of stream.entries">
            <td class="no-word-break">{{ row.ts }}</td>
            <td class="word-break">{{ row.line }}</td>
          </tr>
        </fd-table-body>
      </fd-table>
    </div>
  </div>
</div>
</ng-container>
<ng-template #noLogsMessage>
  <div class="fd-section fd-has-text-align-center">
    <h2>No logs found</h2>
   Try to adjust search criteria
  </div>
</ng-template>

