@mixin graph-node(
  $kind,
  $text: var(--sapTextColor),
  $background: var(--sapGroup_ContentBackground),
  $border: var(--sapTextColor),
  $hover-background: $background,
  $hover-text: $text,
  $hover-border: $border
) {
  #graph-area {
    .node,
    .cluster {
      &.#{$kind} {
        > polygon {
          fill: $background;
          stroke: $border;
        }
        > text {
          fill: $text;
        }
        &:hover {
          > polygon {
            fill: $hover-background;
            stroke: $hover-border;
          }
          > text {
            fill: $hover-text;
          }
        }
      }
    }
  }
}

@mixin graph-node-border($kind, $id, $variant: '') {
  @include graph-node($kind, $border: var(--sapChart_Sequence_#{$id}));
}

@mixin graph-node-filled($kind, $id, $variant: '') {
  @include graph-node(
    $kind,
    $background: var(--sapIndicationColor_#{$id}),
    $text: var(--sapIndicationColor_#{$id}_TextColor),
    $hover-background: var(--sapIndicationColor_#{$id}_Hover_Background)
  );
}
