.resource-validation-table {
  ui5-table-cell {
    overflow-clip-margin: unset !important; // Otherwise switch focus is being cut off
  }

  ui5-table-header-row {
    display: none;
  }
}

.policy-row {
  align-items: center;
  font-size: var(--sapFontSize);
}

.no-validation-info {
  margin: 16px;
  text-align: center;
}
