<div class="row sf-list__body" [ngClass]="{'sf-list__disabled': disabled === true}">
  <div class="sf-list__body--primary col-2 col-lg-3">
    <a routerLink="/home/namespaces/{{currentEnvironmentId}}/services/{{entry.service.name}}/apis/details/{{entry.name}}">{{ entry.name }}</a>
  </div>
  <div class="col-3">{{ entry.hostname }}</div>
  <div class="col-1">{{ entry.service.port }}</div>
  <div *ngIf="isSecured(entry)" class="col-2">
    <span class="tn-badge tn-badge--pill sf-list__label">Secured</span>
  </div>
  <div *ngIf="!isSecured(entry)" class="col-2">
    <p>-</p>
  </div>
  <div class="col-2">{{ isSecured(entry) ? getIDP(entry) : '-' }}</div>
  <div class="col-1 actions-icon">
    <y-list-actions [entry]="entry" [entryEventHandler]="entryEventHandler" [actions]="actions"></y-list-actions>
  </div>
</div>
