.feature-card-container {
  container-type: inline-size;
}

.banner-carousel {
  width: auto;
  margin-top: -1rem;

  &.banner-carousel > * {
    width: 100%;
    margin-top: 0 !important;
  }

  &::part(item) {
    padding-block: 1rem !important;
  }
}

@container (min-width: 1440px) {
  .banner-carousel {
    margin-inline: calc(
      (-1 * var(--_ui5-v2-18-0_dynamic_page_content_padding_inline_XL)) + 1px
    );

    &::part(item) {
      padding-inline: var(
        --_ui5-v2-18-0_dynamic_page_content_padding_inline_XL
      ) !important;
    }
  }
}

@container (min-width: 1024px) and (max-width: 1439px) {
  .banner-carousel {
    margin-inline: calc(
      (-1 * var(--_ui5-v2-18-0_dynamic_page_content_padding_inline_L)) + 1px
    );

    &::part(item) {
      padding-inline: var(
        --_ui5-v2-18-0_dynamic_page_content_padding_inline_L
      ) !important;
    }
  }
}

@container (min-width: 600px) and (max-width: 1023px) {
  .banner-carousel {
    margin-inline: calc(
      (-1 * var(--_ui5-v2-18-0_dynamic_page_content_padding_inline_M)) + 1px
    );

    &::part(item) {
      padding-inline: var(
        --_ui5-v2-18-0_dynamic_page_content_padding_inline_M
      ) !important;
    }
  }
}

@container (max-width: 599px) {
  .banner-carousel {
    margin-inline: calc(
      (-1 * var(--_ui5-v2-18-0_dynamic_page_content_padding_inline_S)) + 1px
    );

    &::part(item) {
      padding-inline: var(
        --_ui5-v2-18-0_dynamic_page_content_padding_inline_S
      ) !important;
    }
  }
}

.feature-card {
  position: relative;
  display: flex;

  .outer-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 32px 0 32px;
  }

  .inner-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 50%;
    max-width: 700px;
    margin: 0 32px 32px 0;

    .title-container {
      ui5-title {
        margin-right: 8px;

        .banner-title {
          font-weight: 900;
        }
      }

      img {
        width: 46px;
        height: 46px;
      }
    }

    ui5-text {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }

    .button-container {
      display: flex;
      margin-top: 8px;
      gap: 8px;
    }
  }

  .decline-button {
    position: absolute;
    top: 8px;
    right: 8px;
    color: var(--sapContent_IconColor);
  }

  .illustration {
    height: 100%;
    max-width: 50%;
  }
}

@container (max-width: 625px) {
  .feature-card {
    .illustration {
      max-width: 100%;
    }

    .outer-container {
      flex-direction: column-reverse;
      align-items: start;
      gap: 32px;

      .inner-container {
        width: 100%;
      }
    }
  }
}
