$sf-navigation-background-color: #fff;

.sf {
  &-navigation {
    :host(&) {
      position: fixed;
      height: calc(100% - 53px);
      width: 320px;
      bottom: 0;
      z-index: 1;

      overflow: auto;

      background-color: $sf-navigation-background-color;

      transition: transform 0.2s ease-in-out;

      box-shadow: 0 0 1px #ebebeb;

      &.left-nav-collapsed {
        width: 0px;
      }

      @media (max-width: 768px) {
        transform: translateX(-100%);
        border-right: 1px solid darken($sf-navigation-background-color, 20%);

        &.is-active {
          transform: translateX(0);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}

.filter-input {
  border: 0;
  float: left;
  width: 90%;
}

.tn-dropdown__menu {
  overflow: auto;
  max-height: 300px;
}
