.yaml-editor-header {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-left: 24px;

  h1 {
    color: var(--sapTextColor);
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
    vertical-align: middle;
    line-height: 32px;
  }
}
