.side-drawer {
  $btnWidth: 4.2em;
  --handleWidth: 14px;

  position: fixed;
  z-index: 1000; // very important, do not lower it (you can raise it)
  display: grid;
  align-items: center;
  right: 0;
  top: 0;
  height: 100%;

  filter: drop-shadow(0 0 0.4em rgba(0, 0, 0, 0.42));
  transition: transform cubic-bezier(0.45, 0.05, 0.55, 0.95) 0.5s;
  transform: translateX(calc(100% - #{$btnWidth}));

  &--open {
    transform: unset;
  }

  @mixin white-bg {
    background-color: var(--sapBaseColor);
  }

  .open-btn {
    @include white-bg();
    color: var(--sapBrandColor);

    display: grid;
    align-content: center;
    grid-template-columns: 1fr;
    width: $btnWidth;

    border-color: var(--sapBrandColor);
    border-width: 1px 0 1px 1px;
    border-radius: 4px 0 0 4px;
    outline: none;

    grid-gap: 0.6em;
    padding: 0.6em;

    overflow-wrap: anywhere;
    cursor: pointer;
    box-sizing: border-box;
    &-hidden {
      display: none;
      @at-root .side-drawer:not(.side-drawer--open) {
        transform: translateX(100%);
      }
    }
  }

  .content {
    @include white-bg();
    align-self: stretch;
    overflow: auto;
    position: relative;
    display: grid;
    grid-template-columns: var(--handleWidth) 100%;
    border-radius: 8px 0 0 8px;

    .handle {
      cursor: ew-resize;
      z-index: 1001;
      display: grid;
      place-items: center;
    }

    .content-wrapper {
      margin: 4px 16px;
      margin-left: calc(16px - var(--handleWidth));
    }

    .bottom {
      @include white-bg();
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      padding: 1em;
      display: flex;
      justify-content: flex-end;

      *:not(:last-child) {
        margin-right: 4px;
      }
    }
  }

  .copiable-text {
    margin-right: 4px;
  }
}
