<div luigiClientCommunication [isActive]="isActive">
  <ng-template
    let-modal
    class="y-fd-modal"
    #createBindingModal
    role="dialog"
    aria-labelledby="confirm"
  >
    <fd-modal-header>Create Binding</fd-modal-header>
    <fd-modal-body>
      <div class="fd-form__group">
        <div
          class="fd-alert fd-alert--error fd-has-margin-bottom-small"
          role="alert"
          *ngIf="error"
        >
          {{ error }}
        </div>
        <div class="fd-form__set">
          <div class="fd-form__group">
            <div
              class="fd-form__item fd-form__item--inline fd-form__item--check"
            >
              <label class="fd-form__label" for="pDidh767">
                <input
                  type="radio"
                  class="fd-form__control"
                  id="pDidh767"
                  name="radio"
                  (click)="setUserMode()"
                  [checked]="!isUserGroupMode"
                />
                User
              </label>
            </div>
            <div
              class="fd-form__item fd-form__item--inline fd-form__item--check"
            >
              <label class="fd-form__label" for="pDidh7618">
                <input
                  type="radio"
                  class="fd-form__control"
                  id="pDidh7618"
                  name="radio"
                  (click)="setUserGroupMode()"
                  [checked]="isUserGroupMode"
                />
                User Group
              </label>
            </div>
          </div>
        </div>

        <div fd-form-set>
          <div fd-form-item>
            <label fd-form-label
              >{{ isUserGroupMode ? 'User Group' : 'User' }} *</label
            >
            <input
              fd-form-control
              class="y-fd-form__control"
              type="text"
              name="userOrGroup"
              placeholder="{{
                isUserGroupMode ? 'Enter User Group' : 'Enter User'
              }}"
              [(ngModel)]="userOrGroup"
              (ngModelChange)="validateUserOrGroupInput()"
            />
            <fd-form-message [type]="'error'" *ngIf="userGroupError">{{ userGroupError }}</fd-form-message>
          </div>
          <div fd-form-item *ngIf="!isGlobalPermissionsView">
            <label fd-form-label>Kind *</label>

            <fd-combobox
              filterAllOnSelected
              [(ngModel)]="selectedKind"
              [dropdownValues]="kinds"
              [placeholder]="'Select Kind'"
              (ngModelChange)="selectKind()"
            >
            </fd-combobox>
          </div>

          <div fd-form-item>
            <label fd-form-label>Role *</label>
            <fd-combobox
              filterAllOnSelected
              [(ngModel)]="selectedRole"
              [dropdownValues]="roles"
              [placeholder]="'Select Role'"
              [disabled]="!isSelectedKindCorrect()"
            >
            </fd-combobox>
          </div>
        </div>
      </div>
    </fd-modal-body>
    <fd-modal-footer>
      <button
        fd-button
        [fdType]="'main'"
        [disabled]="!isReadyToCreate() || error ? 'disabled' : ''"
        (click)="save()"
      >
        Save
      </button>
    </fd-modal-footer>
  </ng-template>
</div>
