<div luigiClientCommunication [isActive]="isActive">
  <ng-template [ngIf]="isActive">
    <div class="sf-modal sf-modal--min" [ngClass]="{'is-active': isActive===true}" role="dialog"
      aria-labelledby="confirm" (click)="$event.stopPropagation()">
      <div class="tn-modal" role="document">
        <div class="tn-modal__content">
          <div class="tn-modal__header">
            <button class="tn-button tn-button--text tn-button--icon tn-button--small" aria-label="close"
              (click)="close()">
              <span class="tn-icon tn-icon--close" role="presentation"></span>
            </button>
            <h4 class="tn-modal__title">Create Binding</h4>
          </div>
          <div class="tn-modal__body">
            <div class="tn-form__group">
              <div class="error-message-placeholder" *ngIf="error">{{ error }}</div>

              <div class="fd-form__set">
                <div class="fd-form__group">
                  <div class="fd-form__item fd-form__item--inline fd-form__item--check">
                    <label class="fd-form__label" for="pDidh767">
                      <input type="radio" class="fd-form__control" id="pDidh767" name="radio" (click)='setUserMode()'
                        [checked]="!isUserGroupMode">
                      User
                    </label>
                  </div>
                  <div class="fd-form__item fd-form__item--inline fd-form__item--check">
                    <label class="fd-form__label" for="pDidh7618">
                      <input type="radio" class="fd-form__control" id="pDidh7618" name="radio"
                        (click)='setUserGroupMode()' [checked]="isUserGroupMode">
                      User Group
                    </label>
                  </div>
                </div>
              </div>

              <div class="user-group">
                <label class="tn-form__label">{{ isUserGroupMode ? 'User Group' : 'User' }}</label>
                <div class="user-group-input">
                  <input class="filter-input" type="text" name="userOrGroup"
                    placeholder="{{isUserGroupMode?'Enter User Group':'Enter User'}}" [(ngModel)]="userOrGroup"
                    (ngModelChange)="validateUserGroupInput()">
                </div>
                <div *ngIf="userGroupError" class="alert">{{ userGroupError }}</div>
              </div>

              <div class="tn-dropdown sf-dropdown environment-chooser" *ngIf="!isGlobalPermissionsView">
                <label class="tn-form__label">Kind</label>
                <div (clickOutside)="closeDropDown('Kind')" clickOutsideEvents="click,mousedown"
                  excludeBeforeClick="true">
                  <button class="tn-dropdown__control"
                    ngClass="{{!selectedKind ? 'tn-dropdown__control--placeholder' : ''}}"
                    [attr.aria-expanded]="ariaExpandedKind" (click)="toggleDropDown('Kind')">
                    <input class="filter-input" type="text" name="selectedKind" placeholder="Select Kind"
                      [(ngModel)]="selectedKind" (ngModelChange)="filterEnvironments('Kind')"
                      (keydown)="openDropDown('Kind', $event)" (click)="openDropDown('Kind', $event)">
                  </button>
                  <ul class="tn-dropdown__menu" [attr.aria-hidden]="!ariaExpandedKind">
                    <li class="tn-dropdown__item" *ngFor="let kind of filteredKinds"
                      (click)="closeDropDown(); selectKind(kind);">
                      {{ kind }}
                    </li>
                  </ul>
                </div>
              </div>

              <div class="tn-dropdown sf-dropdown environment-chooser">
                <label class="tn-form__label">Role</label>
                <div (clickOutside)="closeDropDown('Role')" clickOutsideEvents="click,mousedown"
                  excludeBeforeClick="true">
                  <button class="tn-dropdown__control"
                    ngClass="{{!selectedRole ? 'tn-dropdown__control--placeholder' : ''}}" [disabled]="!selectedKind"
                    [attr.aria-expanded]="ariaExpandedRole" (click)="toggleDropDown('Role')">
                    <input class="filter-input" type="text" name="selectedRole" placeholder="Select Role"
                      [disabled]="!selectedKind" [(ngModel)]="selectedRole" (ngModelChange)="filterEnvironments('Role')"
                      (keydown)="openDropDown('Role', $event)" (click)="openDropDown('Role', $event)">
                  </button>
                  <ul class="tn-dropdown__menu" [attr.aria-hidden]="!ariaExpandedRole">
                    <li class="tn-dropdown__item" *ngFor="let role of filteredRoles"
                      (click)="closeDropDown(); selectRole(role);">
                      {{ role }}
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
          <footer class="tn-modal__footer-items">
            <button class="tn-modal__button-primary sf-button--primary tn-button--small"
              [disabled]="(!isReadyToCreate() || error)" ngClass="{{(!isReadyToCreate() || error) ? 'disabled' : ''}}"
              (click)="save()">
              SAVE
            </button>
          </footer>
        </div>
      </div>
    </div>
  </ng-template>
</div>