<header class="fd-page__header fd-has-background-color-background-2">
  <section class="fd-section">
    <div class="fd-section__header">
      <h1 class="fd-section__title">Preferences</h1>
    </div>
  </section>
</header>

<section class="fd-section">
  <fd-panel-grid [col]="1">
    <fd-panel *ngIf="shouldShowNamespacesToggle" class="y-fd-panel">
      <fd-panel-header>
        <fd-panel-head>
          <h2 fd-panel-title>Namespaces settings</h2>
        </fd-panel-head>
        <fd-panel-actions>
          <div [dir]="'rtl'">
            <fd-toggle
              [(ngModel)]="showSystemNamespaces"
              (change)="toggleSystemNamespaceVisibility()"
              >Show System Namespaces
            </fd-toggle>
          </div>
        </fd-panel-actions>
      </fd-panel-header>
    </fd-panel>

    <fd-panel class="y-fd-panel">
      <fd-panel-header>
        <fd-panel-head>
          <h2 fd-panel-title>Experimental functionalities</h2>
        </fd-panel-head>
        <fd-panel-actions>
          <div [dir]="'rtl'">
            <fd-toggle
              [(ngModel)]="showExperimentalViews"
              (change)="toggleExperimentalViews()"
              >Enable all
            </fd-toggle>
          </div>
        </fd-panel-actions>
      </fd-panel-header>
      <fd-panel-body>
        <p>
          Enables all views which expose experimental features in the UI.<br> Refresh the page after enabling this option to see
          additional navigation nodes in the
          <strong>Experimental</strong> category of the left navigation.
        </p>
      </fd-panel-body>
    </fd-panel>

  </fd-panel-grid>
</section>
