.label-selector {
  color: var(--sapField_TextColor);
  outline: 0;

  border-style: solid;
  border-width: 1px;
  border-color: var(--sapField_BorderColor, #89919a);
  background-color: var(--sapField_Background);
  border-radius: var(--sapField_BorderCornerRadius, 0.125rem);
  transition: border-color 125ms;

  box-sizing: border-box;
  min-height: var(--sapElement_Height);
  padding-left: 0px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  margin-bottom: 0.25rem;

  &:active,
  &:focus {
    box-shadow: 0 0 0 1px var(--sapField_Focus_BorderColor);
  }

  &.compact {
    min-height: var(--sapElement_Compact_Height);
  }

  &.is-invalid {
    border-width: 0.125rem;
    background-color: var(--sapField_InvalidBackground, #fff);
    border-color: var(--sapField_InvalidColor, #b00);
  }

  &:hover {
    background-color: var(--sapField_Hover_Background, #fff);
    border-color: var(--sapField_Hover_BorderColor, #0854a0);
  }

  input[type='text'] {
    height: calc(var(--sapElement_Height) - 2px);
    width: auto;
    padding-left: 12px;
    margin: 0;

    border: none;
    flex-grow: 1;

    &:active,
    &:focus {
      box-shadow: none !important;
      outline: none !important;
    }

    &.fd-input--compact {
      padding-left: 8px;
      height: unset;
    }
  }

  .fd-token.label-selector__label {
    height: calc(var(--sapElement_Height) - 2 * 6px);
    margin: 4px 0;
    flex-shrink: 0;
    border: 1px solid var(--sapNeutralBackground);
    margin-left: 4px;
    &:first-child {
      margin-left: 6px;
    }

    cursor: default;

    &:after {
      content: unset;
    }
  }
}
