.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 16px;
}

.instance-schema-panel__separator {
  height: 1px;
  background-color: var(--fd-modal-border-color);
  margin: 16px -16px;
}

.instance-schema-panel {
  display: flex;
  justify-content: space-between;
}

li.text-danger {
  list-style: none;
}
