<tr [ngClass]="{'disabled': disabled === true}">
  <td class="fd-has-font-weight-bold">{{ entry.name }}</td>
  <td *ngIf="entry.limits.length > 0">
    {{ listMaxMemoryLimits() }}
  </td>
  <td *ngIf="entry.limits.length === 0">-</td>
  <td *ngIf="containerLimits">
    {{ containerLimits.default.memory }}
  </td>
  <td *ngIf="!containerLimits">-</td>
  <td *ngIf="containerLimits">
    {{ containerLimits.defaultRequest.memory }}
  </td>
  <td *ngIf="!containerLimits">-</td>
  <td class="fd-has-float-right">
    <y-list-actions
      [entry]="entry"
      [entryEventHandler]="entryEventHandler"
      [actions]="actions"
    ></y-list-actions>
  </td>
</tr>
