.pagination {
  display: flex;
  justify-content: 'center';
  align-items: baseline;
}

.nav-link {
  border: none;
  background: none;
  color: var(--sapNeutralColor);
  font-size: var(--sapFontSize);

  i::before {
    color: var(--sapBrandColor);
    font-size: 80%;
  }

  &.current {
    font-weight: bolder;
  }

  &.interactable {
    color: var(--sapBrandColor);
    cursor: pointer;
  }
}
