.code-block {
  font-family: monospace;
}

.pod-template-row {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-auto-flow: row;
  gap: 40px;
}

.pod-template-row-label {
  text-align: end;
}

@media (max-width: 650px) {
  .pod-template-row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
  }

  .pod-template-row-label {
    text-align: start;
  }
}
