.template-table {
  margin-bottom: 10px;

  tr {
    text-align: left;
    border-bottom: 2px solid var(--sapGroup_ContentBorderColor, #d9d9d9);
  }

  th {
    background-color: var(--sapNeutralBackground);
  }

  th,
  td {
    padding: 5px 0px 0px 5px;
    width: 50%;
  }
}

.code-block {
  font-family: monospace;
}
