<div class="tn-dropdown" (clickOutside)="closeActionsBtn($event)" clickOutsideEvents="click,mousedown">
  <button class="tn-button tn-button--icon tn-button--text" [attr.aria-controls]="entryAsString()"
          aria-haspopup="true" aria-label="More" (click)="toggleActionsBtn($event)">
    <span class="tn-icon tn-icon--more tn-icon--medium" role="presentation"></span>
  </button>
  <ul class="tn-dropdown__menu tn-contextual-menu text-left" [attr.aria-hidden]="ariaHidden" [id]="entryAsString()">
    <li *ngFor="let action of actions" >
      <a (click)="closeActionsBtn($event); executeAction(action, $event);" class="tn-dropdown__item" [name]="action.name">{{ action.name }}</a>
    </li>
  </ul>
</div>
