.resource-form__collapsible-section {
  margin-top: 1rem;

  .multi-input {
    .fd-col {
      padding-top: 0;

      li .fd-col {
        padding-top: 0;
      }

      .fd-button--negative {
        top: -0.25rem;
      }
    }

    &__row {
      margin-top: 0.5rem;
      display: inline;
    }
  }
}
