<y-plain-table [source]="data" [headerRenderer]="headerRenderer" [entryRenderer]="entryRenderer"
  [entryEventHandler]="entryEventHandler" [footerRenderer]="footerRenderer" [emptyListPlaceholderData]="emptyListData" [showEmptyPage]="showEmptyPage">
</y-plain-table>

<y-list-paging [pagingState]="pagingState" (onPageChanged)="onPageChanged($event)"></y-list-paging>


<app-confirmation-modal #confirmationModal></app-confirmation-modal>
<app-information-modal #infoModal></app-information-modal>
<app-json-editor-modal #editResourceModal></app-json-editor-modal>
