<tr [ngClass]="{ disabled: disabled === true }">
  <td>
    <a
      href="javascript:void(null)"
      (click)="navigateToDetails(entry.name)"
      class="fd-has-font-weight-bold"
    >
      {{ entry.name }}
    </a>
  </td>
  <td>
    <a
      class="display-inline"
      title="Open link in a new tab"
      [href]="getHostnameURL(hostname)"
      target="_blank"
    >
      {{ hostname }}
      <fd-icon [glyph]="'inspect'" [size]="'s'"></fd-icon>
    </a>
    <fd-icon
      ngxClipboard
      [cbContent]="getHostnameURL(hostname)"
      class="fd-has-margin-left-tiny clickable align-middle"
      [glyph]="'copy'"
      [size]="'m'"
      title="Copy to clipboard"
    ></fd-icon>
  </td>
  <td>{{ entry.service.name }}</td>
  <td>
    <span
      fd-badge
      [status]="isSecured(entry) ? 'success' : 'warning'"
      [modifier]="'filled'"
      >{{ isSecured(entry) ? 'Yes' : 'No' }}</span
    >
  </td>
  <td>{{ entry.creationTimestamp * 1000 | timeAgo }}</td>
  <td class="fd-has-float-right">
    <y-list-actions
      [entry]="entry"
      [entryEventHandler]="entryEventHandler"
      [actions]="actions"
    ></y-list-actions>
  </td>
</tr>
