<tr [ngClass]="{ disabled: disabled === true }">
  <td>
    <a
      href="javascript:void(null)"
      (click)="navigateToDetails(entry.metadata.name)"
      class="fd-has-font-weight-bold"
    >
      {{ entry.metadata.name }}
    </a>
  </td>
  <td>
    <a
      class="display-inline"
      title="Open link in a new tab"
      [href]="getHostnameURL(entry.spec.hostname)"
      target="_blank"
    >
      {{ entry.spec.hostname }}
      <fd-icon [glyph]="'inspect'" [size]="'s'"></fd-icon>
    </a>
    <fd-icon
      ngxClipboard
      [cbContent]="getHostnameURL(entry.spec.hostname)"
      class="fd-has-margin-left-tiny clickable align-middle"
      [glyph]="'copy'"
      [size]="'m'"
      title="Copy to clipboard"
    ></fd-icon>
  </td>
  <td>{{ entry.spec.service.name }}</td>

  <td>
    <p>{{ isSecured(entry) }}</p>
  </td>
  <td>{{ entry.metadata.creationTimestamp | timeAgo }}</td>
  <td class="fd-has-float-right">
    <y-list-actions
      [entry]="entry"
      [entryEventHandler]="entryEventHandler"
      [actions]="actions"
    ></y-list-actions>
  </td>
</tr>
