.emptyListComponent {
  width: 100%;

  &__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  section {
    height: 100%;
  }
}

div[slot='noData'] {
  width: 100%;
  text-align: center;
}
