$transition-length: 2s;
$neutral-background: var(--fd-color-background-2, #fff);

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin circle-shape($size) {
  border-radius: 50%;
  width: $size;
  height: $size;
}

.circle-progress {
  .circle__container {
    position: relative;
    @extend %flex-center;
    border-radius: 50%;

    .background {
      @include circle-shape(100%);
      position: absolute;
      background-color: transparent;
      opacity: 0.15;
      background-blend-mode: color-burn;
    }

    .value-indicator {
      @include circle-shape(100%);
      position: absolute;
    }

    .inner-area {
      @include circle-shape(73%);
      @extend %flex-center;
      background-color: $neutral-background;
      position: absolute;
      z-index: 8;
      color: var(--fd-color-text-3);

      .percentage {
        @include circle-shape(calc(100% - 6px));
        @extend %flex-center;
        border: 1px solid var(--fd-color-text-3);
      }
    }
  }

  display: grid;
  grid-template-columns: 1;
  justify-items: center;
  justify-content: center;
  grid-gap: 3%;
  color: var(--fd-color-text-3);
  font-size: 1.2em;
}
