.bubbles-container {
  max-width: 275px;
  gap: 8px;

  .bubble-button {
    align-self: flex-start;
    color: var(--sapChart_OrderedColor_5);
  }

  .bubble-button:hover {
    background-color: var(--sapBackgroundColor1);
    border-color: var(--sapChart_OrderedColor_5);
  }
}
