// Include Fiori Fundamentals
$fd-icons-path: "~fiori-fundamentals/scss/icons/";
$fd-fonts-path: "~fiori-fundamentals/scss/fonts/";
@import "~fiori-fundamentals/scss/all.scss";

// Overrides
.y-fd-token {
  margin-bottom: fd-space('tiny');
  margin-right: fd-space('tiny');
  &.y-fd-token--no-close-button {
    &:after {
       all: unset;
    }
  }
  &.y-fd-token--no-link {
    cursor: default;
  }
}

.word-break {
  word-break: break-all;
}

.no-word-break {
  white-space: pre;
}

.fd-table tr {
  cursor: default !important;
}
