.lambdas-list {
  .fd-panel__header {
    padding-right: 32px;
    padding-left: 32px;
    border-bottom-width: 0;
  }

  &__create-lambda-modal {
    .fd-modal__body {
      min-height: 230px;
    }
  }
}
