<tr [ngClass]="{ disabled: disabled === true }">
  <td class="fd-has-font-weight-bold">{{ entry.name }}</td>
  <td>{{ entry.pods || emptyText }}</td>
  <td>{{ entry.limits.cpu || emptyText }}</td>
  <td>{{ entry.requests.cpu || emptyText }}</td>
  <td>{{ entry.limits.memory || emptyText }}</td>
  <td>{{ entry.requests.memory || emptyText }}</td>

  <td class="fd-has-float-right">
    <y-list-actions
      [entry]="entry"
      [entryEventHandler]="entryEventHandler"
      [actions]="actions"
    ></y-list-actions>
  </td>
</tr>
