.input-with-suffix {
  display: grid;
  grid-template-columns: auto minmax(auto, min-content);

  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__suffix {
    line-height: 2.5em;
    height: var(--sapElement_Height);
    vertical-align: middle;
    background: var(--sapNeutralBackground);
    border: 1px solid var(--sapField_BorderColor);
    border-left: none;
    box-sizing: border-box;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0 8px;
    white-space: nowrap;
    margin-top: 0.25rem;
    overflow: hidden;
  }
}
