<div class="labels-input">
  <span title="Edit label" class="tn-badge-labels tn-badge tn-badge--pill labels" *ngFor="let label of labels" (click)="updateLabel(label)">
    {{ label }}
    <div class="tn-icon tn-icon--remove remove-btn labels__remove" (click)="removeLabel(label)"></div>
  </span>
  <input #labelsInput type="text" class="tn-form__control" name="labelsInput"
      [(ngModel)]="newLabel" [ngClass]="{'has-labels': labels.length > 0}"
      (keydown.enter)="addLabel()" (keydown.tab)="addLabel()" (keydown.space)="addLabel()" (keyup)="removeWhitespaces()" (blur)="addLabel()"
    placeholder="{{labels.length === 0 ? 'Specify one or more labels for your Application' : ''}}"
    autocomplete="off">
</div>
<div *ngIf="wrongLabelMessage" class="alert alert-danger">
  {{ wrongLabelMessage }}
</div>
