span.toolbar-hint {
  font-family: '72';
  font-size: 16px;
  font-weight: 300;
  color: rgba(50, 54, 58, 0.6);
}

.resources-toolbar-hint {
  padding-bottom: 20px
}

.resources-toolbar-header {
  padding-bottom: 0px
}
