.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

  .pagesize-selector-container {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    .pagesize-selector {
      max-width: 80px;
    }
  }

  .page-links-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);

    .page-link {
      border: none;
      background: none;
      color: var(--sapNeutralColor);
      font-size: var(--sapFontSize);

      i::before {
        color: var(--sapBrandColor);
        font-size: 80%;
      }

      &.current {
        font-weight: bolder;
      }

      &.interactable {
        color: var(--sapBrandColor);
        cursor: pointer;
      }
    }

    .page-input-text,
    #first-page-link,
    #last-page-link {
      display: none;
    }

    .page-input {
      max-width: 40px;
      text-align: center;
    }
  }
}

@container (max-width: 750px) {
  .pagination {
    .pagesize-selector-container {
      #descriptionOpener-pagination,
      .pagesize-label {
        display: none;
      }
    }

    .page-links-container {
      position: relative;
      left: auto;
      transform: none;

      .page-link {
        display: none;
      }

      .page-input-text,
      #first-page-link,
      #last-page-link,
      #previous-page-link,
      #next-page-link {
        display: inherit;
      }
    }

    .items-number {
      display: none;
    }
  }
}

@container (max-width: 350px) {
  .pagination {
    justify-content: center;

    .pagesize-selector-container {
      display: none;
    }
  }
}
