.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

  .pagesize-selector-container {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    .pagesize-selector {
      max-width: 80px;
    }
  }

  .page-links-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);

    #first-page-link,
    #last-page-link {
      display: none;
    }
  }
}

.nav-link {
  border: none;
  background: none;
  color: var(--sapNeutralColor);
  font-size: var(--sapFontSize);

  i::before {
    color: var(--sapBrandColor);
    font-size: 80%;
  }

  &.current {
    font-weight: bolder;
  }

  &.interactable {
    color: var(--sapBrandColor);
    cursor: pointer;
  }
}

@container (max-width: 650px) {
  .pagination {
    .pagesize-selector-container {
      .pagesize-label {
        display: none;
      }
    }

    .page-links-container {
      position: relative;
      left: auto;
      transform: none;

      #first-page-link,
      #last-page-link {
        display: inherit;
      }
    }

    .items-number {
      display: none;
    }
  }
}
