.simple-list {
  .text-array-input__list {
    padding: 0;
    li .fd-popover {
      margin: 0;
      color: red;
    }
  }
}

.object-item {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-auto-flow: column;

  .fd-form-label {
    align-self: center;
  }
}
