.simple-list {
  .list-entry {
    display: flex;
    > * {
      flex-grow: 1;
      flex-basis: 0;
      min-width: auto;
      max-width: auto;
    }
  }

  .text-array-input__list {
    padding: 0;
  }
}
