<tr [ngClass]="{ disabled: disabled === true }">
  <td class="fd-has-font-weight-bold">
    <a
      href="javascript:void(null)"
      (click)="navigateToDetails(entry.service.name, entry.name)"
      data-e2e-id="exposed-api-name"
    >
      {{ entry.name }}
    </a>
  </td>
  <td>
    <app-url-link url="{{ url }}"></app-url-link>
  </td>
  <td>
    <span
      fd-badge
      [status]="isSecured(entry) ? 'success' : 'warning'"
      [modifier]="'filled'"
      data-e2e-id="exposed-api-secured"
      >{{ isSecured(entry) ? 'Yes' : 'No' }}</span
    >
  </td>
  <td data-e2e-id="exposed-api-idp">{{ isSecured(entry) ? getIDP(entry) : emptyText }}</td>
  <td class="fd-has-float-right">
    <y-list-actions
      [entry]="entry"
      [entryEventHandler]="entryEventHandler"
      [actions]="actions"
    ></y-list-actions>
  </td>
</tr>
