<tr [ngClass]="{ disabled: disabled === true }">
  <td class='fd-has-font-weight-bold'>
    <a href="javascript:void(null)" (click)="navigateToDetails(entry.service.name, entry.name)">
      {{ entry.name }}
    </a>
  </td>
  <td > {{ entry.hostname }} </td>
  <td>{{ entry.service.port }}</td>
  <ng-container *ngIf="isSecured(entry)">
    <td>
      <fd-badge [status]="'success'" [modifier]="'filled'">Yes</fd-badge>
    </td>
    <td>{{ getIDP(entry) }}</td>
  </ng-container>
  <ng-container *ngIf="!isSecured(entry)">
    <td>
      <fd-badge [status]="'warning'" [modifier]="'filled'">No</fd-badge>
    </td>
    <td>{{ emptyText }}</td>
  </ng-container>
  <td class="fd-has-float-right">
    <y-list-actions [entry]="entry" [entryEventHandler]="entryEventHandler" [actions]="actions"></y-list-actions>
  </td>
</tr>