.input-with-prefix {
  display: grid;
  grid-template-columns: min-content auto;

  input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    min-width: 10em;
    padding-left: 0.3em;
  }

  &__prefix {
    line-height: 2.5em;
    height: var(--sapElement_Height);
    vertical-align: middle;
    background: var(--sapNeutralBackground);
    border: 1px solid var(--sapField_BorderColor);
    border-right: none;
    box-sizing: border-box;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 0 0.1em 0 8px;

    white-space: nowrap;
    margin-top: 0.25rem;
  }
}
