<div luigiClientCommunication [isActive]="isActive">
  <fd-modal class="y-fd-modal" #createApplicationModal role="dialog" aria-labelledby="confirm" (click)="$event.stopPropagation()">
    <fd-modal-header>Create Application</fd-modal-header>
    <fd-modal-body>
      <form>
        <div class="fd-form__group">
          <div class="fd-alert fd-alert--error fd-has-margin-bottom-small" role="alert" *ngIf="error">
            {{ error }}
          </div>
          <div fd-form-set>
            <div fd-form-item>
              <fd-form-label>Name *</fd-form-label>
              <input fd-form-control #nameInput autofocus type="text" name="applicationName" [(ngModel)]="name"
                (ngModelChange)="validateApplicationNameRegex()" placeholder="Specify a name for your Application"/>
              <fd-form-message [type]="'error'" *ngIf="wrongApplicationName">
                The Application name has the wrong format. The name must consist
                of lower case alphanumeric characters, dashes or dots, must
                start and end with an alphanumeric character and cannot be
                longer that 253 characters(e.g. 'my-name1.com').
              </fd-form-message>
            </div>
            <div fd-form-item>
              <fd-form-label>Description *</fd-form-label>
              <input fd-form-control type="text" name="applicationDescription" [(ngModel)]="description"
                placeholder="Specify a description for your Application"/>
            </div>
            <div fd-form-item>
              <fd-form-label>Labels</fd-form-label>
              <app-labels-input [labels]="labels" (labelsChangeEmitter$)="updateLabelsData($event)"></app-labels-input>
            </div>
          </div>
        </div>
      </form>
    </fd-modal-body>
    <fd-modal-footer>
      <button fd-button [options]="'light'" (click)="close()">Cancel</button>
      <button fd-button [options]="'main'" [state]="!isReadyToCreate() ? 'disabled' : ''" (click)="save()"
        [attr.data-e2e-id]="'create-button'">
        Create
      </button>
    </fd-modal-footer>
  </fd-modal>
</div>