.generic-list-search {
    .fd-menu__list {
        max-height: 50vh;
        overflow-y: scroll;

        .fd-menu__item {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .fd-menu__item--no-entries {
            font-style: italic;
        }
    }
}
