.gardener-provider {
  text-transform: uppercase;
}

.modules-statuses {
  max-width: 500px !important;
  width: max-content !important;

  span {
    max-width: unset;
  }
}

.actions {
  display: flex;
  gap: 0.25rem;
}
