.cluster-stats {
  /*
    The em and px values of row-height and column-width are specifically set to ensure that the following elements align well with each other in the grid.
    The em values are used to ensure that the elements scale with font spacing changes - for accessibility reasons.
    - RadialdGraph (spans 4 columns and 2 rows)
    - CountingCard (spans 3 columns and 1 row)
    - CountingCard_extraInfo (spans 6 columns and 1 row)
    The rem values are set in order to together with padding ensure an equal grid gap of 1rem between all elements of different proportions.
  */
  --grid-row-height: calc(9em + 0.5rem);
  --grid-column-width: calc(57.5px + 0.25rem);

  container-type: inline-size;

  margin: -0.5rem;
  display: grid;
  grid-auto-flow: dense;
  grid-auto-rows: minmax(var(--grid-row-height), auto);
  grid-template-columns: repeat(auto-fill, var(--grid-column-width));

  .item-wrapper {
    padding: 0.5rem;
    box-sizing: border-box;

    .item {
      width: 100% !important;
      max-width: 100% !important;
      height: 100% !important;
      max-height: 100% !important;
    }
  }
}

.card-tall {
  grid-row: span 2;
  min-height: calc(var(--grid-row-height) * 2);
  grid-column: span 4;
  width: calc(var(--grid-column-width) * 4);
}

.card-wide {
  min-height: var(--grid-row-height);
  grid-column: span 6;
  width: calc(var(--grid-column-width) * 6);
}

.card-small {
  min-height: var(--grid-row-height);
  grid-column: span 3;
  width: calc(var(--grid-column-width) * 3);
}

@container (max-width: 375px) {
  .card-wide {
    grid-column: span 5;
    width: calc(var(--grid-column-width) * 5);
  }
}

@container (max-width: 325px) {
  .card-wide {
    grid-column: span 4;
    width: calc(var(--grid-column-width) * 4);
  }
}
