.logs-title {
  margin-right: 20px;
}

.logs-panel-header {
  min-height: unset;
}

.logs-panel-body {
  height: 100%;
  overflow-y: scroll;
  padding: 0;
  overflow-wrap: break-word;

  > :first-child {
    padding-top: 10px;
  }

  > :last-child {
    padding-bottom: 10px;
  }
}

.logs {
  color: white;
  padding-left: 15px;
  font-family: 'Consolas', monospace;
  font-size: 12px;
  background-color: #252525;
}

.logs-highlighted {
  background-color: var(--sapBrandColor);
}

.empty-logs {
  width: 100%;
  font-size: 18px;
  padding: 20px 0 !important;
  margin: 0 auto;
  text-align: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.logs-actions {
  > * {
    display: inline-flex;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}
