<div class="fd-panel y-fd-panel y-fd-panel--button" (click)="navigateToDetails(entry.getId())" [ngClass]="{'y-fd-panel--disabled': disabled === true}">
  <div class="fd-panel__header">
    <div class="fd-panel__head">
      <h2 class="fd-panel__title" data-e2e-id="namespace-name">{{ entry.getLabel() }}<span *ngIf="!(entry.metadata.labels && entry.metadata.labels.env)" class="fd-badge fd-has-margin-left-tiny">System</span></h2>
    </div>
    <div class="fd-panel__actions">
      <y-list-actions [entry]="entry" [entryEventHandler]="entryEventHandler" [actions]="actions"></y-list-actions>
    </div>
  </div>
  <div class="fd-panel__body">
    <div class="fd-container fd-container--fluid">
      <div class="fd-col--6">
        <div class="fd-has-type-4 fd-has-font-weight-bold">{{ entry.services && (entry.services | async) !== null ? (entry.services | async) : 0 }}</div>
        <div class="fd-has-margin-bottom-small">{{ (entry.services | async) === 1 ? "Service" : "Services" }}</div>
      </div>
      <div class="fd-col--6">
        <div class="fd-has-type-4 fd-has-font-weight-bold">{{ entry.applications && (entry.applications | async) !== null ? (entry.applications | async) : 0 }}</div>
        <div class="fd-has-margin-bottom-small">{{ (entry.applications |async) === 1 ? "Bound Application":"Bound Applications" }}</div>
      </div>
    </div>
    <div class="fd-container fd-container--fluid">
      <div class="fd-col">
        <span class="fd-has-type-minus-1 fd-has-color-text-3">{{ entry.getUid() }}</span>
      </div>
    </div>
  </div>
</div>
