.oauth-client-secret-wrapper {
    width: 100%;
    column-span: all;

    margin-bottom: 16px !important;
    margin-top: 16px !important;

    display: flex !important;
    justify-content: center;

    font-size: 1.8rem;
}
