<tr [ngClass]="{ disabled: disabled === true }">
  <td>
    <a href="javascript:void(null)" (click)="navigateToDetails(entry.metadata.name)">
      {{ entry.metadata.name }}
    </a>
  </td>
  <td>{{ entry.type }}</td>
  <td>{{ entry.metadata.creationTimestamp | timeAgo }}</td>
  <td>
    <span *ngFor="let label of getLabels(entry.metadata.labels)" class="fd-token y-fd-token y-fd-token--no-button">
      {{ label }}
    </span>
    <ng-container *ngIf="!getLabels(entry.metadata.labels).length">
      {{ emptyText }}
    </ng-container>
  </td>
  <td class="fd-has-float-right">
    <y-list-actions [entry]="entry" [entryEventHandler]="entryEventHandler" [actions]="actions"></y-list-actions>
  </td>
</tr>
