.progress-bar-tooltip {
  width: 100%;
  bottom: 0;
  cursor: help;
}

.progress-bar-container {
  height: 10px;
  width: 100%;
  border: solid 1px var(--sapTextColor);
  border-radius: 50px;
  position: relative;
}

.progress-bar {
  height: 100%;
  border-radius: inherit;
  position: absolute;
  animation: expandWidth 1s linear;
}

@keyframes expandWidth {
  0% {
    width: 0;
  }
}
