.progress-bar {
  height: 100%;
  border-radius: inherit;
  text-align: right;
  position: absolute;
}

.progress-bar-container {
  height: 10px;
  width: 100%;
  background-color: var(--sapBaseColor);
  border: solid 1px var(--sapTextColor);
  border-radius: 50px;
  position: relative;
}

.progress-bar-tooltip {
  width: 100%;
  bottom: 0;
}
