#page-wrap {
  display: grid;
  grid-auto-columns: 240px auto;
  grid-template-areas: 'sidebar content';
}

#content-wrap {
  width: 100%;
  flex-wrap: wrap;
  margin: auto;
  grid-area: content;
  overflow: auto;
}
