<div class="fd-panel-grid" [hidden]="loading || errorMessage || !data || data.length === 0">
  <ng-template #entries></ng-template>
</div>

<fd-loading-spinner [loading]="loading"></fd-loading-spinner>

<div [attr.data-e2e]="'empty-list-placeholder'" class="fd-has-text-align-center"
  *ngIf="!loading && !errorMessage && (!data || data.length === 0)">
  <ng-content select="[empty-list-placeholder]"></ng-content>
</div>
<p *ngIf="!loading && errorMessage" class="fd-has-color-status-3">
  {{ errorMessage }}
</p>