.dropdown {
  margin-top: 4px;
  .fd-popover {
    width: 100%;
    .fd-select__text-content {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.dropdown--full-width {
  width: 100% !important;
}
