<div luigiClientCommunication [isActive]="isActive">
  <ng-template
    let-modal
    class="y-fd-modal"
    #confirmationModal
    role="dialog"
    aria-labelledby="confirm"
    data-e2e-id="confirmation-modal"
  >
    <fd-modal-header> {{ title }} </fd-modal-header>
    <fd-modal-body>
      {{ message }}
    </fd-modal-body>
    <fd-modal-footer>
      <button fd-button (click)="cancel($event)" [options]="'light'">
        Cancel
      </button>
      <button
        fd-button
        (click)="ok($event)"
        [fdType]="'main'"
        data-e2e-id="confirmation-modal-button-ok"
      >
        OK
      </button>
    </fd-modal-footer>
  </ng-template>
</div>
