.fd-panel {
  .fd-form-item {
    margin-bottom: 0;
  }
  .fd-form-label {
    line-height: inherit;
  }
}

.access-strategy {
  $row-expand-button-size: 28px;

  .fd-fieldset {
    margin-bottom: 0;
  }
  padding: 12px 0;
  border-bottom: 1px solid var(--fd-panel-divider-color, #eeeeef);

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
    border: none;
  }

  .header {
    display: grid;
    grid-template-columns: minmax(max-content, 20em) 14em auto max-content;
    align-items: center;

    .fd-badge:not(:last-child),
    .fd-button:not(:last-child) {
      margin-right: 6px;
    }

    .expand-button button {
      position: static;
      border: none;
      width: $row-expand-button-size;
      height: $row-expand-button-size;
      min-width: 0;
      font-size: 14px;
      line-height: 1.42857;

      &:hover,
      &:active,
      &:focus,
      &.is-pressed,
      &[aria-pressed='true'] {
        background-color: initial;
        color: var(--fd-color-action-1, #0a6ed1);
      }

      &:active {
        background-color: initial;
      }
    }

    .path {
      font-size: 1.2em;
      color: var(--fd-color-action-3);
      font-weight: bold;
    }

    .type {
      justify-self: start;
      span::before {
        margin-right: 6px;
      }
    }

    .methods {
      display: inline;
      margin-right: 16px;
    }

    .actions {
      .edit-toggle {
        user-select: none;
        display: inline-block;
        margin: 0 1em;
        vertical-align: text-top;

        span[class^='sap-icon'] {
          vertical-align: middle;
        }

        input[type='checkbox']:checked + .fd-toggle__switch:before {
          left: -10px;
        }

        .fd-toggle {
          margin-left: 4px;

          &__switch:before {
            left: -1px;
          }
        }
      }
    }
  }

  .content:not(:empty) {
    padding-top: 12px;
  }

  .inline-radio-group {
    line-height: 2.4;
    .fd-form-item {
      display: inline-block;
      vertical-align: middle;
      margin-right: 16px;
      line-height: inherit;
      float: none;
    }
  }
  input[type='text'][readonly] {
    border-bottom: none;
  }
}

.api-rule-container {
  padding-bottom: 71px;
  padding-left: 24px;
  padding-right: 24px;
}

.string-list-input {
  display: grid;
  grid-template-columns: minmax(8em, min-content) auto;
  align-items: baseline;

  grid-gap: 12px;
  .fd-form-label,
  .fd-input {
    display: inline-block;
  }
  .fd-form-label {
    justify-self: flex-end;
  }
  .fd-input {
    width: auto;
  }

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}
