<tr [ngClass]="{ disabled: disabled === true }">
  <td class="fd-has-font-weight-bold">{{ entry.name }}</td>
  <td>
    <fd-badge [modifier]="'filled'"
      [status]="(entry.status.readyReplicas || 0)===entry.status.replicas? 'success' : 'error'">
      {{ entry.status.readyReplicas || '0' }}/{{ entry.status.replicas }}
    </fd-badge>
  </td>
  <td>{{ entry.creationTimestamp * 1000 | timeAgo }}</td>
  <td>
    <span *ngFor="let image of entry.containers">
      {{ image.image }}
    </span>
  </td>
  <ng-container *ngIf="showBoundServices">
    <td *ngIf="
        entry.boundServiceInstanceNames &&
        entry.boundServiceInstanceNames.length > 0
      ">
      <a href="javascript:void(null)" *ngFor="let instance of entry.boundServiceInstanceNames" (click)="goToServiceInstanceDetails(instance)">
        {{ instance }}
      </a>
    </td>
    <td *ngIf="
        !entry.boundServiceInstanceNames ||
        entry.boundServiceInstanceNames.length === 0
      ">
      <span></span>
    </td>
  </ng-container>
  <td>
    <span *ngFor="let label of getLabels(entry.labels)" class="fd-token y-fd-token y-fd-token--no-button">
      {{ label }}
    </span>
  </td>
  <td>
    <app-status-label [statusType]="getStatusType(entry)">
      {{ getStatus(entry) }}
    </app-status-label>
  </td>
  <td class="fd-has-float-right">
    <y-list-actions [entry]="entry" [entryEventHandler]="entryEventHandler" [actions]="actions"></y-list-actions>
  </td>
</tr>
