<div luigiClientCommunication [isActive]="isActive">
  <ng-template
    let-modal
    class="y-fd-modal"
    #createBindingModal
    role="dialog"
    aria-labelledby="confirm"
  >
    <fd-modal-header>Create Namespace Binding</fd-modal-header>
    <fd-modal-body>
      <div fd-form-item>
        <label fd-form-label>Namespace *</label>
        <div
          class="fd-dropdown fd-has-display-block"
          (clickOutside)="closeDropDown()"
          clickOutsideEvents="click,mousedown"
          excludeBeforeClick="true"
        >
          <div class="fd-popover fd-has-display-block">
            <div class="fd-popover__control">
              <button
                class="fd-dropdown__control y-fd-dropdown__control fd-button fd-has-padding-none"
                aria-controls="nNJnB279"
                [attr.aria-expanded]="ariaExpanded"
                aria-haspopup="true"
                (click)="toggleDropDown()"
              >
                <input
                  class="fd-form__control y-fd-form__control"
                  type="text"
                  name="namespaceName"
                  autocomplete="off"
                  placeholder="Choose namespace"
                  [(ngModel)]="namespaceName"
                  (ngModelChange)="filterNamespacesNames()"
                  (keydown)="openDropDown($event)"
                  (click)="openDropDown($event)"
                />
              </button>
            </div>
            <div
              class="fd-popover__body y-fd-popover__body fd-popover__body--no-arrow"
              [attr.aria-hidden]="ariaHidden"
              id="nNJnB279"
            >
              <nav class="fd-menu">
                <ul class="fd-menu__list">
                  <li
                    *ngFor="let namespace of filteredNamespacesNames"
                    (click)="toggleDropDown(); selectedNamespace(namespace)"
                  >
                    <span class="fd-menu__item">{{ namespace.label }}</span>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <div fd-form-item>
        <label fd-form-label>Services & Events *</label>
        <fd-toggle
          [size]="'s'"
          [(ngModel)]="allServices"
          *ngIf="applicationHasAnyServices"
          >Select all</fd-toggle
        >
      </div>
      <ng-container *ngIf="applicationHasAnyServices; else noServicesHint">
        <div fd-form-item *ngIf="!allServices">
          <ul
            fd-list
            class="y-fd-list--no-hover y-fd-list-group__item--no-padding y-fd-list--bottom-margin"
          >
            <li
              fd-list-item
              *ngFor="let service of application.services"
              (click)="toggleApplication(service.id, $event)"
            >
              <fd-list-checkbox [checked]="applicationSelected(service.id)">
                {{ service.displayName }}
              </fd-list-checkbox>
              <fd-list-action
                class="fd-list-group__action--no-top fd-list-group__action--no-right"
              >
                <fd-inline-help
                  class="y-fd-inline-help__small"
                  [placement]="'left'"
                >
                  <p>
                    API:
                    <span
                      class="sap-icon--l"
                      ngClass="{{
                        hasType(service.entries, 'API')
                          ? 'sap-icon--accept fd-has-color-status-1'
                          : 'sap-icon--decline fd-has-color-status-4'
                      }}"
                      role="presentation"
                    >
                    </span>
                  </p>

                  <p>
                    Events:
                    <span
                      class="sap-icon--l"
                      ngClass="{{
                        hasType(service.entries, 'Events')
                          ? 'sap-icon--accept fd-has-color-status-1'
                          : 'sap-icon--decline fd-has-color-status-4'
                      }}"
                      role="presentation"
                    >
                    </span>
                  </p>
                </fd-inline-help>
              </fd-list-action>
            </li>
          </ul>
        </div>
      </ng-container>
      <ng-template #noServicesHint>
        <p class="fd-has-color-text-4 fd-has-margin-bottom-small">
          This Application doesn't expose any Service or Events.
        </p>
      </ng-template>
    </fd-modal-body>
    <fd-modal-footer>
      <button fd-button [fdType]="'light'" (click)="close()">
        Cancel
      </button>
      <button
        fd-button
        [fdType]="'main'"
        [disabled]="!checkIfNamespaceExists()"
        (click)="save()"
      >
        Create
      </button>
    </fd-modal-footer>
  </ng-template>
</div>
