.resource-form__collapsible-section {
  background: var(--sapNeutralBackground);
  display: flex;
  flex-direction: column;
  padding-right: 0;

  header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 8px 16px;
    border-top: 1px solid var(--sapList_GroupHeaderBorderColor);

    .control-icon {
      margin-right: 8px;
    }
  }

  &.disabled {
    header {
      cursor: unset;
    }
  }

  &.collapsed:last-child > header {
    border-bottom: 1px solid var(--sapList_GroupHeaderBorderColor);
  }

  .content {
    padding: {
      left: 16px;
      right: 0;
      top: 16px;
      bottom: 24px;
    }
    background: var(--sapPageHeader_Background);
    flex-grow: 1;

    &--open {
      max-height: 1000em;
    }

    &--closed {
      transform: scaleY(0) translateY(-100%);
      max-height: 0px;
      padding-top: 0;
      padding-bottom: 0;
      overflow: hidden;
    }

    > .collapsible-renderer__grid-wrapper
      > .resource-form__collapsible-section:first-child,
    > .resource-form__collapsible-section:first-child {
      margin-top: -16px;
    }
  }

  .fd-message-strip {
    min-height: unset;
    cursor: unset;
  }

  .fd-message-strip--warning:before {
    top: 25%;
  }

  &.required .title-content::after {
    content: '*';
    font-size: var(--sapFontSize);
    font-weight: 700;
    color: var(--sapField_RequiredColor);
    margin-left: 4px;
  }

  .title-content {
    margin-right: 0.5rem;
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
