.resource-form__editor {
  position: relative;
  height: calc(100% - 21px); // avoid v-scroll
  overflow: hidden;

  .resource-form__editor__error {
    inset: 0;

    & > * {
      bottom: 0;
      left: 50px;
      position: absolute;
    }
  }
}
