.resource-form__collapsible-section {
  background: var(--sapNeutralBackground);
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 8px 16px;
    border-top: 1px solid var(--sapList_GroupHeaderBorderColor);

    .control-icon {
      margin-right: 8px;
    }
  }

  &:last-child > header {
    border-bottom: 1px solid var(--sapList_GroupHeaderBorderColor);
  }

  .content {
    padding: 16px;
    background: var(--sapPageHeader_Background);
    flex-grow: 1;
  }

  .fd-message-strip {
    min-height: unset;
    cursor: unset;
  }

  .fd-message-strip--warning:before {
    top: 25%;
  }
}

.text-array-input__list li {
  display: flex;

  input {
    margin-right: 16px;
  }

  button {
    margin-top: 4px;
  }

  .new-value {
    margin-right: 52px;
  }
}
