.resource-form {
  height: 100%;
  display: flex;
  flex-direction: column;

  form {
    overflow: auto;
    flex-grow: 1;
  }

  & > .dropdown {
    width: 100%;
  }

  .fd-row {
    margin: 0; // override fd's margin: 0 -.25rem;
  }

  .fd-row + .resource-form__collapsible-section {
    margin-top: 1rem;
  }

  .fd-switch {
    margin-top: -1.4rem;
  }

  .fd-popover {
    width: 100%;
  }
}
