.resource-form {
  height: 100%;
  display: flex;
  flex-direction: column;

  form {
    overflow: auto;
    flex-grow: 1;
    order: 2;
  }

  &:before {
    content: '';
    width: 100%;
    height: 16px;
    background: linear-gradient(
      0,
      transparent,
      var(--sapGroup_ContentBackground)
    );
    order: 1;
    margin-top: 16px;
    margin-bottom: -16px;
    z-index: 10;
    min-height: 16px;
    pointer-events: none;
  }

  & > .dropdown {
    width: 100%;
  }

  .fd-row {
    margin: 0 !important; // override fd's margin: 0 -.25rem;
  }

  .fd-row + .resource-form__collapsible-section {
    margin-top: 1rem;
  }

  .fd-switch {
    margin-top: -1.4rem;
  }

  .fd-col {
    padding: 4px 0;
  }
}
