<section class="fd-section">
  <fd-breadcrumb class="y-fd-breadcrumb">
    <fd-breadcrumb-item>
      <a fd-breadcrumb-link (click)="navigateToList()" href="#">
        Services
      </a>
    </fd-breadcrumb-item>
    <fd-breadcrumb-item>
      <span fd-breadcrumb-link>
        {{ serviceName }}
      </span>
    </fd-breadcrumb-item>
  </fd-breadcrumb>

  <fd-action-bar>
    <fd-action-bar-header>
      <fd-action-bar-title>
        {{ serviceName }}
      </fd-action-bar-title>
    </fd-action-bar-header>
    <fd-action-bar-actions>
      <app-edit-resource [resourceData]="serviceDetails"></app-edit-resource>
    </fd-action-bar-actions>
  </fd-action-bar>

  <p *ngIf="serviceDetailsLoading">
    Loading ...
  </p>

  <div class="fd-alert fd-alert--error fd-has-margin-bottom-small" role="alert"
    *ngIf="!serviceDetailsLoading && errorMessage">
    {{ errorMessage }}
  </div>

  <fd-panel class="y-fd-panel" *ngIf="serviceDetails">
    <fd-panel-header>
      <fd-panel-head>
        <fd-panel-title>General Information</fd-panel-title>
      </fd-panel-head>
    </fd-panel-header>

    <fd-panel-body [bleed]="true">
      <table class="fd-table fd-table--no-borders">
        <tbody>
          <tr>
            <td class="y-fd-table--col-2 fd-has-color-text-4">Name</td>
            <td>{{ serviceDetails.metadata.name }}</td>
          </tr>
          <tr>
            <td class="fd-has-color-text-4">Namespace</td>
            <td>{{ serviceDetails.metadata.namespace }}</td>
          </tr>
          <tr>
            <td class="fd-has-color-text-4">Cluster IP</td>
            <td>{{ serviceDetails.spec.clusterIP }}</td>
          </tr>
          <tr>
            <td class="fd-has-color-text-4">Creation Date</td>
            <td>{{ serviceDetails.metadata.creationTimestamp }}</td>
          </tr>
          <tr *ngIf="serviceDetails.metadata.labels">
            <td class="fd-has-color-text-4">Labels</td>
            <td>
              <span class="fd-token y-fd-token y-fd-token--no-button"
                *ngFor="let key of objectKeys(serviceDetails.metadata.labels)">{{ key }}={{ serviceDetails.metadata.labels[key] }}
              </span>
            </td>
          </tr>
          <tr>
            <td class="fd-has-color-text-4">Internal Endpoints</td>
            <td>
              <ng-container *ngFor="let port of serviceDetails.spec.ports">
                <span>{{ serviceDetails.metadata.name }}.{{ serviceDetails.metadata.namespace }}:{{ port.port }}
                  {{ port.protocol }}</span>
                <br>
                <span>{{ serviceDetails.metadata.name }}.{{ serviceDetails.metadata.namespace }}:{{ port.nodePort || 0 }}
                  {{ port.protocol }}</span>
                <br>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </fd-panel-body>
  </fd-panel>
</section>

<section class="fd-section" *ngIf="!isSystemNamespace">
  <fd-panel class="y-fd-panel">
    <fd-panel-header>
      <fd-panel-head>
        <fd-panel-title>Exposed APIs</fd-panel-title>
      </fd-panel-head>
      <fd-panel-actions>
        <button fd-button [options]="'light'" [glyph]="'add'" (click)="openExposeApi()">
          Expose API
        </button>
      </fd-panel-actions>
    </fd-panel-header>
    <fd-panel-body [bleed]="true">
      <app-filtered-apis></app-filtered-apis>
    </fd-panel-body>
  </fd-panel>
</section>
