<section class="fd-section">
  <fd-action-bar>
    <fd-action-bar-header>
      <fd-action-bar-title>
        {{ title }}
      </fd-action-bar-title>
    </fd-action-bar-header>
    <fd-action-bar-actions>
      <y-list-search [hidden]="!initialized || showEmptyPage" [filterState]="filterState"
        (onFilterChanged)="onFilterChanged($event)">
      </y-list-search>
      <y-list-filter [hidden]="!initialized || showEmptyPage || hideFilter" [filterState]="filterState"
        (onFilterChanged)="onFilterChanged($event)">
      </y-list-filter>
      <button class="open-create-env-modal" fd-button [options]="'light'" [glyph]="'add'" (click)="openModal()">
        Create Preset
      </button>
    </fd-action-bar-actions>
  </fd-action-bar>

  <div class="fd-panel">
    <y-plain-table [source]="data" [headerRenderer]="headerRenderer" [entryRenderer]="entryRenderer"
      [entryEventHandler]="entryEventHandler" [footerRenderer]="footerRenderer">
      <div empty-list-placeholder *ngIf="showEmptyPage" class="fd-section">
        <h1>{{ title }}</h1>
        <p>{{ emptyListText }}</p>
      </div>
    </y-plain-table>

    <y-list-paging [pagingState]="pagingState" (onPageChanged)="onPageChanged($event)"></y-list-paging>
  </div>
</section>

<app-create-preset-modal #createModal></app-create-preset-modal>
<app-confirmation-modal #confirmationModal></app-confirmation-modal>
