.multi-input {
  > .fd-col {
    padding-top: 0;
  }
  .readonly-value {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .item-action,
  .new-item-action {
    min-width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.extensibility li {
    align-items: center;

    > :not(.item-action) {
      flex-grow: 1;
      flex-basis: 0;
      margin: 0 8px;
    }
  }
}
