.ai-banner-card {
  .title-container {
    ui5-title.test-title {
      height: 55px;
      margin-right: 8px;
      h1 {
        font-weight: 900 !important;
      }
    }
    img {
      width: 46px;
      height: 46px;
    }
  }
}
