.limit-range-spec {
  text-transform: capitalize;

  &.compact {
    margin: 0 0 1rem 0 !important;
    padding-right: 0.5rem;
  }
}

ui5-table-cell:has(> ui5-panel.limit-range-spec.compact) {
  display: inline !important;
}
