$fdNamespace: fd-has;
$properties: padding, padding-top, padding-bottom, padding-left, padding-right;
$sizes: (
  'tiny': 0.5rem,
  'small': 1rem,
  'regular': 1.5rem,
  'medium': 2rem,
  'large': 3rem,
  'none': 0,
);

@each $property in $properties {
  @each $sizeName, $sizeValue in $sizes {
    .#{$fdNamespace}-#{$property}-#{$sizeName} {
      #{$property}: $sizeValue !important;
    }
  }
}
