@import '~fundamental-styles/dist/margins.css';
@import '~@sap-theming/theming-base-content/content/Base/baseLib/sap_fiori_3/css_variables.css';

html {
  font-size: 16px;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  .tippy-popper[aria-hidden='true'] {
    display: none;
  }
}

.fd-action-bar__actions .fd-popover {
  top: 0 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.link {
  color: var(--sapBrandColor);
  cursor: pointer;

  &.no-border {
    border: none;
  }
}

.fd-panel.fd-panel--no-background {
  background-color: transparent;
}

.fd-checkbox:focus + .fd-checkbox__label,
.fd-radio:focus + .fd-radio__label {
  outline: none; // disable a weird outline on clicked checkbox
}

.fd-radio__label:after {
  top: 6px;
}

.fd-checkbox__text {
  margin-left: 0.1rem;
}

.fd-checkbox__label:before {
  margin-right: 0.2rem;
}

.fd-token {
  font-size: 0.75rem !important;
  flex: none !important;
  padding: 0 8px !important;

  &--readonly {
    .fd-token__close {
      display: none !important;
    }
    &::after {
      content: none !important;
    }

    &:hover {
      background-color: initial !important;
      border-color: initial !important;
    }
  }

  .fd-token__close {
    padding-right: 0;
    display: inline;
  }
}

.fd-dialog,
.fd-panel,
.fd-action-bar {
  &__actions {
    button[class^='fd-button']:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.fd-dialog {
  z-index: 1000;
  .fd-dialog__footer {
    button {
      margin-left: 6px;
    }

    padding-right: unset;
    padding-left: unset;
    padding: 0.5rem 1rem;
    height: auto;
    .fd-bar__right {
      padding: 0;
    }
  }
}

.modal-size--l {
  .fd-dialog__content {
    width: 80vw;
    height: 80vw;
    min-width: unset;
  }
}

.modal--no-padding {
  .fd-dialog__body {
    padding: 0 !important;
  }
}

.action-bar-wrapper {
  @media (min-width: 500px) {
    display: flex;
    justify-content: space-between;
  }
  & > section {
    flex-grow: 1;
  }
}

header.sticky {
  position: sticky;
  top: -24px;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}

// add a little padding to placeholder and value of Combobox's input
[role='combobox'] .fd-input.fd-input-group__input {
  padding-left: 8px !important;
}

.fd-form-item .fd-form-select {
  margin-top: 0.25rem; // to align with other inputs
}

li {
  list-style: none;
}

/* default modal width */
.modal-demo-bg {
  min-width: 400px;
}

.fd-dropdown[fullwidth='true'] {
  width: 100%;

  .fd-popper__body,
  .fd-popover {
    width: 100%;
  }

  .fd-dropdown__control {
    display: flex;
    width: 100%;
    justify-content: space-between;
    justify-items: center;

    &::after {
      // align popover arrow
      margin-top: -2px;
    }

    &::before {
      content: unset;
    }
  }
}

.fd-hidden {
  visibility: hidden !important;
}

.no-dismiss-tokens {
  .fd-token::after,
  &.fd-token::after {
    content: none !important;
  }
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

// override fd-styles for Safari
input[type='checkbox'] {
  -webkit-appearance: checkbox !important;
}

@font-face {
  font-family: '72';
  src: url('~@sap-theming/theming-base-content/content/Base/baseLib/sap_base_fiori/fonts/72-Regular-full.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '72';
  src: url('~@sap-theming/theming-base-content/content/Base/baseLib/sap_base_fiori/fonts/72-Bold-full.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: '72';
  src: url('~@sap-theming/theming-base-content/content/Base/baseLib/sap_base_fiori/fonts/72-Light-full.woff')
    format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SAP-icons';
  src: url('~@sap-theming/theming-base-content/content/Base/baseLib/sap_fiori_3/fonts/SAP-icons.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BusinessSuiteInAppSymbols';
  src: url('~@sap-theming/theming-base-content/content/Base/baseLib/sap_fiori_3/fonts/BusinessSuiteInAppSymbols.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SAP-icons-TNT';
  src: url('~@sap-theming/theming-base-content/content/Base/baseLib/sap_fiori_3/fonts/SAP-icons-TNT.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.fd-popover__body--dropdown {
  width: 100% !important;
  max-height: 200px !important;
  overflow-y: auto !important;
  .fd-list--dropdown {
    max-width: 100% !important;
  }
  .fd-form-message {
    max-width: 100%;
  }
}
.fd-popover__popper {
  max-height: 200px !important;
  overflow-y: auto !important;
  .fd-list--dropdown {
    max-width: 100% !important;
  }
}

.fd-switch__input {
  position: absolute !important;
}

.modal-size--l {
  .fd-dialog__content {
    width: 80vw;
    min-width: unset;
  }
}
.fd-input.is-invalid {
  border-width: 0.125rem;
  background-color: var(--sapField_InvalidBackground, #fff);
  border-color: var(--sapField_InvalidColor, #b00);
}

.fd-layout-panel.page-header {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.message-toast--wrapper {
  position: fixed;
  transition: all ease-in-out 0.4s;
  z-index: 1100;
  cursor: pointer;
  left: 50vw;
  transform: translateX(-50%);
  bottom: 50px;

  .fd-message-toast {
    line-height: 1.42857;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: auto;
    max-width: 20rem;
    -webkit-box-shadow: 0 0 0 0.0625rem rgba(0, 0, 0, 0.42),
      0 0.625rem 1.875rem 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: var(
      --sapContent_Shadow2,
      0 0 0 0.0625rem rgba(0, 0, 0, 0.42),
      0 0.625rem 1.875rem 0 rgba(0, 0, 0, 0.3)
    );
    box-shadow: 0 0 0 0.0625rem rgba(0, 0, 0, 0.42),
      0 0.625rem 1.875rem 0 rgba(0, 0, 0, 0.3);
    box-shadow: var(
      --sapContent_Shadow2,
      0 0 0 0.0625rem rgba(0, 0, 0, 0.42),
      0 0.625rem 1.875rem 0 rgba(0, 0, 0, 0.3)
    );
    border-radius: 0.25rem;
    border-radius: var(--sapElement_BorderCornerRadius, 0.25rem);
    padding: 1rem;
    font-family: '72', '72full', Arial, Helvetica, sans-serif;
    font-family: var(
      --sapFontFamily,
      '72',
      '72full',
      Arial,
      Helvetica,
      sans-serif
    );
    font-size: 12px;
    background-color: var(--sapBaseColor);
    color: var(--sapTextColor);
    word-break: break-word;
    text-align: center;

    &:after,
    &:before {
      -webkit-box-sizing: inherit;
      box-sizing: inherit;
      font-size: inherit;
    }
  }
}

.fd-textarea.resize-vertical {
  resize: vertical;
}

.fd-display-flex {
  display: flex;
}

.fd-justify-between {
  justify-content: space-between;
}

.fd-link {
  cursor: pointer;
}

.fd-popover__popper b {
  font-weight: bold;
}

.fd-color--warning {
  color: var(--sapCriticalColor) !important;
}
