html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f3f4f5;
}

.ReactModal__Overlay {
  background-color: rgba(74, 80, 92, 0.3) !important;
  z-index: 200;
}

@font-face {
  font-family: 'SAP-icons';
  src: local('SAP-icons'), url('/fonts/SAP-icons.woff2') format('woff2'),
    url('/fonts/SAP-icons.woff') format('woff'),
    url('/fonts/SAP-icons.ttf') format('truetype'), local('SAP-icons');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '72';
  font-style: normal;
  font-weight: 400;
  src: local('72'), url('/fonts/72-Regular.woff2') format('woff2'),
    url('/fonts/72-Regular.woff') format('woff');
}

@font-face {
  font-family: '72';
  font-style: normal;
  font-weight: 700;
  src: local('72-Bold'), url('/fonts/72-Bold.woff2') format('woff2'),
    url('/fonts/72-Bold.woff') format('woff');
}

.fd-modal {
  &__actions {
    .fd-button:not(:last-child) {
      margin-right: 5px;
    }
  }
}
