@import '~fundamental-styles/dist/fundamental-styles.css';
:root{
  --sapFontSize: 1rem;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f3f4f5;
}

.fd-action-bar__actions .fd-popover {
  top: 0 !important;
}

.fd-overlay.fd-overlay--modal {
  --fd-overlay-background-color: rgba(0, 0, 0, 0.6);
}

.cursor-pointer {
  cursor: pointer;
}

.link {
  color: var(--fd-color-action-1);
  cursor: pointer;

  &.no-border {
    border: none;
  }
}

.fd-panel.fd-panel--no-background {
  background-color: transparent;
}

.fd-checkbox:focus + .fd-checkbox__label,
.fd-radio:focus + .fd-radio__label {
  outline: none; // disable a weird outline on clicked checkbox
}

.fd-radio__label:after {
  top: 6px;
}

.fd-checkbox__text {
  margin-left: 0.1rem;
}

.fd-checkbox__label:before {
  margin-right: 0.2rem;
}

.fd-token {
  font-size: 0.75rem;
  flex: none !important;
  padding: 0 8px !important;

  &--readonly {
    .fd-token__close {
      display: none !important;
    }
    &::after {
      content: none !important;
    }

    &:hover {
      background-color: initial;
      border-color: initial;
    }
  }

  .fd-token__close {
    padding-right: 0;
    display: inline;
  }
}

.fd-dialog,
.fd-panel,
.fd-action-bar {
  &__actions {
    button[class^='fd-button']:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.fd-dialog {
  .fd-dialog__footer {
    button {
      margin-left: 6px;
    }

    padding-right: unset;
    padding-left: unset;
    padding: 0.5rem 1rem;
    height: auto;
    .fd-bar__right {
      padding: 0;
    }
  }
}

.fd-dialog::before {
  content: none; //remove double backdrop
}

.fd-dialog--xl-size {
  .modal-demo-bg {
    min-width: 1036px;
  }

  .fd-dialog,
  .fd-dialog__content,
  .fd-dialog__body {
    min-width: 1036px;
  }

  .fd-dialog__body {
    max-height: calc(100vh - 184px);
  }

  @media (max-width: 1100px) {
    .modal-demo-bg {
      min-width: 100%;
      padding: 0 32px;
    }

    .fd-dialog,
    .fd-dialog__content,
    .fd-dialog__body {
      min-width: 100%;
    }
  }
}

.action-bar-wrapper {
  @media (min-width: 500px) {
    display: flex;
    justify-content: space-between;
  }
  & > section {
    flex-grow: 1;
  }
}

header.sticky {
  position: sticky;
  top: -24px;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.fd-form__label[aria-required='true']::after {
  content: '';
}

li {
  list-style: none;
}

/* default modal width */
.modal-demo-bg {
  min-width: 400px;
}

.fd-dropdown[fullwidth='true'] {
  width: 100%;

  .fd-popper__body,
  .fd-popover {
    width: 100%;
  }

  .fd-dropdown__control {
    display: flex;
    width: 100%;
    justify-content: space-between;
    justify-items: center;

    &::after {
      // align popover arrow
      margin-top: -2px;
    }

    &::before {
      content: unset;
    }
  }
}

.fd-badge {
  &.fd-badge--filled {
    &.fd-badge--success {
      background-color: var(--fd-color-positive);
      --fd-badge-color: var(--fd-color-neutral-1);
    }
  }
}

.fd-hidden {
  visibility: hidden !important;
}

.fd-checkbox:checked::before,
input[type='checkbox']:checked::before {
  border-color: transparent;
}

.no-dismiss-tokens {
  .fd-token::after,
  &.fd-token::after {
    content: none !important;
  }
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

// override fd-styles for Safari
input[type='checkbox'] {
  -webkit-appearance: checkbox !important;
}
