@import '~fundamental-styles/dist/root.css';
html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f3f4f5;
}

.fd-action-bar__actions .fd-popover {
  top: 0 !important;
}

.fd-overlay.fd-overlay--modal {	
  --fd-overlay-background-color: rgba(0, 0, 0, 0.6);	
}

@font-face {
  font-family: 'SAP-icons';
  src: local('SAP-icons'), url('/fonts/SAP-icons.woff2') format('woff2'),
    url('/fonts/SAP-icons.woff') format('woff'),
    url('/fonts/SAP-icons.ttf') format('truetype'), local('SAP-icons');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '72';
  font-style: normal;
  font-weight: 400;
  src: local('72'), url('/fonts/72-Regular.woff2') format('woff2'),
    url('/fonts/72-Regular.woff') format('woff');
}

@font-face {
  font-family: '72';
  font-style: normal;
  font-weight: 700;
  src: local('72-Bold'), url('/fonts/72-Bold.woff2') format('woff2'),
    url('/fonts/72-Bold.woff') format('woff');
}

.cursor-pointer {
  cursor: pointer;
}

.link {
  color: var(--fd-color-action-1);
  cursor: pointer;
  
  &.no-border {
    border:none;
  }
}

.fd-panel.fd-panel--no-background {
  background-color: transparent;
}

.y-fd-token {
  &.y-fd-token {
    border: 1px solid var(--fd-color-neutral-3);

    &--no-button {
      cursor: default;
    }

    &--no-button:after {
      all: unset;
    }

    &--gap:not(:last-of-type) {
      margin-right: 8px;
    }
  }
}

.fd-modal,
.fd-panel,
.fd-action-bar {
  &__actions {
    button[class^='fd-button']:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.fd-modal {
  .fd-modal__footer {
    button {
      margin-left: 6px;
    }
  }
}

.fd-modal--xl-size {
  .modal-demo-bg {
    min-width: 1036px;
  }

  .fd-modal,
  .fd-modal__content,
  .fd-modal__body {
    min-width: 1036px;
  }

  .fd-modal__body {
    max-height: calc(100vh - 184px);
  }

  @media (max-width: 1100px) {
    .modal-demo-bg {
      min-width: 100%;
      padding: 0 32px;
    }

    .fd-modal,
    .fd-modal__content,
    .fd-modal__body {
      min-width: 100%;
    }
  }
}

.action-bar-wrapper {
  @media (min-width: 500px) {
    display: flex;
    justify-content: space-between;
  }
  & > section {
    flex-grow: 1;
  }
}

header.sticky {
  position: sticky;
  top: -24px;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.fd-form__label[aria-required='true']::after {
  content: '';
}

li {
  list-style: none;
}

/* default modal width */
.modal-demo-bg {
  min-width: 400px;
}

.fd-dropdown[fullwidth='true'] {
  width: 100%;

  .fd-popper__body,
  .fd-popover {
    width: 100%;
  }

  .fd-dropdown__control {
    display: flex;
    width: 100%;
    justify-content: space-between;
    justify-items: center;

    &::after {
      // align popover arrow
      margin-top: -2px;
    }

    &::before {
      content: unset;
    }
  }
}

.fd-badge {
  &.fd-badge--filled {
    &.fd-badge--success {
      background-color: var(--fd-color-positive);
      --fd-badge-color: var(--fd-color-neutral-1);
    }
  }
}

.fd-hidden {
  visibility: hidden !important;
}

.fd-checkbox:checked::before, input[type=checkbox]:checked::before {
  border-color: transparent;
}

.no-dismiss-tokens {
  .fd-token::after, &.fd-token::after {
    content: none !important;
  }
}
