.secrets-create__form-flex {
    display: flex;
    justify-content:space-between;

    & > :first-child {
        margin-right: 24px;
    }

    & > * {
        width: 100%;
    }

    // add border to fiori's combobox
    .fd-input-group--control.fd-input-group {
        border-radius: 4px;
    }

    input {
        padding-left: 12px !important;
    }
}
