.event-types-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  .fd-token {
    margin-bottom: 4px;
    margin-right: 4px;
    white-space: normal;
    height: auto;
    line-height: 1rem;
    padding: 0.25rem 0.4rem !important;
  }
  margin: 0px !important;
}
