<fd-modal #fetchTokenModal role="dialog" aria-labelledby="confirm" (click)="$event.stopPropagation()">
  <fd-modal-header>{{ title }}</fd-modal-header>
  <fd-modal-body>
    <textarea fd-form-control class="y-fd-form__control" type="text" value="{{ token }}" placeholder="content will be copy after click the copy button" rows="10" cols="50"></textarea>
  </fd-modal-body>
  <fd-modal-footer>
    <div class="fd-has-clearfix">
      <button fd-button class="fd-has-float-right" (click)="cancel($event)" [fdType]="'main'">OK</button>
      <button fd-button class="fd-has-float-left" [ngClass]="{'fd-has-color-status-1': isTokenCopied}" type="button" (click)=copyToken() [options]="'light'">Copy to clipboard</button>
    </div>
  </fd-modal-footer>
</fd-modal>