<ng-template let-modal #fetchTokenModal role="dialog" aria-labelledby="confirm">
  <fd-modal-header>{{ title }}</fd-modal-header>
  <fd-modal-body>
    <textarea
      fd-form-control
      class="fd-form__control--border"
      value="{{ token }}"
      placeholder="content will be copied after the copy button is clicked"
      rows="10"
      cols="50"
      readonly
    ></textarea>
  </fd-modal-body>
  <fd-modal-footer>
    <div class="fd-has-clearfix">
      <button
        fd-button
        class="fd-has-float-right"
        (click)="modal.close()"
        [fdType]="'main'"
      >
        OK
      </button>
      <button
        fd-button
        class="fd-has-float-left"
        [ngClass]="{ 'fd-has-color-status-1': isTokenCopied }"
        type="button"
        (click)="copyToken()"
        [options]="'light'"
      >
        Copy to clipboard
      </button>
    </div>
  </fd-modal-footer>
</ng-template>
