.discovery-banner {
  background: linear-gradient(
    to right,
    var(--sapContent_Illustrative_Color25),
    var(--sapContent_Illustrative_Color27)
  );
  border-radius: 16px;
  margin-inline: 16px;
  padding-inline: 32px;
  margin-block-start: 32px;
  display: flex;
  flex-direction: row;
  gap: 61px;
  position: relative;
}
.discovery-banner {
  .banner-content {
    padding-block: 48px;
    order: 1;
  }
  .sapMTitle {
    color: var(--sapTextColor);
    font-weight: 900;
    font-size: 48px;
  }
  .sapMText {
    color: var(--sapTextColor);
    font-size: 16px;
  }
  .discovery-button {
    width: fit-content;
  }
  .discovery-image {
    height: 240px;
    align-self: self-end;
    order: 2;
  }
  .close-icon {
    position: absolute;
    top: 14px;
    right: 15px;
    cursor: pointer;

    img {
      width: 10px;
      height: 10px;
    }
  }
}

@media (max-width: 768px) {
  .discovery-banner {
    flex-direction: column;
    gap: 0px;
  }
  .discovery-banner {
    .banner-content {
      padding-block: 32px;
      order: 2;
    }

    .discovery-image {
      order: 1;
      align-self: self-start;
    }
  }
}
