.resource-card {
  min-width: 200px;
  height: min-content;
}

.form-without-background {
  background-color: var(--sapBackgroundColor);

  ui5-label {
    text-align: end;
  }

  ui5-form-item::part(layout) {
    align-items: start;
  }

  > ui5-form-group {
    > :not(:first-child) {
      padding-top: 1rem;
    }
  }
}

@container (max-width: 420px) {
  .resource-card-layout::part(layout) {
    grid-template-columns: 1fr !important;
  }
}
