.cluster-overview__details-grid {
  display: grid;
  gap: 1rem;
}

.cluster-overview__details-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  min-width: 200px;
  width: fit-content;
}

.cluster-overview__details-grid {
  grid-template-columns: 1fr;
}

.resource-details-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.resource-overview__details-wrapper {
  min-width: 200px;
}

@container (min-width: 550px) {
  .cluster-overview__details-wrapper {
    grid-template-columns: fit-content(100%) max-content;
  }

  .cluster-overview__details-grid {
    grid-template-columns: repeat(2, minmax(200px, max-content));
  }

  .resource-overview__details-wrapper {
    max-width: fit-content;
    min-width: 300px;
  }
}
