.resource-card {
  min-width: 200px;
}

@container (max-width: 450px) {
  .resource-card-layout::part(layout) {
    display: flex;
    flex-direction: column;
  }
}

.form-without-background {
  background-color: var(--sapBackgroundColor);
}
