.cluster-overview__details-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.cluster-overview__details-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 25px;
}

.resource-details-container {
  display: grid;
  grid-template-columns: 100%;
  gap: 1rem;
}

.resource-overview__details-wrapper {
  min-width: 200px;
}

@container (min-width: 650px) {
  .cluster-overview__details-wrapper {
    grid-template-columns: 0.5fr;
  }

  .cluster-overview__details-grid {
    grid-template-columns: 50% 50%;
  }

  .resource-overview__details-wrapper {
    max-width: min-content;
  }
}

@container (min-width: 850px) {
  .resource-details-container {
    grid-template-columns: max-content 452px;
    gap: 0;

    &.column-view {
      grid-template-columns: 100%;
      gap: 1rem;
    }
  }
}
