.cluster-overview__details-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.cluster-overview__details-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

.resource-details-container {
  display: grid;
  grid-template-columns: 100%;
  gap: 1rem;
}

@container (min-width: 650px) {
  .cluster-overview__details-wrapper {
    grid-template-columns: 0.5fr;
  }

  .cluster-overview__details-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@container (min-width: 950px) {
  .resource-details-container {
    grid-template-columns: 1fr 432px;
    gap: 0;
  }
}
