.file-input {
  display: grid;
  font-size: var(--sapFontSmallSize, 0.875rem);
  place-items: center;
  width: 400px;
  height: 80px;
  border-radius: 8px;
  background: var(--sapButton_Background);
  margin: 0 auto;
  border: 1px dashed var(--sapNeutralBorderColor);
  color: #0a6ed1;

  &,
  & > * {
    cursor: pointer;
    text-align: center;
  }

  i {
    display: block;
    color: var(--sapBrandColor, #0a6ed1);
  }

  input[aria-hidden='true'] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  &__secondary {
    color: gray;
    margin-top: 4px;
  }

  &--drag-over {
    border: 1px solid var(--sapBrandColor, #0a6ed1);
  }
}
