.ui5-generic-list {
  display: block;

  .body-fallback {
    font-size: 18px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    color: var(--sapList_TextColor);
  }
}

.search-input-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .search-label-hidden {
    display: none;
  }
}

.cursor-pointer {
  cursor: pointer;
}
