.ui5-generic-list {
  height: fit-content;

  ui5-table-row {
    cursor: default;
  }

  .body-fallback {
    width: 100%;
    font-size: 18px;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.generic-list-search {
  display: inline-block;

  .icon {
    color: var(--sapBrandColor);
    font-size: var(--sapFontHeader3Size);
    background: none;
  }

  input {
    // override .fd-input
    width: 200px;
    padding-left: 48px !important;

    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNiI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsPSIjNEQ1QTZDIiBkPSJNOS43NTQgMTkuNDk2YTkuNjg0IDkuNjg0IDAgMCAwIDYuMDk3LTIuMTU4bDguMjg5IDguMzRhMS4wODQgMS4wODQgMCAwIDAgMS41MzUtMS41MjlsLTguMy04LjM1YTkuNjg5IDkuNjg5IDAgMCAwIDIuMTItNi4wNTRjMC01LjM3Ny00LjM2OS05Ljc1MS05Ljc0MS05Ljc1MVMuMDEzIDQuMzY4LjAxMyA5Ljc0NXM0LjM2OSA5Ljc1MSA5Ljc0MSA5Ljc1MXptMC0xNy4zMzVjNC4xNzcgMCA3LjU3NyAzLjQwMiA3LjU3NyA3LjU4NCAwIDQuMTgyLTMuNCA3LjU4NC03LjU3NyA3LjU4NC00LjE3OCAwLTcuNTc3LTMuNDAyLTcuNTc3LTcuNTg0IDAtNC4xODIgMy4zOTktNy41ODQgNy41NzctNy41ODR6Ii8+PC9zdmc+');
    background-repeat: no-repeat;
    background-position: 16px center;
    background-size: 16px;
  }

  .fd-popover__body {
    width: 100%;
  }

  .fd-menu {
    max-height: 50vh;
    overflow-y: auto;

    .no-entries {
      font-style: italic;
    }
  }
}
