.ui5-generic-list {
  .body-fallback {
    font-size: 18px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    color: var(--sapList_TextColor);
  }
}

.cursor-pointer {
  cursor: pointer;
}
