.ui5-generic-list {
  ui5-table-row {
    cursor: default;
  }

  .body-fallback {
    font-size: 18px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    color: var(--sapList_TextColor);
  }
}

.generic-list-search {
  display: inline-block;
}
