.search-input-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  #search-input {
    margin: 0;
  }
}

@container (max-width: 450px) {
  .search-input-container {
    flex-direction: column;
    align-items: start;
    justify-content: end;
    gap: 0.15rem;
  }
}
