.search-input-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .search-input {
    margin: 0;

    &:focus {
      .search-icon {
        &:hover {
          color: var(--sapIllus_HoverButtonColor);
        }
      }
    }

    .search-icon {
      &:hover {
        box-shadow: var(--sapField_Hover_Shadow);
      }
    }
  }
}

@container (max-width: 450px) {
  .search-input-container {
    flex-direction: column;
    align-items: start;
    justify-content: end;
    gap: 0.15rem;
  }
}
