.namespace-context {
  max-width: fit-content;

  .namespace-name {
    color: var(--sapNeutralColor);
    font-size: var(--sapFontSize);
  }
}

.help-text {
  font-size: var(--sapFontSize);
  color: var(--sapTextColor);

  div {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

  &__name {
    display: inline;
    padding-right: 0.5rem;
  }
}

.help-header {
  font-size: 1rem;
  margin: 24px 10px 10px;
  color: var(--sapTextColor);
  font-weight: bold;
}

.help-divider {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  margin-bottom: 0.75rem;
  background-color: var(--sapContent_Illustrative_Color6);
}

.short-help {
  margin: 6px 8px 2px;
  color: var(--sapNeutralColor);
}

.help {
  max-height: 40vh;
  overflow: auto;
  margin: 8px;
  margin-right: 0;

  table {
    width: 100%;

    th {
      text-align: left;
      padding-bottom: 8px;
    }

    td {
      padding-bottom: 8px;
      padding-top: 8px;
      //border-top: 1px solid var(--sapContent_Illustrative_Color6);
    }
  }
}

.key {
  display: inline;
  background: var(--sapNeutralBackground);
  padding-right: 4px;
  padding-left: 3px;
  border-radius: 2px;
  color: var(--sapNeutralColor);
}
