<header class="fd-page__header fd-has-background-color-background-2">
  <section
    class="fd-section fd-has-padding-bottom-none fd-has-padding-left-regular"
  >
    <div fd-action-bar id="action-bar">
      <section id="action-bar-wrapper">
        <section>
          <fd-breadcrumb>
            <fd-breadcrumb-item>
              <a
                href="javascript:void(null)"
                fd-breadcrumb-link
                (click)="navigateToList()"
              >
                Applications
              </a>
            </fd-breadcrumb-item>
            <fd-breadcrumb-item> </fd-breadcrumb-item>
          </fd-breadcrumb>
          <div fd-action-bar-header class="fd-has-padding-top-none">
            <h3 fd-action-bar-title>
              {{ currentAppId }}
            </h3>
          </div>
        </section>
        <div fd-action-bar-actions>
          <button
            fd-button
            *ngIf="!isReadOnly"
            [options]="'emphasized'"
            (click)="showUrl()"
          >
            Connect Application
          </button>
          <button
            fd-button
            [options]="'light'"
            (click)="openEditApplicationModal()"
          >
            Edit
          </button>
          <button
            fd-button
            *ngIf="!isReadOnly"
            [options]="'light'"
            [fdType]="'negative'"
            (click)="displayDeleteApplicationModal()"
          >
            Delete
          </button>
        </div>
      </section>
    </div>
  </section>
  <fd-panel-body [bleed]="true" *ngIf="application">
    <fd-panel-grid [col]="4" [nogap]="true">
      <fd-panel>
        <fd-panel-body>
          <p class="fd-has-color-text-4 fd-has-margin-bottom-none">Name</p>
          <p>{{ application.name }}</p>
        </fd-panel-body>
      </fd-panel>
      <fd-panel>
        <fd-panel-body>
          <p class="fd-has-color-text-4 fd-has-margin-bottom-none">Status</p>
          <p>
            <span
              class="fd-status-label"
              [ngClass]="determineClass(application)"
              >{{ prettyStatus }}</span
            >
          </p>
        </fd-panel-body>
      </fd-panel>
      <fd-panel>
        <fd-panel-body>
          <p class="fd-has-color-text-4 fd-has-margin-bottom-none">
            Description
          </p>
          <p>
            {{ application.description ? application.description : emptyText }}
          </p>
        </fd-panel-body>
      </fd-panel>
      <fd-panel>
        <fd-panel-body>
          <p class="fd-has-color-text-4 fd-has-margin-bottom-none">Labels</p>
          <p>
            <ng-container *ngIf="transformedLabels.length">
              <span
                class="fd-token y-fd-token y-fd-token--no-button"
                role="button"
                *ngFor="let label of transformedLabels"
              >
                {{ label }}
              </span>
            </ng-container>
            <ng-container *ngIf="!transformedLabels.length">
              <span>{{ emptyText }}</span>
            </ng-container>
          </p>
        </fd-panel-body>
      </fd-panel>
    </fd-panel-grid>
  </fd-panel-body>
</header>
<ng-container *ngIf="application">
  <section class="fd-section">
    <fd-panel class="y-fd-panel">
      <fd-panel-header>
        <fd-panel-head>
          <h2 fd-panel-title>Namespace Bindings</h2>
        </fd-panel-head>
        <fd-panel-actions>
          <button
            fd-button
            [options]="'light'"
            [glyph]="'add'"
            (click)="openCreateBindingsModal()"
          >
            Create Binding
          </button>
        </fd-panel-actions>
      </fd-panel-header>

      <fd-panel-body [bleed]="true">
        <table fd-table *ngIf="boundNamespaces.length > 0">
          <thead>
            <tr>
              <th>Name</th>
              <th class="y-fd-table--col-3">
                Service & event bindings
              </th>
              <th class="y-fd-table--col-1"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let namespace of boundNamespaces">
              <td
                class="fd-has-font-weight-bold"
                (click)="openBindingsDetailsModal(namespace.namespace)"
              >
                <a
                  href="javascript:void(null)"
                  [attr.data-e2e-id]="'application-name'"
                  >{{ namespace.namespace }}</a
                >
              </td>
              <td>
                {{
                  (namespace.allServices && application.services.length) ||
                    namespace.services.length
                }}/{{ application.services.length }}
              </td>
              <td class="fd-has-float-right">
                <y-list-actions
                  [entry]="namespace.namespace"
                  [entryEventHandler]="entryEventHandler"
                  [actions]="actions"
                ></y-list-actions>
              </td>
            </tr>
          </tbody>
        </table>
      </fd-panel-body>
    </fd-panel>
  </section>

  <section class="fd-section" *ngIf="application.services.length > 0">
    <fd-panel class="y-fd-panel">
      <fd-panel-header>
        <fd-panel-head>
          <h2 fd-panel-title>Provided Services & Events</h2>
        </fd-panel-head>
      </fd-panel-header>
      <fd-panel-body [bleed]="true">
        <table fd-table>
          <thead>
            <tr>
              <th>ServiceClass Name</th>
              <th class="y-fd-table--col-1">API</th>
              <th class="y-fd-table--col-1">Events</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let service of application.services">
              <td>
                <span class="fd-has-font-weight-bold">
                  {{ service.displayName }}
                </span>
              </td>
              <td>
                <span
                  class="sap-icon--l"
                  ngClass="{{
                    hasType(service.entries, 'API')
                      ? 'sap-icon--accept fd-has-color-status-1'
                      : 'sap-icon--decline fd-has-color-status-4'
                  }}"
                  role="presentation"
                >
                </span>
              </td>
              <td>
                <span
                  class="sap-icon--l"
                  ngClass="{{
                    hasType(service.entries, 'Events')
                      ? 'sap-icon--accept fd-has-color-status-1'
                      : 'sap-icon--decline fd-has-color-status-4'
                  }}"
                  role="presentation"
                >
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </fd-panel-body>
    </fd-panel>
  </section>
</ng-container>

<app-copy2clipboard-modal #fetchModal></app-copy2clipboard-modal>
<app-edit-bindings-modal #editbindingsmodal></app-edit-bindings-modal>
<app-bindings-details-modal #bindingsdetailsmodal></app-bindings-details-modal>
<app-create-bindings-modal #createbindingsmodal></app-create-bindings-modal>
<app-information-modal #infoModal></app-information-modal>
<app-edit-application-modal
  #editApplicationModal
  *ngIf="application"
  [name]="application.name"
  [initialDescription]="application.description"
  [initialLabels]="transformedLabels"
>
</app-edit-application-modal>
<app-confirmation-modal #confirmationModal></app-confirmation-modal>
