.action-bar-title {
    width: 100%;
}

#action-bar-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 600px) {
    .fd-action-bar__actions {
        justify-content: flex-start;
    }

    #action-bar-wrapper {
        display: block;
    }
}