.columns-input {
  display: grid;
  grid-template-columns: 1fr 8fr 8fr 3fr;
  column-gap: 20px;

  ui5-checkbox {
    margin-top: -6.75px;
  }
}

.resource-form--unset-height {
  height: unset;
}

.extension-create-container {
  overflow: auto;
  height: 100%;
  min-height: calc(100vh - 14.5rem);
}
