.kubeconfig-upload {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  overflow: auto;

  .resource-form__wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100px;
  }

  .editor-label {
    text-align: center;
  }
}
