.link {
    color: var(--fd-color-action-1);
    cursor: pointer;
}

.has-max-width-m, .has-max-width-medium {
    max-width: 300px;
}

.has-white-space-normal {
    white-space: normal;
}

.has-word-break-break-word {
    word-break: break-word;
}