.resource-graph {
  .fd-layout-panel__header {
    display: flex;
    justify-content: space-between;
  }

  .view-switcher {
    width: 150px;
    display: flex;
  }

  .view-switcher__tooltip {
    display: flex !important;
    justify-content: center;
    flex-direction: column;
  }
}

#graphviz0 {
  display: flex;
  justify-content: center;
  background: var(--sapNeutralBackground);

  .node > polygon,
  .cluster > polygon {
    fill: var(--sapGroup_ContentBackground);
  }

  .node:not(.root-node) > polygon,
  .cluster > polygon {
    cursor: pointer;
  }

  .node:not(.root-node) * {
    cursor: pointer;
  }

  #graph0 > polygon {
    fill: var(--sapNeutralBackground);
  }
}

#graph-area {
  position: relative;

  .controls {
    bottom: 10px;
    position: absolute;

    &__right {
      right: 10px;
    }

    &__left {
      left: 10px;
    }
  }
}
