.feature-card {
  position: relative;
  display: flex;

  .outer-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }

  .inner-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;

    .button-container {
      display: flex;
      gap: 16px;
    }
  }

  .decline-button {
    position: absolute;
    top: 12.5px;
    right: 17.5px;
    color: var(--sapContent_IconColor);
  }

  .illustration {
    max-height: 180px;
    max-width: 100%;
    margin-right: 4%;
  }
}

@container (max-width: 850px) {
  .feature-card {
    .illustration {
      margin-right: 0%;
    }
  }
}

@container (max-width: 625px) {
  .feature-card {
    .outer-container {
      flex-direction: column-reverse;
      gap: 16px;
    }
  }
}
