@import '~fundamental-styles/dist/margins.css';
@import '~@sap-theming/theming-base-content/content/Base/baseLib/sap_fiori_3/css_variables.css';

html {
  font-size: 16px;
  font-family: var(
    --sapFontFamily,
    '72',
    '72full',
    Arial,
    Helvetica,
    sans-serif
  );
}

body {
  margin: 0;
  padding: 0;
}

button {
  font-size: inherit;
}

.fd-overlay.fd-overlay--modal {
  --fd-overlay-background-color: rgba(0, 0, 0, 0.6);
}

.dont-break-words {
  word-break: keep-all;
}

.empty-list {
  width: 100%;
  font-family: '72';
  text-align: center;
  font-size: 20px;
  color: #32363a;
  padding: 30px;
}

.link {
  color: var(--sapBrandColor);
  border: none;
  text-decoration: none;
  background: none;
  cursor: pointer;
  &--bold {
    font-weight: 700;
  }
}

.fd-token {
  font-size: 0.75rem !important;
  flex: none !important;
  padding: 0 8px !important;

  &--readonly {
    .fd-token__close {
      display: none !important;
    }
    &::after {
      content: none !important;
    }

    &:hover {
      background-color: initial !important;
      border-color: initial !important;
    }
  }

  .fd-token__close {
    padding-right: 0;
    display: inline;
  }
}

.clear-underline {
  text-decoration: none !important;
}

.has-padding-0 {
  padding: 0;
}

.fd-dialog {
  .fd-bar--footer {
    padding-right: unset;
    padding-left: unset;
    padding: 0.5rem 1rem;
    height: auto;
    .fd-bar__right {
      padding: 0;
    }
  }
}

.y-fd-token {
  &.y-fd-token {
    border: 1px solid var(--sapNeutralBackground);

    &--no-button {
      cursor: default;
    }

    &--no-button:after {
      all: unset;
    }

    &--gap:not(:last-of-type) {
      margin-right: 8px;
    }
  }
}

@font-face {
  font-family: '72';
  src: url('~@sap-theming/theming-base-content/content/Base/baseLib/sap_base_fiori/fonts/72-Regular-full.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '72';
  src: url('~@sap-theming/theming-base-content/content/Base/baseLib/sap_base_fiori/fonts/72-Bold-full.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: '72';
  src: url('~@sap-theming/theming-base-content/content/Base/baseLib/sap_base_fiori/fonts/72-Light-full.woff')
    format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SAP-icons';
  src: url('~@sap-theming/theming-base-content/content/Base/baseLib/sap_fiori_3/fonts/SAP-icons.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BusinessSuiteInAppSymbols';
  src: url('~@sap-theming/theming-base-content/content/Base/baseLib/sap_fiori_3/fonts/BusinessSuiteInAppSymbols.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SAP-icons-TNT';
  src: url('~@sap-theming/theming-base-content/content/Base/baseLib/sap_fiori_3/fonts/SAP-icons-TNT.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
