@import '~fundamental-styles/dist/margins.css';
@import '~@sap-theming/theming-base-content/content/Base/baseLib/sap_fiori_3/css_variables.css';

html {
  font-size: 16px;
  font-family: var(
    --sapFontFamily,
    '72',
    '72full',
    Arial,
    Helvetica,
    sans-serif
  );
}

body {
  margin: 0;
  padding: 0;
}

button {
  font-size: inherit;
}

.fd-overlay.fd-overlay--modal {
  --fd-overlay-background-color: rgba(0, 0, 0, 0.6);
}

.dont-break-words {
  word-break: keep-all;
}

.empty-list {
  width: 100%;
  font-family: '72';
  text-align: center;
  font-size: 20px;
  color: #32363a;
  padding: 30px;
}

.link {
  color: var(--sapBrandColor);
  border: none;
  text-decoration: none;
  background: none;
  cursor: pointer;
  &--bold {
    font-weight: 700;
  }
}

.fd-token {
  font-size: 0.75rem !important;
  flex: none !important;
  padding: 0 8px !important;

  &--readonly {
    .fd-token__close {
      display: none !important;
    }
    &::after {
      content: none !important;
    }

    &:hover {
      background-color: initial !important;
      border-color: initial !important;
    }
  }

  .fd-token__close {
    padding-right: 0;
    display: inline;
  }
}

.clear-underline {
  text-decoration: none !important;
}

.has-padding-0 {
  padding: 0;
}

.fd-dialog {
  z-index: 1000;
  .fd-bar--footer {
    padding-right: unset;
    padding-left: unset;
    padding: 0.5rem 1rem;
    height: auto;
    .fd-bar__right {
      padding: 0;
    }
  }
}
.fd-form-item .fd-form-select {
  margin-top: 0.25rem; // to align with other inputs
}

.y-fd-token {
  &.y-fd-token {
    border: 1px solid var(--sapNeutralBackground);

    &--no-button {
      cursor: default;
    }

    &--no-button:after {
      all: unset;
    }

    &--gap:not(:last-of-type) {
      margin-right: 8px;
    }
  }
}

.fd-popover__popper {
  max-height: 200px !important;
  overflow-y: auto !important;
  .fd-list--dropdown {
    max-width: 100% !important;
  }
}

// @font-face {
//   font-family: '72';
//   src: url('~@sap-theming/theming-base-content/content/Base/baseLib/sap_base_fiori/fonts/72-Regular-full.woff')
//     format('woff');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: '72';
//   src: url('~@sap-theming/theming-base-content/content/Base/baseLib/sap_base_fiori/fonts/72-Bold-full.woff')
//     format('woff');
//   font-weight: 700;
//   font-style: normal;
// }
// @font-face {
//   font-family: '72';
//   src: url('~@sap-theming/theming-base-content/content/Base/baseLib/sap_base_fiori/fonts/72-Light-full.woff')
//     format('woff');
//   font-weight: 300;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'SAP-icons';
//   src: url('~@sap-theming/theming-base-content/content/Base/baseLib/sap_fiori_3/fonts/SAP-icons.woff')
//     format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'BusinessSuiteInAppSymbols';
//   src: url('~@sap-theming/theming-base-content/content/Base/baseLib/sap_fiori_3/fonts/BusinessSuiteInAppSymbols.woff')
//     format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'SAP-icons-TNT';
//   src: url('~@sap-theming/theming-base-content/content/Base/baseLib/sap_fiori_3/fonts/SAP-icons-TNT.woff')
//     format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

.message-toast--wrapper {
  position: fixed;
  transition: all ease-in-out 0.4s;
  z-index: 1100;
  cursor: pointer;
  left: -1000px;
  bottom: 50px;

  &.visible {
    left: 50%;
    transform: translateX(-50%);
  }

  .fd-message-toast {
    line-height: 1.42857;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: auto;
    max-width: 20rem;
    -webkit-box-shadow: 0 0 0 0.0625rem rgba(0, 0, 0, 0.42),
      0 0.625rem 1.875rem 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: var(
      --sapContent_Shadow2,
      0 0 0 0.0625rem rgba(0, 0, 0, 0.42),
      0 0.625rem 1.875rem 0 rgba(0, 0, 0, 0.3)
    );
    box-shadow: 0 0 0 0.0625rem rgba(0, 0, 0, 0.42),
      0 0.625rem 1.875rem 0 rgba(0, 0, 0, 0.3);
    box-shadow: var(
      --sapContent_Shadow2,
      0 0 0 0.0625rem rgba(0, 0, 0, 0.42),
      0 0.625rem 1.875rem 0 rgba(0, 0, 0, 0.3)
    );
    border-radius: 0.25rem;
    border-radius: var(--sapElement_BorderCornerRadius, 0.25rem);
    padding: 1rem;
    font-family: '72', '72full', Arial, Helvetica, sans-serif;
    font-family: var(
      --sapFontFamily,
      '72',
      '72full',
      Arial,
      Helvetica,
      sans-serif
    );
    font-size: 12px;
    background-color: var(--sapBaseColor);
    color: var(--sapTextColor);
    word-break: break-word;
    text-align: center;

    &:after,
    &:before {
      -webkit-box-sizing: inherit;
      box-sizing: inherit;
      font-size: inherit;
    }
  }
}

li {
  list-style-type: none;
}
