<div class="tn-card tn-card--button" routerLink="/home/environments/{{entry.getId()}}" [ngClass]="{'sf-list__disabled': disabled === true}">
  <div class="tn-card__content">
    <div class="row">
      <div class="col">
        <h2 class="tn-card__header">{{ entry.getLabel() }}</h2>
      </div>
      <div class="col text-right">
        <y-list-actions [entry]="entry" [entryEventHandler]="entryEventHandler" [actions]="actions"></y-list-actions>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="sf-sku">
          <span class="sf-sku__value">{{ entry.services && (entry.services | async) !== null ? (entry.services | async) : 0 }}</span>
          <span class="sf-sku__label">{{ (entry.services | async) === 1 ? "Service" : "Services" }}</span>
        </div>
      </div>
      <div class="col">
        <div class="sf-sku">
          <span class="sf-sku__value">{{ entry.remoteEnvs && (entry.remoteEnvs | async) !== null ? (entry.remoteEnvs | async) : 0 }}</span>
          <span class="sf-sku__label">{{ (entry.remoteEnvs |async) === 1 ? "Bound Application":"Bound Applications" }}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-right">
        <span style="font-size: smaller; color: grey;">{{ entry.getUid() }}</span>
      </div>
    </div>
  </div>
</div>
