.popover-badge {
  text-transform: uppercase;
  white-space: nowrap !important;
  text-align: center;
}

.badge-wrap {
  width: fit-content;
  height: fit-content;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
