.create-modal {
    .fd-dialog__body {
        padding: 0;
        min-width: 25rem;
        width: 75vw;
        height: 50vh;
        max-height: calc(100vh - 8rem);
    }

    .dropdown {
        margin-top: unset;
    }
}
