.file-input {
  display: grid;
  font-size: var(--sapFontHeader4Size, 0.875rem);
  place-items: center;
  height: 80px;
  border-radius: 8px;
  background: var(--sapButton_Background);
  padding: 45px 25px;
  border: 2px dashed var(--sapList_BorderColor);
  color: #0a6ed1;

  &,
  & > * {
    cursor: pointer;
    text-align: center;
  }

  i {
    display: block;
    color: var(--sapBrandColor, #0a6ed1);
  }

  input[aria-hidden='true'] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  &__secondary {
    color: var(--sapTextColor);
    font-size: var(--sapFontSize);
    margin-top: 10px;
  }

  &--drag-over {
    border: 1px solid var(--sapBrandColor, #0a6ed1);
  }

  &__icon {
    border-radius: 4px;
    padding: 7px 15px;
    border: 2px dashed var(--sapBrandColor);
  }
}
