<div luigiClientCommunication [isActive]="isActive">
  <fd-modal class="y-fd-modal" #copyToClipboardModal role="dialog" aria-labelledby="confirm"
    (click)="$event.stopPropagation()">
    <fd-modal-header>{{ title }}</fd-modal-header>
    <fd-modal-body>
      <p class="fd-has-color-text-4 fd-has-font-style-italic fd-has-margin-bottom-small" *ngIf="message">
        {{ message }}
      </p>
      <textarea fd-form-control readonly type="text" class="" ngClass="{{ message ? 'fd-form__control--border' : '' }}"
        value="{{ content }}" placeholder="content will be copied after clicking the copy button" rows="10"
        cols="50"></textarea>
    </fd-modal-body>
    <fd-modal-footer>
      <div class="fd-has-clearfix">
        <button fd-button class="fd-has-float-right" (click)="cancel($event)" [fdType]="'main'">
          OK
        </button>
        <button fd-button class="fd-has-float-left" [class.fd-has-color-status-1]="isCopied"
          (cbOnSuccess)="isCopied = true; removeSuccessClass()" type="button" ngxClipboard [cbContent]="content"
          [options]="'light'">
          Copy to clipboard
        </button>
      </div>
    </fd-modal-footer>
  </fd-modal>
</div>