$sf-base-color-black: black;
$sf-base-color-yellow: #FDB813;
$sf-base-color-blue: #167EE6;
$sf-base-color-red: #e02121;
$sf-dark-color-red: #A92121;

$prefix: 'sf-modal';

.tn-modal__title {
  margin-bottom: 0;
  line-height: 2;
}

textarea {
  height: 14em;
  resize: none;
  border: none;
}

.copybtn {
  float: left !important;
}

.copysuccess {
  color: #61bf33;
}

.#{$prefix} {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	overflow: auto;
	opacity: 0;
	pointer-events: none;

	//display: none;
	&.is-active{
		//display: block;
		opacity: 1;
		pointer-events: all;
	}

	&:before{
		content: '';
		background: rgba(0, 0, 0, 0.5);
		position: fixed;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 999;
	}

	.tn-modal{
		z-index: 1000;
		position: relative;
		width: 80%;
		max-width: 1200px;
		display: block;
	}

	.tn-modal__header,
	.tn-modal__body,
	.tn-modal__footer-items{
		padding: 20px;
	}

	&--min{
		.tn-modal{
			max-width: 460px;
			width: 90%;
		}
	}
}