@import '_variables';

// Base
$sf-header-background-color: $sf-base-color-white;
$sf-header-min-height: 52px;

// Item
$sf-header-item-color-active: $sf-base-color-blue;

.sf {
  &-header {
    :host(&) {
      display: flex;
      width: 100%;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      min-height: $sf-header-min-height;
      background: $sf-header-background-color;
      box-shadow: 0 1px 2px 0 rgba($sf-base-color-black, 0.15);
    }

    &__right {
      display: flex;
      margin-left: auto !important;
    }

    &__group {
      display: flex;
      border-right: 1px solid #d8d8d8;
    }

    &__item {
      display: flex;
      align-items: center;

      position: relative;
      vertical-align: middle;
      line-height: 1;
      text-decoration: none;
      flex: 0 0 auto;
      user-select: none;
      background: 0 0;
      padding: 0.92857143em 1.14285714em;
      text-transform: none;
      color: $sf-base-color-black;
      transition: background 0.1s ease, box-shadow 0.1s ease, color 0.1s ease;
      max-height: 52px;

      &:hover {
        background: lighten($sf-header-background-color, 20%);
      }

      &:focus {
        background: lighten($sf-header-background-color, 15%);
      }

      &.is-active,
      &[aria-expanded='true'] {
        color: $sf-header-item-color-active;

        .sf-icon {
          fill: $sf-header-item-color-active;
        }
      }

      &.visible-xs {
        @media (min-width: 768px) {
          display: none;
        }
      }

      img {
        min-width: 60px;
      }

      .fd-global-nav__product-name {
        color: #515559;
        font-weight: 600;
        padding-left: 10px;
      }
    }

    // Special Aligment for tn-dropdowns to avoid alignment issues
    &__dropdown {
      cursor: pointer;
      padding-top: 2px;

      .tn-dropdown__menu {
        top: 100%;
        transform: none;
      }
    }
  }
}

.sf-icon {
  // Default Color
  fill: #32363a;
}
