<tr [ngClass]="{ disabled: disabled === true }">
  <td>
    <a href="javascript:void(null)" (click)="navigateToDetails(entry.metadata.name)">
      {{ entry.metadata.name }}
    </a>
  </td>
  <td>{{ entry.spec.clusterIP }}</td>
  <td>
    <ng-container *ngFor="let port of entry.spec.ports">
      <span>
        {{ entry.metadata.name }}.{{ entry.metadata.namespace }}:
        {{ port.port }}
        {{ port.protocol }}
      </span>

      <span>
        {{ entry.metadata.name }}.{{ entry.metadata.namespace }}:
        {{ port.nodePort || 0 }}
        {{ port.protocol }}
      </span>
    </ng-container>
  </td>
  <td>{{ entry.metadata.creationTimestamp | timeAgo }}</td>
  <td>
    <span *ngFor="let label of getLabels(entry.metadata.labels)" class="fd-token y-fd-token y-fd-token--no-button">
      {{ label }}
    </span>
    <ng-container *ngIf="!getLabels(entry.metadata.labels).length">
      {{ emptyText }}
    </ng-container>
  </td>
  <td>
    <app-status-label [statusType]="getStatusType(entry)">
      {{ getStatus(entry) }}
    </app-status-label>
  </td>
  <td class="fd-has-float-right">
    <y-list-actions [entry]="entry" [entryEventHandler]="entryEventHandler" [actions]="actions"></y-list-actions>
  </td>
</tr>
