.commitment-graph {
  .fd-layout-panel__filters {
    border: 0;
    padding: 0;
  }

  .query-dropdown {
    width: 220px;
  }

  .graph-wrapper {
    min-height: 130px;
    place-items: center;
    display: grid;
  }

  .graph {
    width: 100%;
    height: 40px;

    div {
      height: 100%;
      display: inline-block;
    }
  }
  .graph-legend {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4px 12px;
    @media (max-width: 900px) {
      display: flex;
    }

    & > div {
      cursor: help;
    }

    .legend-box {
      height: 1em;
      width: 1em;
      display: inline-block;
      margin-right: 0.5em;
    }
  }
}

.graph-box--requests {
  background: var(--sapIndicationColor_4);
  fill: var(--sapIndicationColor_4);
}

.graph-box--limits {
  background: var(--sapIndicationColor_3);
  fill: var(--sapIndicationColor_3);
}

.graph-box--allocatable {
  background: var(--sapContent_Illustrative_Color6);
  fill: var(--sapContent_Illustrative_Color6);
}

.graph-box--allocated {
  background: var(--sapIndicationColor_5);
  fill: var(--sapIndicationColor_5);
}
