.kubeconfig-upload {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  overflow: auto;
  height: calc(90vh - 8rem);

  .editor-label {
    text-align: center;
  }

  .resource-form__wrapper {
    height: 300px;
  }

  &__form {
    height: 100% !important;
    padding-bottom: 0 !important;
  }
}
