.kubeconfig-upload {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: calc(90vh - 11.85rem);
  margin-bottom: 1rem;

  .editor-label {
    text-align: center;
  }

  .resource-form {
    padding: 0;

    .resource-form--panel,
    .resource-form--panel::part(content) {
      margin: 0 !important;
      min-height: unset !important;
    }

    &__wrapper {
      max-height: calc(90vh - 16rem - 290px);
      min-height: unset;
    }

    &__editor {
      border-radius: 0 0 var(--sapElement_BorderCornerRadius)
        var(--sapElement_BorderCornerRadius);
    }
  }

  &__form {
    padding-bottom: 0 !important;
  }
}
