<div luigiClientCommunication [isActive]="isActive">
  <ng-template
    let-modal
    class="y-fd-modal"
    #editApplicationModal
    role="dialog"
    aria-labelledby="confirm"
  >
    <fd-modal-header>
      Edit Application
    </fd-modal-header>
    <fd-modal-body>
      <form #editApplicationsForm="ngForm">
        <div
          class="fd-alert fd-alert--error fd-has-margin-bottom-small"
          role="alert"
          *ngIf="error"
        >
          {{ error }}
        </div>
        <div fd-form-set>
          <div fd-form-item>
            <label fd-form-label>Description *</label>
            <input
              fd-form-control
              autofocus
              [type]="'text'"
              name="applicationDescription"
              [(ngModel)]="updatedDescription"
              placeholder="Specify a description for your Application"
            />
          </div>
          <div fd-form-item>
            <label fd-form-label>Labels</label>
            <app-labels-input
              [labels]="updatedLabels"
              (labelsChangeEmitter$)="updateLabelsData($event)"
            ></app-labels-input>
          </div>
        </div>
      </form>
    </fd-modal-body>
    <fd-modal-footer>
      <button fd-button (click)="close()" [options]="'light'">Cancel</button>
      <button
        fd-button
        ngClass="{{ isReadyToSave() ? '' : 'disabled' }}"
        [disabled]="!isReadyToSave()"
        (click)="save()"
        [fdType]="'main'"
      >
        Save
      </button>
    </fd-modal-footer>
  </ng-template>
</div>
