.create-event-trigger-form {
  .fd-panel__head {
    display: none;
  }

  .fd-panel__actions {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .generic-list__search,
  .generic-list-search,
  .fd-popover__control,
  .fd-combobox-control {
    width: 100%;
  }

  .fd-combobox-control > input {
    width: 100%;
    margin-right: 0;
  } 

  .fd-input {
    border-width: 1px !important;
  }
}
