.settings-dialog::part(content) {
  overflow-y: auto;
  width: 100%;
  height: 75vh;
  padding: 0 !important;
  list-style-type: none;
}

.settings-row {
  display: grid;
  grid-template-columns: 3fr 3fr;
  align-items: center;
  padding: 16px;
  font-size: var(--sapFontSize);

  & > :first-child {
    text-align: right;
    margin-right: 16px;
  }

  & > ui5-label {
    font-weight: bold;
  }
}

.validation-row {
  grid-template-columns: 1fr fit-content(50%);
}
