.create-form {
  height: 50vh;
  min-width: 25rem;
  display: flex;
  flex-direction: column;

  .dropdown {
    margin-top: unset;
  }

  .form-field {
    align-items: baseline;

    @media (min-width: 600px) {
      &__label {
        text-align: right;
      }
    }
  }

  .fd-form-item .fd-popover {
    width: 100%;
  }

  form > .fd-margin--sm + .fd-margin--sm {
    margin-top: -1em !important;
  }

  .simple-form,
  .advanced-form {
    // height: calc(100% - 73px);
    overflow: auto;
    flex-grow: 1;
  }
}
