.ai-insights-view {
  height: calc(100vh - 60px - 1rem);
  display: flex;
  flex-direction: column;

  &__chat {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: auto;
    position: relative;
    padding-bottom: 1rem;

    &::-webkit-scrollbar {
      display: none;
    }

    .context-group {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .message-context {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .message-container.left-aligned {
          position: relative;
          align-self: flex-start;
        }
      }
    }
  }

  &__loading {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.5rem 0.25rem;
    align-self: flex-start;
  }

  &__ttft {
    display: block;
    margin-inline: 0.5rem;
    margin-bottom: 0.25rem;
    font-size: 12px;
    color: var(--sapNeutralColor);
  }

  .markdown.message > *:first-child {
    margin-top: 0;
  }

  &__code {
    background: var(--sapBaseColor);
    padding: 0.5rem 0.75rem;
    border-radius: 8px;
    overflow-x: auto;
    font-family: var(--sapFontFamily);
    font-size: 14px;
    margin: 0.5rem 0;
  }
}
