.chat-container {
  height: calc(100vh - 60px - 1rem);
  overflow: hidden;

  .chat-list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 8px;

    &::-webkit-scrollbar {
      display: none;
    }

    .message-container.left-aligned {
      position: relative;
      align-self: flex-start;
    }

    .message-container.right-aligned {
      position: relative;
      align-self: flex-end;
    }
  }

  .outer-input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .input-container {
      position: relative;

      #text-area-icon {
        position: absolute;
        right: 0.5rem;
        bottom: 0.6rem;
      }
    }

    #disclaimer {
      font-size: 0.65rem;
    }
  }
}
