.chat-container {
  height: calc(100vh - 60px - 1rem);
  overflow: hidden;

  .chat-list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 8px;

    &::-webkit-scrollbar {
      display: none;
    }

    .left-aligned {
      position: relative;
      align-self: flex-start;
      border-radius: 8px 8px 8px 0;
      z-index: 0;
    }

    .left-aligned::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--sapNeutralColor);
      opacity: 0.2;
      border-radius: 8px 8px 8px 0;
      z-index: -1;
    }

    .right-aligned {
      position: relative;
      align-self: flex-end;
      border-radius: 8px 8px 0 8px;
      z-index: 0;
    }

    .right-aligned::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--sapContent_Illustrative_Color1);
      opacity: 0.25;
      border-radius: 8px 8px 0 8px;
      z-index: -1;
    }
  }

  .outer-input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .input-container {
      position: relative;

      #text-area-icon {
        position: absolute;
        right: 0.5rem;
        bottom: 0.6rem;
      }
    }

    #disclaimer {
      font-size: 0.65rem;
    }
  }
}
