.chat-container {
  height: calc(100vh - 60px - 1rem);

  &.split {
    display: grid;
    grid-template-rows: 55% 45%;
    grid-template-columns: 100%;
  }

  .chat-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: auto;
    position: relative;
    &::-webkit-scrollbar {
      display: none;
    }

    .context-group {
      display: flex;
      flex-direction: column;
      gap: 8px;

      &:not(:first-child) {
        margin-top: 8px;
      }

      .message-context {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .message-container.left-aligned {
          position: relative;
          align-self: flex-start;
        }

        .message-container.right-aligned {
          position: relative;
          align-self: flex-end;
        }
      }
    }
  }
}

.chat-loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px - 1rem);
  margin: 0;
  background: var(--sapAssistant_BackgroundGradient);

  .chat-loading-indicator {
    height: 416px;
  }
}
