.chat-container {
  height: calc(100vh - 60px - 1rem);

  .chat-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 8px;

    &::-webkit-scrollbar {
      display: none;
    }

    .left-aligned {
      position: relative;
      align-self: flex-start;
      border-radius: 8px 8px 8px 0;
    }

    .right-aligned {
      position: relative;
      align-self: flex-end;
      border-radius: 8px 8px 0 8px;
      background-color: var(--sapAssistant_Question_Background);
    }
  }

  .outer-input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .input-container {
      position: relative;

      #text-area-icon {
        position: absolute;
        right: 0.5rem;
        bottom: 0.6rem;
      }
    }

    #disclaimer {
      font-size: 0.65rem;
    }
  }
}
