<div luigiClientCommunication [isActive]="isActive">
  <ng-template
    let-modal
    class="y-fd-modal"
    #resourceUploader
    role="dialog"
    aria-labelledby="confirm"
  >
    <fd-modal-header>
      Upload resource
    </fd-modal-header>

    <fd-modal-body>
      <fd-alert
        class="fd-has-margin-bottom-small"
        [type]="'error'"
        *ngIf="uploader.err"
      >
        {{ uploader.err }}
      </fd-alert>
      <app-uploader #uploader></app-uploader>
    </fd-modal-body>

    <fd-modal-footer>
      <button fd-button [options]="'light'" (click)="handleModalClose()">
        Cancel
      </button>
      <button
        fd-button
        (click)="upload($event)"
        [disabled]="!uploader.isFileReadyToUpload()"
        [fdType]="'main'"
      >
        Upload
      </button>
    </fd-modal-footer>
  </ng-template>
</div>

<app-information-modal #infoModal></app-information-modal>
