#ns-details-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    'workloads workloads workloads workloads apps apps'
    'quotas quotas quotas limits limits limits';
  padding: 2em;
  grid-gap: 2em;

  @media screen and (max-width: 968px) {
    grid-template-areas:
      'workloads workloads workloads workloads workloads workloads'
      'apps apps apps apps apps apps'
      'quotas quotas quotas quotas quotas quotas'
      'limits limits limits limits limits limits';
  }
}

.namespace-applications {
  grid-area: apps;
}

.namespace-quotas {
  grid-area: quotas;
}

.namespace-limits {
  grid-area: limits;
}
